<div class="center h v column" style="height: 100vh" *ngIf="!validated">
    <h4>{{'VALIDATE_WITHDRAWAL'|translate}} ({{id}})</h4>
    <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate"
        *ngIf="isLoading"></mat-progress-spinner>
</div>

<div class="center h v column" style="height: 100vh" *ngIf="validated">
    <h4>{{'VALIDATE_WITHDRAWAL'|translate}} ({{id}})</h4>
    <p class="col-success"><i class="fa fa-check"></i> {{status|translate}}</p>

    <a routerLink="/login" class="marg-top-20">{{'BACK_TO_LOGIN'|translate}}</a>
</div>

<div class="center h v column" style="height: 100vh" *ngIf="error">
    <h4>{{'VALIDATE_WITHDRAWAL'|translate}} ({{id}})</h4>
    <p class="col-error"><i class="fa fa-warning"></i> {{error}}</p>
</div>