<div class="group-{{direction}}-left {{direction == 'row' ? 'space-between': ''}}">
  <p class="label" style="min-width: 150px">{{label|translate}}</p>
  <p class="label_value name" *ngIf="!edit">{{value ||('Not filled in yet'|translate)}}</p>
  <input type="{{type}}" *ngIf="edit" class="user-input small no-margin width-auto" style="margin-right: 10px!important" [(ngModel)]="value"
    [disabled]="disabled" placeholder="{{(placeholder || label) | translate}}" [ngClass]="{'col-error': badValue}" (input)="changed()" step="0.000000001">
</div>