<div style="height: 100%; padding: 20px">
  <mat-card>
    <tl-subheader>
      <div style="margin-bottom: 15px">
        <mat-checkbox style="margin-right: 20px;" color="primary" [(ngModel)]="enabledAccounts">
          <span class="small-text">{{'ACTIVE_ACCOUNTS' | translate}}</span>
        </mat-checkbox>
        <mat-checkbox style="margin-right: 20px;" color="primary" [(ngModel)]="disabledAccounts">
          <span class="small-text">{{'DISABLED_ACCOUNTS' | translate}}</span>
        </mat-checkbox>
      </div>
    </tl-subheader>

    <div class="group-row-left" style="margin-top: 15px;  ">
      <div class="group-col-left">
        <b *ngIf="enabledAccounts && !disabledAccounts">{{'ACTIVE_ACCOUNTS'|translate}}: </b>
        <b *ngIf="!enabledAccounts && disabledAccounts">{{'DISABLED_ACCOUNTS'|translate}}: </b>
        <b *ngIf="enabledAccounts && disabledAccounts">{{'ALL_ACCOUNTS'|translate}}: </b>

        <div class="group-row-left" style="flex-wrap: wrap; margin-top: 20px"
          *ngIf="user.accounts && user.accounts.length;else loading">

          <mat-chip-list aria-label="Fish selection">
            <ng-container *ngFor="let comp of user.accounts">
              <mat-chip style="margin-bottom: 8px; overflow: hidden;width: 140px; cursor: pointer;"
                routerLink="/accounts/{{comp.id}}" matTooltip="{{'VIEW_ACCOUNT'|translate}}"
                *ngIf="(enabledAccounts && comp.active) || (disabledAccounts && !comp.active)">
                <avatar [account]="comp" [size]="20"></avatar>
              </mat-chip>
            </ng-container>
          </mat-chip-list>
        </div>
        <ng-template #loading>
          <div class="center h v marg-top-20">
            <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
            </mat-progress-spinner>
          </div>
        </ng-template>
      </div>
    </div>
  </mat-card>
</div>