<modal-header title="{{'SEND_CONFIRMATION'|translate}}" (click)="close()"></modal-header>


<div class="group-col-left center v " style="width: 529px; padding: 0!important">
  <div class=" group-row-left center h v " style="margin-top: 20px;" >
    <div class="group-col-left " style="margin-right: 40px;">

      <a class="label" style="font-size: 12;margin-bottom: 15px;">
        {{'TOTAL_TRANSACTIONS'|translate}}:</a>
  
      <a class="label" style="font-size: 12;margin-bottom: 15px;">
        {{'SEND_TYPE'|translate}}:</a>
  
      <a class="label" style="font-size: 12;margin-bottom: 15px;">
        {{'TOTAL_IMPORT'|translate}}:</a>
  
      <a class="label" style="font-size: 12;margin-bottom: 15px;">
        {{'WARNINGS'|translate}}:</a>
  
      <a class="label" style="font-size: 12;margin-bottom: 15px;">
        {{'WHEN'|translate}}:</a>
  
      <a class="label" style="font-size: 12;margin-bottom: 15px;">
        {{'CONCEPT'|translate}}:</a>
  
    </div>
    <div class="group-col-left " style="margin-bottom:17px;margin-top: 17px!important;" >
      <p class=" col-blue" style="margin-bottom: 15px!important;">
        {{totalTransactions}}
      </p>
      <div style="width: 200px;">

        <p class=" col-blue" style="margin-bottom: 15px!important;">
          {{sendType|translate}}
        </p>
      </div>
      
      <p class=" col-blue" style="margin-bottom: 13px!important;">
        {{totalImport}}
      </p>
      <p class=" col-blue" style="margin-bottom: 13px!important;">
        {{warnings}}
      </p>
      <p *ngIf="dateSend else noData" class=" col-blue" style="margin-bottom: 13px!important">
        {{dateSend}}
      </p>
      <ng-template #noData>
        <p class=" col-blue" style="margin-bottom: 13px!important">

          {{'NOW'|translate}}
        </p>
      </ng-template>
      <div style="width: 200px;">
        <p class=" col-blue" style="margin-bottom: 15px!important;">
          {{concept}}
        </p>
      </div>
      
     
    </div>
  </div>
  <button   type="button" style="margin-left: 200px!important;margin-top: 30px;margin-bottom: 15px!important; padding-right: 30px;width: 198px; margin-bottom: 14px; "
      color="primary" mat-raised-button name="button" (click)="send()">
      <mat-icon>send</mat-icon>
      {{'SEND_TRANSACTIONS'|translate}}
  </button>
 

</div>