<modal-header title="{{'SEND_CONFIRMATION'|translate}}" (click)="close()"></modal-header>


<div class="group-col-left center v  container" style="width: 529px; padding: 25px; overflow: hidden!important;">
    <div class="row" style="width:100%; margin-bottom: 5px;">
      <a class="label col-4" style="font-size: 12;">
        {{'TOTAL_TRANSACTIONS'|translate}}:</a>
      <p class=" col-blue col-8">
        {{totalTransactions}}
      </p>
    </div>

    <div class="row" style="width:100%; margin-bottom: 5px;">
      <a class="label col-4" style="font-size: 12;">
        {{'SEND_TYPE'|translate}}:</a>
      <p class=" col-blue col-8">
        {{sendType|translate}}
      </p>
    </div>

    <div class="row" style="width:100%; margin-bottom: 5px;">
      <a class="label col-4" style="font-size: 12;">
        {{'TOTAL_IMPORT'|translate}}:</a>
      <p class=" col-blue col-8">
        {{totalImport/100 | number:'1.2':'es-Es'}}
      </p>
    </div>

    <div class="row" style="width:100%; margin-bottom: 5px;">
      <a class="label col-4" style="font-size: 12;">
        {{'WARNINGS'|translate}}:</a>
      <p class=" col-blue col-8">
        {{warnings}}
      </p>
    </div>

    <div class="row" style="width:100%; margin-bottom: 5px;">
      <a class="label col-4" style="font-size: 12;">
        {{'WHEN'|translate}}:
      </a>
      <p class="col-blue col-8" *ngIf="scheduled else noData">
        {{dateSend}}
      </p>

      <ng-template #noData>
        <p class=" col-blue col-8">
          {{'NOW'|translate}}
        </p>
      </ng-template>
    </div>

    <div class="row" style="width:100%; margin-bottom: 5px;">
      <a class="label col-4" style="font-size: 12;">
        {{'CONCEPT'|translate}}:</a>
      <p style="max-width: 50%;overflow-wrap: break-word;" class="col-blue col-8"
        *ngIf="concept !=null else noConcept">
        {{concept}}
      </p>
      <ng-template #noConcept>
        <p style="max-width: 50%;" class=" col-blue col-8">
          {{"NO_CONCEPT" |translate}}
        </p>
      </ng-template>
    </div>
  <button type="button"
    style="margin-left: 200px!important;margin-top: 30px;margin-bottom: 15px!important; padding-right: 30px;width: 198px; margin-bottom: 14px; "
    color="primary" mat-raised-button name="button" (click)="send()">
    <mat-icon>send</mat-icon>
    {{'SEND_TRANSACTIONS'|translate}}
  </button>


</div>