<div style="height: 100%; padding: 20px">
  <mat-card style="padding: 20px">
    <div class="row" style="margin: 0;">
      <div class="col-lg-12" style="height: auto">
        <b class="small-text-3" style="margin: 15px 0 8px 0!important">{{'OFFERS' | translate}}</b>
        <p class="small-text col-gray-light">
          {{'OFFERS_DESC'|translate}}
        </p>
      </div>
      <div class="col-lg-12" style="margin-top: 15px;">
        <div class="row">
          <div  *ngFor="let offer of account.offers" style="height: 271px;width: 316px;">
            <div style="height: 271px;width: 316px;">
              <mat-card >
              
                <div style="height: 150px;background-color: gray;">
                  <img mat-card-image *ngIf="offer.image" src="{{offer.image}}"
                  alt="Photo of a the offer">
                </div>

                <mat-card-content>
                  <div class="group-row-left space-between" *ngIf="offer.active">
                    <div>
                      {{'Start' | translate}}: <code>{{offer.start | date}}</code>
                    </div>
                    <div>
                      {{'End' | translate}}: <code>{{offer.end | date}}</code>
                    </div>
                  </div>
                  <div class="group-row-left space-between" *ngIf="!offer.active">
                    <p class="col-warn">
                      {{'OFFER_NOT_ACTIVE'|translate}}
                    </p>
                  </div>
                  <div>
                    {{'Discount'|translate}} <code>{{offer.discount}}</code>
                  </div>

                  <p class="small-text col-gray-light">
                    {{offer.description}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
           
          </div>

          <div class="col-lg-12" style="margin-top: 20px">
            <button mat-raised-button>
              {{'ADD_OFFER'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>