<div style="height: 100%; ">
  <mat-card>
    <div class="row" style="margin: 0;">
      <div class="col-lg-12" style="height: auto">
        <b class="small-text-3" style="margin: 15px 0 8px 0!important">{{'OFFERS' | translate}}</b>
        <p class="small-text col-gray-light">
          {{'OFFERS_DESC'|translate}}
        </p>
      </div>

      <div class="col">
        <div class="row">
          <div class="col" *ngFor="let offer of account.offers">
            <div>
              <mat-card style="margin-right: 15px;height: auto;width: 316px;margin-bottom: 15px;">

                <div *ngIf="offer.image else noImage"
                  [ngStyle]="{background: 'url(' + offer.image + ')', width: '286px', height: '150px'}"
                  style="border-radius: 6px;">

                </div>
                <ng-template #noImage>
                  <div style="height: 150px;width: '286px';background-color: lightgray;border-radius: 6px;">
                  </div>
                </ng-template>
                <mat-card-content>
                  <div style="margin-left:5px;margin-top: 3px ;">
                    <p
                      style="overflow: hidden;width:264px;display: -webkit-box;-webkit-line-clamp: 2;  -webkit-box-orient: vertical;height: 36;font-size: 20;font-weight:bold">
                      {{offer.description}}
                    </p>
                  </div>

                  
                  <div *ngIf="offer.type == 'classic'">
                    <div class="row width:100%">
                      <div style="margin-left: 20px">
                        {{'PRICE'|translate}} <code>{{offer.initial_price}}R</code>
                      </div>
                      <div style="margin-left: auto;margin-right: 15px; ">
                        {{'OFFER'|translate}} <code>{{offer.offer_price}}R</code>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="offer.type == 'percentage'">
                    <div>
                      {{'PRICE'|translate}} <code>{{offer.discount}}%</code>
                    </div>
                  </div>
                  <div *ngIf="offer.type == 'free'">
                    <div>
                      {{'PRICE'|translate}} <code>FREE</code>
                    </div>
                  </div>
                  <div class="row">
                    <div class="group-row-left" style="margin-left:20px;">

                      <div *ngIf="offer.active else noActive">
                        <p style="font: size 2px;">
                          {{'VALID_UNTIL' | translate}}: <code>{{offer.end | date}}</code>
                        </p>
                      </div>
                      <ng-template #noActive>
                        <div>
                          <p>
                            {{'OFFER_NOT_ACTIVE'|translate}}
                          </p>
                        </div>

                      </ng-template>

                    </div>
                    <div class="row" style=" margin-left: auto; margin-right: 10px;">
                      <div style="margin-top: 5px;">
                        <button mat-icon-button matTooltip="{{'Edit'|translate}}" placement="bottom">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="{{'Delete'|translate}}" placement="bottom" color="warn">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>


                    </div>
                  </div>





                </mat-card-content>
              </mat-card>
            </div>

          </div>

          <div class="col-lg-12" style="margin-top: 40px">
            <button mat-raised-button>
              {{'ADD_OFFER'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>