<header-nav></header-nav>
<sidemenu></sidemenu>

<div class="page mailing" [ngClass]="{'collapsed': !controls.sidemenuVisible}">
    <in-development></in-development>
    <div class="padd-x20" style="width: 100%">
        <mat-card style="margin-bottom: 10px">
            <div class="center v">
                <button mat-icon-button routerLink="/rec/mailing" class="icon-btn-small" style="margin-right: 10px">
                    <div class="center h v">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </button>
                <p class="col-blue small-text">
                    {{(isEdit ? 'EDIT_MAIL': 'CREATE_MAIL')|translate}}
                </p>

                <!-- <div style="margin-left: auto; margin-right: 0">
                    <mat-checkbox color="primary" [(ngModel)]="autoRefresh" (ngModelChange)="ngOnInit()">
                        <p class="small-text">Autorefresh</p>
                    </mat-checkbox>
                </div> -->
            </div>
        </mat-card>
        <div class="row" style="margin: 0; padding: 0">
            <mat-card class="col-lg-8 col-md-12" style="margin-bottom: 10px; margin-top: 10px">
                <!-- From -->
                <div class="group-row-left bordered-bottom" style="padding-bottom: 10px!important">
                    <p class="small-text">
                        {{'ALL_MAIL_FROM'|translate}} <a href="mailto:no-reply@email.rec.barcelona"
                            class="col-info">no-reply@email.rec.barcelona</a></p>
                </div>

                <!-- Subject -->
                <div class="group-row-left center v space-between" style="padding-bottom: 10px; padding-top: 10px">
                    <div class="group-row-left" style="width: 90%">
                        <p class="small-text" style="margin-right: 10px!important">{{'Subject'|translate}}</p>
                        <input matInput type="text" [disabled]="readonly"
                            style="width: 100%; font-size: 12px;padding:3px 6px; border: 1px solid #ddd; border-radius: 2px"
                            placeholder="{{'Subject'|translate}}" [(ngModel)]="mail.subject" (ngModelChange)="saved = false">
                    </div>
                </div>

                <!-- Content -->
                <div style="width: 100%;" class="group-col-left">
                    <quill-editor [disabled]="readonly" style="width: 100%;" [ngModel]="mail.content" format="html"
                        [styles]="{height: '200px', width: '100%'}" (onFocus)="focus($event)"
                        (onEditorChanged)="changedEditor($event)" (onBlur)="blur($event)"
                        (onEditorCreated)="created($event)">
                    </quill-editor>
                </div>
            </mat-card>
            <div class="col-lg-4 col-md-12" style="margin-bottom: 10px;width: 100%; margin-top: 10px;padding-right: 0;">
                <mat-card style="width: 100%; height: 100%;">
                    <create-delivery [id]="id" [disabled]="readonly" [selectedAccounts]="deliveries"
                        (update)="update()">
                    </create-delivery>
                </mat-card>
            </div>
        </div>
        <mat-card style="margin-bottom: 10px">
            <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
                style="border-bottom: 1px solid #ddd!important; width: 100%" [validationName]="validationErrorName">
            </validation-errors>

            <div class="group-row-left">
                <button mat-flat-button color="primary" (click)="sendNormal()"
                    [disabled]="readonly || mail.status != 'created'"
                    style="border-top-right-radius: 0; border-bottom-right-radius: 0">{{'SEND'|translate}}</button>
                <button mat-flat-button [disabled]="readonly || mail.status != 'created'" color="primary"
                    style="border-top-left-radius: 0; border-bottom-left-radius: 0" [matMenuTriggerFor]="menusend"
                    aria-label="Example icon-button with a menu">
                    <i class="fa fa-caret-down"></i>
                </button>
                <mat-menu #menusend="matMenu">
                    <button mat-menu-item (click)="openShowSchedule()">
                        <i class="fa fa-paper-plane" style="margin-right: 8px;"></i>
                        <span>{{'SEND_SCHEDULED'|translate}}</span>
                    </button>
                </mat-menu>

                <button color="primary" *ngIf="isEdit" [disabled]="isSaveDisabled() || loading || readonly"
                    (click)="saveMail()" mat-raised-button style="margin-right: 10px;margin-left: 15px"
                    matTooltip="{{'SAVE'|translate}}">
                    <i class="fa fa-save" style="margin-right: 8px"></i> {{'SAVE'|translate}}
                </button>

                <button color="error" *ngIf="mail.status === 'scheduled'" [disabled]="!isSaveDisabled() || loading"
                    (click)="cancel()" mat-raised-button style="margin-right: 10px;margin-left: 15px; width: auto"
                    matTooltip="{{'CANCEL'|translate}}">
                    <i class="fa fa-times" style="margin-right: 8px"></i> {{'CANCEL'|translate}}
                </button>

                <button color="primary" *ngIf="!isEdit" (click)="createMail()"
                    [disabled]="isSaveDisabled() || loading || readonly" mat-raised-button
                    style="margin-right: 10px;margin-left: 15px" matTooltip="{{'Create'|translate}}">
                    <i class="fa fa-save" style="margin-right: 8px"></i> {{'Create'|translate}}
                </button>
            </div>

            <div style="padding-top: 10px; margin-top: 10px; border-top: 1px solid #ddd;">
                <button mat-button matTooltip="{{'ATTACH'|translate}}" [matMenuTriggerFor]="menu" [disabled]="readonly">
                    <span class="center v">
                        <i class="fa fa-paperclip" style="margin-right: 10px"></i>
                        <p>{{'ATTACH_FILES'|translate}}</p>
                    </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                        (click)="addAttachment('b2b_report', 'b2b_report.pdf')">{{'Clients/Providers PDF'|translate}}</button>
                    <button mat-menu-item (click)="addLink = true">{{'Link'|translate}}</button>
                    <button mat-menu-item (click)="selectFile()" disabled>{{'Upload'|translate}}</button>
                </mat-menu>

                <mat-chip-list style="display: inline-block;margin-left: 10px">
                    <mat-chip *ngFor="let item of attachments" [disabled]="readonly">
                        <div class="center h v" style="height: 100%">
                            {{item.name}}
                            <button mat-icon-button color="primary" (click)="removeAttachment(item.name)">
                                <i class="fa fa-times" style="margin-left: 10px"></i>
                            </button>
                        </div>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <div *ngIf="addLink" style="padding-top: 10px; margin-top: 10px; border-top: 1px solid #ddd;">
                <input matInput type="text" [disabled]="readonly"
                    style="width: 50%; font-size: 12px;padding:3px 6px; border: 1px solid #ddd; border-radius: 2px"
                    placeholder="Name of file (defaults to link file name)" [(ngModel)]="linkName">

                <input matInput type="text" [disabled]="readonly"
                    style="width: 50%; font-size: 12px;padding:3px 6px; border: 1px solid #ddd; border-radius: 2px"
                    placeholder="http://" [(ngModel)]="linkAttachment">
                <div>
                    <button mat-button (click)="addLink = false">{{'CANCEL'|translate}}</button>
                    <button mat-button (click)="addLinkAttachment()"
                        [disabled]="!linkAttachment">{{'ADD'|translate}}</button>
                </div>
            </div>

            <div *ngIf="sendScheduled" style="padding-top: 10px; margin-top: 10px; border-top: 1px solid #ddd;">
                <input type="date" class="input border-radius-2" [(ngModel)]="date" (keyup.enter)="createScheduled()">
                <input type="time" class="input border-radius-2" [(ngModel)]="time" (keyup.enter)="createScheduled()">
                <button mat-icon-button title="{{'CREATE_CHANGE'|translate}}" (click)="createScheduled()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </mat-card>
    </div>
</div>