<div class="group-col-left" style="margin: 0">
    <div class="fill-size center v space-between" style="padding: 10px 15px">
        <p class="small-text col-blue" style="margin-right: 15px!important">{{'CHANGE_DELEGATE'|translate}}</p>
        <!-- <input type="text" class="input border-radius-2" style="width: 70%" placeholder="{{'Search'|translate}}..."
            [(ngModel)]="searchQuery" (keyup.enter)="search();"> -->
        <button [disabled]="newChangeShown" type="button" style="margin-left: 8px; padding-right: 10px; "
            color="primary" mat-raised-button name="button" (click)="showNewChange()">
            <p class="text-small">
                <i class="fa fa-plus"></i>
                {{'NEW_CHANGE'|translate}}
            </p>
        </button>
    </div>

    <div class="fill-size" style="padding: 10px 15px; border-top: 1px solid #ddd" *ngIf="newChangeShown">
        <p class="small-text">{{'SET_SCHEDULE'|translate}}: <i>({{'CAN_EDIT_LATER'|translate}})</i></p>
        <div class="group-row-left">
            <input type="date" class="input border-radius-2" [(ngModel)]="date" (keyup.enter)="newChange()">
            <input type="time" class="input border-radius-2" [(ngModel)]="time" (keyup.enter)="newChange()">
            <button mat-icon-button title="{{'CREATE_CHANGE'|translate}}" (click)="newChange()">
                <i class="fa fa-plus"></i>
            </button>
            <button mat-icon-button title="{{'DISCARD_CHANGE'|translate}}" (click)="hideNewChange()">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>