<modal-header title="{{'USER_DETAILS'|translate}}" (click)="close(false)"></modal-header>

<!-- TODO: Improve this, it is missing quite a few fields and features -->
<div class="padd-x20 modal-body" style="height: auto">
  <div class="group-col-left" [ngClass]="{'alert-warning': user.locked}">
    <div class="group-row-left center h v">
      <img src="{{user.profile_image || Brand.profile_default_image}}" alt=""
        style="margin-right: 10px; width: 40px; height: 40px; border-radius: 50%;">
      <div class="group-col-left">
        <b class="small-text-3">{{user.name}}</b>
        <i class="col-gray-light">{{user.email || user.dni}}</i>
      </div>
    </div>
    <p class="small-text" *ngIf="user.locked">
      {{'USER_DISABLED_DESC'|translate}}
    </p>
  </div>
  <div class="group-col-left" style="margin-top: 15px; border-top: 1px solid #ddd">
    <div class="group-col-left" style="padding-top: 15px">
      <b>{{'Details'|translate}}: </b>
      <div class="row" style="padding: 0 15px">
        <div style="margin-bottom: 10px" class="col-lg-6 col-sm-12 group-col-left">
          <b class="small-text-2" style="margin-right: 8px">{{'Name'|translate}} </b>
          <span class="small-text-2">{{user.name}}</span>
        </div>
        <div style="margin-bottom: 10px" class="col-lg-6 col-sm-12 group-col-left">
          <b class="small-text-2" style="margin-right: 8px">{{'Last Name'|translate}} </b>
          <span class="small-text-2">{{user.kyc_validations ? user.kyc_validations.last_name: 'Not filled'}}</span>
        </div>
        <div style="margin-bottom: 10px" class="col-lg-6 col-sm-12 group-col-left">
          <b class="small-text-2" style="margin-right: 8px">{{'Email'|translate}} </b>
          <span class="small-text-2">{{user.email || 'Not filled'}}</span>
        </div>
        <div style="margin-bottom: 10px" class="col-lg-6 col-sm-12 group-col-left">
          <b class="small-text-2" style="margin-right: 8px">
            {{'Phone'|translate}}
            <span class="col-success" title="Phone is validated">
              <i class="fa fa-check"></i>
            </span>
          </b>
          <span class="small-text-2">+{{user.prefix}} {{user.phone ? user.phone: 'Not filled'}}</span>
        </div>
        <div style="margin-bottom: 10px" class="col-lg-6 col-sm-12 group-col-left">
          <b class="small-text-2" style="margin-right: 8px">{{'Created'|translate}} </b>
          <span class="small-text-2">{{user.created | date}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="group-row-left" style="margin-top: 15px; border-top: 1px solid #ddd">
    <div class="group-col-left" style="padding-top: 15px">
      <b>{{'Accounts'|translate}}: </b>
      <div class="group-row-left" style="flex-wrap: wrap; padding: 4px 15px"
        *ngIf="user.accounts && user.accounts.length">
        <mat-chip *ngFor="let comp of user.accounts"
          style="margin-bottom: 8px; overflow: hidden;width: 140px; cursor: pointer;" routerLink="/accounts/{{comp.id}}"
          (click)="close()" matTooltip="View account">
          <avatar [account]="comp" [size]="30"></avatar>
        </mat-chip>
      </div>
    </div>
  </div>
  <div class="group-row-left" style="margin-top: 15px; border-top: 1px solid #ddd">
    <div class="group-col-left" style="padding-top: 15px">
      <b>{{'Actions'|translate}}: </b>
      <div style="margin-left: 10px">
        <button mat-button color="primary" (click)="editRoles()">
          {{'Edit'|translate}}
        </button>
        <button mat-button color="primary" (click)="viewSMSCode()">
          {{'View SMS'|translate}}
        </button>
        <button mat-button color="primary" (click)="resendSMSCode()">
          {{'Resend SMS'|translate}}
        </button>
        <button mat-button color="primary" (click)="validatePhone()">
          {{'Validate Phone'|translate}}
        </button>
        <button mat-button color="primary" (click)="disableUser()" *ngIf="!user.locked">
          <span class="col-error">{{'Disable'|translate}}</span>
        </button>
        <button mat-button color="primary" (click)="enableUser()" *ngIf="user.locked">
          <span class="col-error">{{'Enable'|translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>