<div style="height: 100%">
  <div class="row" style="margin: 0; padding: 20px;">
    <div class="col-lg-12" *ngIf="account.pos">
      <mat-card style="min-height: 200px;padding:0 0 20px 0; overflow: hidden;">
        <div class="header bordered-bottom" style="padding: 10px 15px">
          <p class="no-margin no-padding small-text col-blue">TPV</p>

          <button mat-raised-button color="warn" (click)="delete()">
            <i class="fa fa-trash marg-r-5"></i> {{'DELETE'|translate}}
          </button>
        </div>
        <div style="padding: 10px 15px">
          <p>{{'API_TOKENS'|translate}}</p>
          <p class="small-text col-gray">
            {{'API_TOKENS_DESC'|translate}}
          </p>

          <div style="margin-top: 10px;">
            <mat-chip-list>
              <div>
                <p class="col-gray-light small-text" style="margin-left: 10px!important;">access_key</p>
                <mat-chip [selectable]="false">
                  <span class="col-gray small-text">{{account && account.access_key}}</span>
                  <button mat-icon-button matTooltip="Copy" [copy-clipboard]="account.access_key">
                    <i class="fa fa-clipboard col-gray small-text"></i>
                  </button>
                </mat-chip>
              </div>
              <div>
                <p class="col-gray-light small-text" style="margin-left: 10px!important;">access_key</p>
                <mat-chip [selectable]="false">
                  <span class="col-gray small-text">{{account && account.access_secret}}</span>
                  <button mat-icon-button matTooltip="Copy" [copy-clipboard]="account.access_secret">
                    <i class="fa fa-clipboard col-gray small-text"></i>
                  </button>
                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </div>

        <div style="padding: 10px 15px">
          <p>{{'NOTIF_URL'|translate}}</p>
          <p class="small-text col-gray">
            {{'NOTIF_URL_DESC'|translate}}
          </p>

          <div style="margin-top: 10px;">
            <div>
              <div class="center v">
                <input type="text" class="small-text user-input" [(ngModel)]="notification_url" [disabled]="!editingUrl"
                  placeholder="Notification URL" style="margin: 0; padding: 4px 6px; max-width: 300px;">
                <button mat-icon-button [disabled]="loading" matTooltip="{{'SAVE'|translate}}" *ngIf="editingUrl"
                  (click)="saveEditUrl()">
                  <i class="fa fa-save" *ngIf="!loading"></i>
                  <div class="center h v">
                    <mat-progress-spinner [diameter]="16" color="primary" mode="indeterminate" *ngIf="loading">
                    </mat-progress-spinner>
                  </div>
                </button>
                <button mat-icon-button [disabled]="loading" matTooltip="{{'CANCEL'|translate}}" *ngIf="editingUrl"
                  (click)="toggleEditUrl()">
                  <i class="fa fa-times"></i>
                </button>
                <button mat-icon-button [disabled]="loading" matTooltip="{{'EDIT'|translate}}" *ngIf="!editingUrl"
                  (click)="toggleEditUrl()">
                  <i class="fa fa-edit"></i>
                </button>
              </div>
            </div>
          </div>
          <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
            style="border-bottom: 1px solid #ddd!important; width: 100%" [validationName]="validationErrorName">
          </validation-errors>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-12" *ngIf="!account.pos">
      <mat-card class="center h v" style="min-height: 200px">
        <div class="center column h v padd-x20">
          <h3 class="col-gray" style="font-weight: 200;">
            <i class="fa fa-exclamation-circle marg-r-10"></i>
            {{'NO_TPV'|translate}}
          </h3>
          <p class="col-gray-light" style="margin-bottom: 15px!important;">
            {{'CREATE_NOW'|translate}}
          </p>
          <btn-loader (click)="createTpv()" [disabled]="loading" [loading]="loading" text="{{'CREATE_TPV'|translate}}">
          </btn-loader>
        </div>
      </mat-card>
    </div>
  </div>
</div>