<div class="modal-header bg-blue">
  <span>TX DETAILS</span>
  <button type="button" mat-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
    <span class="center h v">
      <i class="fa fa-times col-white"></i>
    </span>
  </button>
</div>
<div class="row" style="margin:0; width: auto; max-width: 900px; min-width: 400px; max-height: 80vh; overflow-y: auto; overflow-x: hidden">
  <!--Contenido que se muestra si existen devoluciones-->
  <div *ngIf="transaction.refund_txs || transaction.refund_parent_transaction; else elseBlock" class="col-lg-6 padd-20" style="margin: 15px 0 0 0; border-right: 1px solid #BDBDBD;">
    <div class="center v space-between bord-bottom">
      <p class="small-text-2">
        <b>ID: {{transaction.id}}</b> 
        <button mat-icon-button matSuffix
        style="color: #BDBDBD; margin-left: 10px;"
        [copy-clipboard]="transaction.id">
          <mat-icon>file_copy</mat-icon>
        </button>
      </p>
      <p class="small-text-1 badge bg-blue badge_style" >{{transaction.method}} - {{transaction.type}}</p>
    </div>

    <div class="group-col-left padd-20">
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Created'|translate}}</b>
        <b>{{transaction.created | date: 'medium'}}</b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Updated'|translate}}</b>
        <b>{{transaction.updated | date: 'medium'}}</b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b *ngIf="isFromAccountMovements" class="parent_field_style">{{'Hide' | translate}}</b>
        <b *ngIf="!isFromAccountMovements" class="parent_field_style">{{'Hidden' | translate}}</b>
        <mat-slide-toggle *ngIf="isFromAccountMovements" color="primary" (change)="updateInternal()" [(ngModel)]="transaction.internal"></mat-slide-toggle>
        <b *ngIf="!isFromAccountMovements">{{transaction.internal}}</b>
      </div>
    </div>
    <!--PAY-IN-INFO-->
    <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'in'">
      <b class="small-text-2">Extra in info</b>
      <p class="small-text-1 badge bg-blue badge_style">{{transaction.status}}</p>
    </div>

    <div class="group-col-left padd-20" *ngIf="transaction.type == 'in'">
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Sender' | translate}}</b>
        <b *ngIf="transaction.pay_in_info.name_sender">{{transaction.pay_in_info.name_sender}}
        <span *ngIf="transaction.pay_in_info.sender_id" class="color-primary">
        <span style="color: #3B3B3B;">(</span><span  (click)="redirectToAccount($event)" style="font-weight:500;  cursor: pointer;">{{transaction.pay_in_info.sender_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
        <b *ngIf="!transaction.pay_in_info.name_sender">{{'Account | translate}}
        <span *ngIf="transaction.pay_in_info.sender_id" class="color-primary">
        <span style="color: #3B3B3B;">(</span><span  (click)="redirectToAccount($event)" style="font-weight:500;  cursor: pointer;">{{transaction.pay_in_info.sender_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Receiver' | translate}}</b>
        <b *ngIf="groupAccount && groupAccount.name">{{groupAccount.name}}
        <span *ngIf="transaction.group" class="color-primary">
        <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.group}}</span><span style="color: #3B3B3B;">)</span></span></b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Amount'|translate}} </b>
        <span class="monospace color-primary" >{{scaleNum(transaction.amount, transaction.scale) | number}} {{transaction.currency}}</span>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Concept'|translate}}</b>
        <b>{{transaction.pay_in_info.concept || 'No concept'}}</b>
      </div>     
    </div>

    <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'in'">
      <b class="small-text-2">Tech data</b>
    </div>

    <div class="group-col-left padd-20" *ngIf="transaction.type == 'in'">
      <div class="small-text-2 marg-bottom-10">
        {{'FINAL' | translate}}
        <b>{{transaction.pay_in_info.final}}</b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        {{'BLOCKCHAIN TX ID' | translate}}
        <button mat-icon-button matSuffix
        style="color: #BDBDBD; margin-left: 5px;"
        [copy-clipboard]="transaction.pay_in_info.txid">
          <mat-icon>file_copy</mat-icon>
        </button>
        <b>{{transaction.pay_in_info.txid}}</b>
      </div>
      <div *ngIf="transaction.pay_in_info.address" class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'SENDER_ADDRESS'|translate}}</b>
        <b>{{transaction.pay_in_info.address}}</b>
      </div>
    </div>
    <!--PAY-OUT-INFO-->
    <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'out'">
      <b class="small-text-2">Extra out info</b>
      <p class="small-text-1 badge bg-blue badge_style">{{transaction.status}}</p>
    </div>

    <div class="group-col-left padd-20" *ngIf="transaction.type == 'out'">
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Receiver' | translate}}</b>
        <b *ngIf="transaction.pay_out_info.name_receiver">{{transaction.pay_out_info.name_receiver}}
        <span *ngIf="transaction.pay_out_info.receiver_id" class="color-primary">
        <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.pay_out_info.receiver_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
        <b *ngIf="!transaction.pay_out_info.name_receiver">{{'Account' | translate}}
        <span *ngIf="transaction.pay_out_info.receiver_id" class="color-primary">
        <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.pay_out_info.receiver_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Sender' | translate}}</b>
        <b *ngIf="groupAccount && groupAccount.name">{{groupAccount.name}}
        <span *ngIf="transaction.group" class="color-primary">
        <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.group}}</span><span style="color: #3B3B3B;">)</span></span></b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Amount'|translate}} </b>
        <span class="monospace color-primary" >{{scaleNum(transaction.amount, transaction.scale) | number}} {{transaction.currency}}</span>
      </div>
      <div class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'Concept'|translate}}</b>
        <b>{{transaction.pay_out_info.concept || 'No concept'}}</b>
      </div>     
    </div>

    <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'out'">
      <b class="small-text-2">Tech data</b>
    </div>

    <div class="group-col-left padd-20" *ngIf="transaction.type == 'out'">
      <div class="small-text-2 marg-bottom-10">
        {{'FINAL' | translate}}
        <b>{{transaction.pay_out_info.final}}</b>
      </div>
      <div class="small-text-2 marg-bottom-10">
        {{'BLOCKCHAIN TX ID' | translate}}
        <button mat-icon-button matSuffix
        style="color: #BDBDBD; margin-left: 5px;"
        [copy-clipboard]="transaction.pay_out_info.txid">
          <mat-icon>file_copy</mat-icon>
        </button>
        <b>{{transaction.pay_out_info.txid}}</b>
      </div>
      <div *ngIf="transaction.pay_out_info.address" class="small-text-2 marg-bottom-10">
        <b class="parent_field_style">{{'RECEIVER_ADDRESS'|translate}}</b>
        <b>{{transaction.pay_out_info.address}}</b>
      </div>
    </div>
  </div>
  <!--Devoluciones-->
  <div *ngIf="transaction.refund_txs || transaction.refund_parent_transaction" class="col-lg-6 padd-20" style="margin: 15px 0 0 0;">
  <p class="small-text-2 marg-bottom-10">{{'REFUNDS_RECORD' | translate}}</p>
    <div *ngFor="let tx of historicTransactions; index as i" class="group-col-left">
      <div class="marg-left-20 small-text-2">
        <mat-radio-group (change)="changeTransaction($event)" [(ngModel)]="transaction.id">
          <mat-radio-button [value]="tx.id" style="margin-right: 120px;" color="primary">
            <div *ngIf="tx.type == 'in'">
              {{'De' | translate}} <b>{{tx.pay_in_info.name_sender}}</b> <br/>
              <span style="color:#828282">{{tx.created | date:'medium'}}</span>
            </div>
            <div *ngIf="tx.type == 'out'">
              {{'A' | translate}} <b>{{tx.pay_out_info.name_receiver}}</b> <br/>
              <span style="color:#828282">{{tx.created | date:'medium'}}</span>
            </div>    
          </mat-radio-button>
        </mat-radio-group>
        <span *ngIf="tx.type == 'in'" class="color-primary" style="font-size: 15px;"> +{{scaleNum(tx.amount, tx.scale) | number: '1.2'}}</span>
        <span *ngIf="tx.type == 'out'" style="color:#D91636; font-size: 15px;"> -{{scaleNum(tx.amount, tx.scale) | number: '1.2'}}</span>
      </div>
      <div *ngIf="i != historicTransactions.length - 1" style="border-left: 2px solid #E0E0E0; height: 25px; margin: 5px 0 5px 29px;"></div>
    </div>
  </div>
  <!--Contenido que se muestra si NO existen devoluciones-->
  <ng-template #elseBlock>
    <div class="col-lg-12 padd-20" style="margin: 0!important; line-height: 75%;">
      <div class="center v space-between bord-bottom">
        <p class="small-text-2">
          <b>ID: {{transaction.id}}</b> 
          <button mat-icon-button matSuffix
          style="color: #BDBDBD; margin-left: 10px;"
          [copy-clipboard]="transaction.id">
            <mat-icon>file_copy</mat-icon>
          </button>
        </p>
        <p class="small-text-1 badge bg-blue badge_style" >{{transaction.method}} - {{transaction.type}}</p>
      </div>
  
      <div class="group-col-left padd-20">
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Created'|translate}}</b>
          <b>{{transaction.created | date: 'medium'}}</b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Updated'|translate}}</b>
          <b>{{transaction.updated | date: 'medium'}}</b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b *ngIf="isFromAccountMovements" class="parent_field_style">{{'Hide' | translate}}</b>
          <b *ngIf="!isFromAccountMovements" class="parent_field_style">{{'Hidden' | translate}}</b>
          <mat-slide-toggle *ngIf="isFromAccountMovements" color="primary" (change)="updateInternal()" [(ngModel)]="transaction.internal"></mat-slide-toggle>
          <b *ngIf="!isFromAccountMovements">{{transaction.internal}}</b>
        </div>
      </div>
      <!--PAY-IN-INFO-->
      <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'in'">
        <b class="small-text-2">Extra in info</b>
        <p class="small-text-1 badge bg-blue badge_style">{{transaction.status}}</p>
      </div>
  
      <div class="group-col-left padd-20" *ngIf="transaction.type == 'in'">
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Sender' | translate}}</b>
          <b *ngIf="transaction.pay_in_info.name_sender">{{transaction.pay_in_info.name_sender}}
          <span *ngIf="transaction.pay_in_info.sender_id" class="color-primary">
          <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.pay_in_info.sender_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
          <b *ngIf="!transaction.pay_in_info.name_sender">{{'Account | translate}}
          <span *ngIf="transaction.pay_in_info.sender_id" class="color-primary">
          <span style="color: #3B3B3B;">(</span><span  (click)="redirectToAccount($event)" style="font-weight:500;  cursor: pointer;">{{transaction.pay_in_info.sender_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Receiver' | translate}}</b>
          <b *ngIf="groupAccount && groupAccount.name">{{groupAccount.name}}
          <span *ngIf="transaction.group" class="color-primary">
          <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.group}}</span><span style="color: #3B3B3B;">)</span></span></b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Amount'|translate}} </b>
          <span class="monospace color-primary" >{{scaleNum(transaction.amount, transaction.scale) | number}} {{transaction.currency}}</span>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Concept'|translate}}</b>
          <b>{{transaction.pay_in_info.concept || 'No concept'}}</b>
        </div>     
      </div>
  
      <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'in'">
        <b class="small-text-2">Tech data</b>
      </div>
  
      <div class="group-col-left padd-20" *ngIf="transaction.type == 'in'">
        <div class="small-text-2 marg-bottom-10">
          {{'FINAL' | translate}}
          <b>{{transaction.pay_in_info.final}}</b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          {{'BLOCKCHAIN TX ID' | translate}}
          <button mat-icon-button matSuffix
        style="color: #BDBDBD; margin-left: 5px;"
        [copy-clipboard]="transaction.pay_in_info.txid">
          <mat-icon>file_copy</mat-icon>
        </button>
          <b>{{transaction.pay_in_info.txid}}</b>    
        </div>
        <div *ngIf="transaction.pay_in_info.address" class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'SENDER_ADDRESS'|translate}}</b>
          <b>{{transaction.pay_in_info.address}}</b>
        </div>
      </div>
      <!--PAY-OUT-INFO-->
      <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'out'">
        <b class="small-text-2">Extra out info</b>
        <p class="small-text-1 badge bg-blue badge_style">{{transaction.status}}</p>
      </div>
  
      <div class="group-col-left padd-20" *ngIf="transaction.type == 'out'">
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Receiver' | translate}}</b>
          <b *ngIf="transaction.pay_out_info.name_receiver">{{transaction.pay_out_info.name_receiver}}
          <span *ngIf="transaction.pay_out_info.receiver_id" class="color-primary">
          <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.pay_out_info.receiver_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
          <b *ngIf="!transaction.pay_out_info.name_receiver">{{'Account' | translate}}
          <span *ngIf="transaction.pay_out_info.receiver_id" class="color-primary">
          <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.pay_out_info.receiver_id}}</span><span style="color: #3B3B3B;">)</span></span></b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Sender' | translate}}</b>
          <b  *ngIf="groupAccount && groupAccount.name">{{groupAccount.name}}
          <span *ngIf="transaction.group" class="color-primary">
          <span style="color: #3B3B3B;">(</span><span (click)="redirectToAccount($event)" style="font-weight:500; cursor: pointer;">{{transaction.group}}</span><span style="color: #3B3B3B;">)</span></span></b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Amount'|translate}} </b>
          <span class="monospace color-primary" >{{scaleNum(transaction.amount, transaction.scale) | number}} {{transaction.currency}}</span>
        </div>
        <div class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'Concept'|translate}}</b>
          <b>{{transaction.pay_out_info.concept || 'No concept'}}</b>
        </div>     
      </div>
  
      <div class="center v space-between bord-bottom" *ngIf="transaction.type == 'out'">
        <b class="small-text-2">Tech data</b>
      </div>
  
      <div class="group-col-left padd-20" *ngIf="transaction.type == 'out'">
        <div class="small-text-2 marg-bottom-10">
          {{'FINAL' | translate}}
          <b>{{transaction.pay_out_info.final}}</b>
        </div>
        <div class="small-text-2 marg-bottom-10">
          {{'BLOCKCHAIN TX ID' | translate}}
          <button mat-icon-button matSuffix
        style="color: #BDBDBD; margin-left: 5px;"
        [copy-clipboard]="transaction.pay_out_info.txid">
          <mat-icon>file_copy</mat-icon>
        </button>
          <b>{{transaction.pay_out_info.txid}}</b>
        </div>
        <div *ngIf="transaction.pay_out_info.address" class="small-text-2 marg-bottom-10">
          <b class="parent_field_style">{{'RECEIVER_ADDRESS'|translate}}</b>
          <b>{{transaction.pay_out_info.address}}</b>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="abs-center center h v bg-white-opaque" style="width: 100%;" *ngIf="loadingView">
    <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
    </mat-progress-spinner>
  </div>
  
  <div class="col-lg-12">
    <div class="group-row-left padd-20" style="justify-content: flex-end">
      <button [disabled]="transaction && transaction.refund_parent_transaction || loadingView" type="button" mat-raised-button color="warn" name="button" (click)="doRefund()">
        <p style="font-weight: 500" class="small-text-2">
          <i class="fa fa-arrow-right fa-rotate-by" style="--fa-rotate-angle: -49deg; margin-right: 5px;"></i>
          {{'DO_REFUND'|translate}}
        </p>
      </button>
    </div>
  </div>
</div>