.parent_field_style {
    color:#3B3B3B;
    font-weight:100; 
    text-transform:uppercase; 
    margin-right: 10px;
}

.blue_badge_color {
    color: #0098DB;
}

.badge_style {  
    text-transform: uppercase; 
    border-radius: 15px;  
    font-size: 10px;
}

