<modal-header title="{{'CASH_OUT_TITLE'|translate}}" (click)="close(false)"></modal-header>

<div class="padd-x20 modal-body" style="min-height: 300px;min-width: 50vw;">
  <div class="alert alert-warning">
    This is only performed in lemonway, it doesn't affect the REC System.
  </div>
  <div class="border-bottom marg-b-10 padding-b-15">
    <p class="small-text-2">
      {{'CASH_OUT'|translate}}:
      <code>{{account ? account.name: ''}}</code>
      <code class="small-text marg-l-5">{{currentAmountREC}} Ɍ</code>
      <code class="small-text marg-l-5">{{currentAmountEUR}} €</code>
    </p>
    <p class="small-text">{{'CASH_OUT_DESC'|translate}}</p>
  </div>
  <div class="row" style="width: 100%">
    <div class="col-lg-12">
      <p class="small-text">
        {{'FILL_FIELDS_WITHDRAWAL'|translate}}:
      </p>
    </div>
    <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
      style="border-bottom: 1px solid #ddd!important; width: 100%">
    </validation-errors>
    <div class="col-lg-12">
      <div class="group-row-left center v space-between" style="margin-bottom: 15px;">
        <div style="width: 45%">
          <p class="small-text-2">{{'ORIGIN_ACCOUNT'|translate}}: </p>
          <account-picker [disabled]="loading" [(id)]="originAccount"></account-picker>
        </div>
        <div>
          <button mat-icon-button matTooltip="Change sides" (click)="switchSides()">
            <i class="fa fa-arrows-alt-h"></i>
          </button>
        </div>
        <div style="width: 45%">
          <p class="small-text-2" style="position: relative;">{{'TARGET_ACCOUNT'|translate}}:</p>
          <account-picker [(id)]="targetAccount" [filters]="accountFilters" [disabled]="loading">
          </account-picker>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <input-field type="number" [(value)]="amount" label="Amount" [disabled]="loading">
      </input-field>
      <p *ngIf="amount > currentAmountREC" class="small-text col-error">{{'NOT_ENOUGH_FUNDS'|translate}}</p>
    </div>

    <div class="col-lg-12">
      <input-field type="text" [(value)]="concept" label="Concept" [disabled]="loading">
      </input-field>
    </div>

    <div class="col-lg-12" *ngIf="amount > currentAmountEUR">
      <p class="small-text col-error">{{'NO_FUNDS_AVAILABLE'|translate}}</p>
    </div>
  </div>
  <div class="group-row-left center v" style="margin-top: 20px; justify-content: flex-end">
    <p class="col-error small-text" style="margin-right: 10px!important">{{error}}</p>
    <btn-loader [loading]="loading" [text]="'SEND'" (click)="proceed()"></btn-loader>
  </div>
</div>