<modal-header title="{{'EXPORT'|translate}}" (click)="close(false)"></modal-header>

<div class="group-col-left padd-20" style="position: relative; max-height: 80vh; overflow-y: auto;">
    <div class="overlay center v h" *ngIf="loading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
    </div>

    <div style="width: 100%; padding-bottom: 10px">
        <p class="small-text ">{{'EXPORT_FILENAME'|translate}}:</p>
        <input type="text" id="fileName" class="input radius-2 w-100" style="max-width: 100%;"
            placeholder="{{'Enter a filename'|translate}}..." [(ngModel)]="fileName">
        <p *ngIf="!fileName" class="small-text col-error">{{'FILENAME_REQUIRED'|translate}}</p>
    </div>

    <p class="small-text col-info">* {{'FILTERS_APPLY'|translate}}</p>

    <kvp-list [(hidden)]="hidden" [items]="list" (onReset)="reset()" (onChange)="changedItems($event)"></kvp-list>

    <div class="center v">
        <button mat-raised-button [disabled]="!fileName || loading" (click)="export()" id="export-dia-export-btn"
            style="margin-left: 8px!important; padding-right: 10px!important">
            <span class="center h v">
                <i class="fa fa-download"></i> {{'EXPORT'|translate}}
            </span>
        </button>
    </div>
    <p *ngIf="error && !showAllError" style="margin-left: 10px" class="small-text col-error">
        {{error}}
    </p>
    <a *ngIf="error" class="col-gray small-text" (click)="showAllError = !showAllError">View
        {{showAllError ? 'Less': 'More'}}</a>
    <p *ngIf="showAllError" style="margin-left: 10px; max-width: 1000" class="small-text col-error">
        {{errorLarge}}
    </p>
</div>