<modal-header title="{{'EXPORT'|translate}}" (click)="close(false)"></modal-header>

<div class="group-col-left padd-20" style="position: relative; max-height: 80vh; overflow-y: auto;">
    <p class="marg-bottom-20">{{'SET_EMAIL_EXPORT'|translate}}</p>
    <form style="width: 100%" [formGroup]="formGroup">
        <mat-form-field style="width: 100%; padding-bottom: 10px" floatLabel="always">
            <mat-label>{{'EMAIL' | translate}}*</mat-label>
            <input autocomplete="email" type="email" matInput placeholder="{{'example@domain.com'|translate}}"
                formControlName="email" />
            <mat-error *ngIf="formGroup.get('email').invalid">{{'FIELD_REQUIRED' | translate}}</mat-error>
        </mat-form-field>


        <mat-form-field style="width: 100%; padding-bottom: 10px" floatLabel="always">
            <mat-label>{{'EXPORT_FILENAME' | translate}}*</mat-label>
            <input autocomplete="fileName" matInput formControlName="fileName"/>
            <mat-error *ngIf="formGroup.get('fileName').invalid">{{'FIELD_REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <div class="row" style="display: flex; justify-content: space-between;">
            <mat-form-field class="col-4" style="width: 100%; padding-bottom: 10px" floatLabel="always">
                <mat-label>{{'EXPORT_LIMIT_' + this.entityName | translate}}</mat-label>
                <input autocomplete="number" type="number" matInput formControlName="limit"/>
                <mat-error *ngIf="formGroup.get('limit').invalid">{{'FIELD_REQUIRED' | translate}}</mat-error>
            </mat-form-field>

            <div class="col-6 marg-top-20">
                <mat-checkbox color="primary" formControlName="all" (change)="enableDisableLimitFiled()">{{'ALL_ITEMS_' + this.entityName | translate}}</mat-checkbox>
            </div>
        </div>
    </form>

    <kvp-list [(hidden)]="hidden" [items]="list" (onReset)="reset()" (onChange)="changedItems($event)"></kvp-list>

    <div style="width: 100%; margin-top: 20px">
        <btn-loader [loading]="loading" (click)="export()" [disabled]="loading || formGroup.invalid" [text]="'SEND'">
        </btn-loader>
    </div>

    <p *ngIf="error && !showAllError" style="margin-left: 10px" class="small-text col-error">
        {{error}}
    </p>
    <a *ngIf="error" class="col-gray small-text" (click)="showAllError = !showAllError">View
        {{showAllError ? 'Less': 'More'}}</a>
    <p *ngIf="showAllError" style="margin-left: 10px; max-width: 1000" class="small-text col-error">
        {{errorLarge}}
    </p>
</div>