<div style="height: 100%">
    <div class="row" style="margin: 0; padding: 20px;">
        <div class="col-lg-12 bg-white" style="min-height: 200px;padding: 0">
            <tl-header title="AVAILABLE_ACTIVITIES" [(query)]="query" (onSearch)="search($event)">
                <button type="button" color="primary" mat-raised-button name="button" (click)="addActivity()">
                    <p class="text-small">
                        <i class="fa fa-plus"></i> {{('ACTIVITY'|translate)}}
                    </p>
                </button>
            </tl-header>
            <translatable-list [(limit)]="limit" (onSort)="sortData($event)" (changedPage)="changedPage($event)"
                [loading]="loading" (edit)="editActivities($event)" (delete)="deleteActivity($event)"
                [data]="sortedData">
            </translatable-list>
        </div>
    </div>
</div>