<header-nav>
  <div class="group-row-left" matTooltip="{{exceptions}}">
    <div class="status-badge marg-right-x10">
      <p class="label_txt">Relational DB</p>
      <div class="value bg-success" *ngIf="statusMask.rdb">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.rdb">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="status-badge marg-right-x10">
      <p class="label_txt">Non Relational DB</p>
      <div class="value bg-success" *ngIf="statusMask.nrdb">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.nrdb">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="status-badge marg-right-x10">
      <p class="label_txt">BlockChain Node</p>
      <div class="value bg-success" *ngIf="statusMask.bnode">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.bnode">
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>
</header-nav>
<sidemenu></sidemenu>


<div class="page padd-x20" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="Particulares" value="{{totalPrivates | async | number}}" classes="bg-white col-blue">
      </dash-agregation>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="Empresas" value="{{totalCompanies | async | number}}" classes="bg-white col-orange">
      </dash-agregation>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="Moneda en circulación" value="{{totalBalance | async | number}}" classes="bg-white col-black">
      </dash-agregation>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="Transaciones" value="{{totalTransactions | async | number}}" classes="bg-white no-shadow">
      </dash-agregation>
    </div>
    <!-- <div class="col-lg-2 padd-right-x10">
      <dash-agregation title="Velocidad de circulación" value="{{1200 | number}}" classes="bg-white no-shadow">
      </dash-agregation>
    </div> -->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4 style="padding: 15px 0; font-weight: 200;">Vista General</h4>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <dash-chart title="DASH_CHART_REGISTERS" [labels]="['Particulares', 'Empresas']"></dash-chart>
      <dash-chart title="DASH_CHART_TXS" [colors]="txColors" [labels]="['Transaciones', 'M. Monetaria']"></dash-chart>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card style="height: calc(100% - 20px)">
        <h4
          style="font-size: 20px; font-weight: 200; margin-bottom: 15px;text-align: center;text-transform: uppercase;">
          {{'NEIGHBOURHOODS' | translate}}</h4>
        <div id="donut" style="width: 100%"></div>
      </mat-card>
    </div>
  </div>
  <page-footer></page-footer>
</div>