<header-nav>
  <div class="group-row-left" matTooltip="{{exceptions}}">
    <div class="status-badge marg-right-x10">
      <p class="label_txt">Relational DB</p>
      <div class="value bg-success" *ngIf="statusMask.rdb">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.rdb">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="status-badge marg-right-x10">
      <p class="label_txt">Non Relational DB</p>
      <div class="value bg-success" *ngIf="statusMask.nrdb">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.nrdb">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="status-badge marg-right-x10">
      <p class="label_txt">BlockChain Node</p>
      <div class="value bg-success" *ngIf="statusMask.bnode">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.bnode">
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>
</header-nav>
<sidemenu></sidemenu>

<div class="page padd-x20" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
  <div class="row">
    <div></div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="PRIVATE" value="{{totalPrivates | async | number}}" classes="bg-white col-blue">
      </dash-agregation>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="COMPANY" value="{{totalCompanies | async | number}}" classes="bg-white col-orange">
      </dash-agregation>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="{{'CURRENCY_TOTAL'|translate}}" value="{{totalBalance | async | number}} Ɍ"
        classes="bg-white col-black">
      </dash-agregation>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 padd-right-x10">
      <dash-agregation title="Transaciones" value="{{totalTransactions | async | number}}" classes="bg-white no-shadow">
      </dash-agregation>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="group-row-left center v space-between" style="width: 100%">
        <h4 style="padding: 15px 0; font-weight: 200;">{{'General view'|translate}}</h4>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="fa fa-cog"></i>
          </button>
          <mat-menu #menu="matMenu" class="padd-x10">
            <h4>
              Dashboard Settings
            </h4>
            <mat-checkbox color="primary" [checked]="refreshEnabled" (click)="$event.stopPropagation()"
              (change)="refreshChanged($event)">
              Refresh Enabled</mat-checkbox>
            <div>
              <select matNativeControl [(ngModel)]="refreshInterval" (ngModelChange)="setRefresh();" (click)="$event.stopPropagation()">
                <option value="10" (click)="$event.preventDefault()">10s</option>
                <option value="30" (click)="$event.preventDefault()">30s</option>
                <option value="60" (click)="$event.preventDefault()">1m</option>
                <option value="300" (click)="$event.preventDefault()">5m</option>
              </select>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <dash-chart #registerChart (changed)="getRegisterTS($event)" [data]="registerTimeseries"
        [title]="'DASH_CHART_REGISTERS'" [colors]="regColors" [labels]="['PRIVATE', 'COMPANY']"></dash-chart>
      <dash-chart #txChart (changed)="getTransactionsTS($event)" [data]="transactionsTimeseries"
        [title]="'DASH_CHART_TXS'" [colors]="txColors" [labels]="['TRANSACTIONS', 'VOLUME']"></dash-chart>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card style="height: calc(100% - 20px); position: relative;">
        <h4
          style="font-size: 20px; font-weight: 200; margin-bottom: 15px;text-align: center;text-transform: uppercase;">
          {{'NEIGHBOURHOODS' | translate}} (<code matTooltip="Total Neighbourhoods">{{neighbourhoods.length}}</code>)
        </h4>
        <button class="abs-top-right" color="primary" mat-icon-button (click)="getNeighbourhoods()">
          <i class="fa fa-refresh"></i>
        </button>
        <div id="donut" style="width: 100%"></div>

        <div class="group-col-left">
          <div *ngFor="let neighbourhood of neighbourhoods; let i = index"
            style="margin-right: 10px; padding-bottom:6px; width: 100%">
            <p matTooltip="{{neighbourhood.description}}" class="group-row-left center v space-between"
              style="width: 100%">
              <span><i class="fa fa-square" [style.color]="neighColors[i % neighColors.length]"></i>
                {{neighbourhood.name|translate}}</span> <span><code>{{neighbourhood.accounts_total}}</code></span>
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <page-footer></page-footer>
</div>