<header-nav>
  <div class="group-row-left" matTooltip="{{exceptions}}">
    <div class="status-badge marg-right-x10">
      <p class="label_txt">Relational DB</p>
      <div class="value bg-success" *ngIf="statusMask.rdb">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.rdb">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="status-badge marg-right-x10">
      <p class="label_txt">Non Relational DB</p>
      <div class="value bg-success" *ngIf="statusMask.nrdb">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.nrdb">
        <i class="fa fa-times"></i>
      </div>
    </div>
    <div class="status-badge marg-right-x10">
      <p class="label_txt">BlockChain Node</p>
      <div class="value bg-success" *ngIf="statusMask.bnode">
        <i class="fa fa-check"></i>
      </div>
      <div class="value bg-error" *ngIf="!statusMask.bnode">
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>
</header-nav>
<sidemenu></sidemenu>


<div class="page padd-x20" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
  <div class="row">
    <div class="col-lg-2 padd-right-x10">
      <dash-agregation title="Particulares" value="{{1200 | number}}" classes="bg-blue"></dash-agregation>
    </div>
    <div class="col-lg-2 padd-right-x10">
      <dash-agregation title="Empresas" value="{{1200 | number}}" classes="bg-orange"></dash-agregation>
    </div>
    <div class="col-lg-4 padd-right-x10">
      <dash-agregation title="Moneda en circulación" value="{{1200 | number}}" classes="bg-black"></dash-agregation>
    </div>
    <div class="col-lg-2 padd-right-x10">
      <dash-agregation title="Transaciones" value="{{1200 | number}}" classes="bg-white no-shadow"></dash-agregation>
    </div>
    <div class="col-lg-2 padd-right-x10">
      <dash-agregation title="Velocidad de circulación" value="{{1200 | number}}" classes="bg-white no-shadow">
      </dash-agregation>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4 style="padding: 10px 0">Vista General</h4>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <dash-chart></dash-chart>
      <dash-chart></dash-chart>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <mat-card style="height: calc(100% - 20px)">
        <div id="donut" style="width: 100%"></div>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" style="min-height: 200px;margin-bottom: 15px">
      <div class="bg-white" style="width: 100%; height: 100%;">

      </div>
    </div>
    <div class="col-lg-6" style="min-height: 200px;margin-bottom: 15px">
      <div class="bg-white" style="width: 100%; height: 100%;">

      </div>
    </div>
  </div>

  <!-- <div class="row marg-bottom-x20">
    <div class="col-lg-12">
      <div class="group-row-left center v">
        <h4 style="padding: 10px 0">{{'SYSTEM_STATUS'|translate}}</h4>
        <button mat-icon-button (click)="getStatus()"><i class="fa fa-refresh" [ngClass]="{'fa-spin': loadingStatus}"></i></button>
      </div>
      <div class="group-row-left">
        <div class="status-badge marg-right-x10">
          <p class="label_txt">Relational DB</p>
          <div class="value bg-success" *ngIf="statusMask.rdb">
            <i class="fa fa-check"></i>
          </div>
          <div class="value bg-error" *ngIf="!statusMask.rdb">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="status-badge marg-right-x10">
          <p class="label_txt">Non Relational DB</p>
          <div class="value bg-success" *ngIf="statusMask.nrdb">
            <i class="fa fa-check"></i>
          </div>
          <div class="value bg-error" *ngIf="!statusMask.nrdb">
            <i class="fa fa-times"></i>
          </div>
        </div>
        <div class="status-badge marg-right-x10">
          <p class="label_txt">BlockChain Node</p>
          <div class="value bg-success" *ngIf="statusMask.bnode">
            <i class="fa fa-check"></i>
          </div>
          <div class="value bg-error" *ngIf="!statusMask.bnode">
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <page-footer></page-footer>
</div>