import * as pkg from '../../package.json';

export const environment = {
  beta: false,
  captchaKey: '$PANEL_CAPTCHA_KEY',
  clientID: '$PANEL_CLIENT_ID',
  clientSecret: '$PANEL_CLIENT_SECRET',
  production: true,
  error_500_details: "$PANEL_DETAILED_ERROR_500",
  url: '$PANEL_API_URL',
  version: pkg.version,
  test: false,
  sentry: {
    dsn: "$SENTRY_DSN",
    active: true
  },
  Brand: {
    "title": "$PANEL_TITLE",
    "name": "$PANEL_ORGANIZATION_NAME",
    "header_title": "$PANEL_TITLE",
    "no_image_image": "../assets/resources/img/no-image.png",
    "web_url": "$PANEL_WEB_URL",
    "logo_url": "../assets/resources/logo_white.png",
    "loading_logo_url": "../assets/resources/logo_round.png",
     account_default_image: '../assets/resources/img/User-default.png',
    "favicon": "$PANEL_FAVICON_URL",
    "terms_of_service_url": "$PANEL_TOS_URL",
    "copyright_year": "$PANEL_COPYRIGHT_YEAR",
    "api_docs_url": "$PANEL_API_DOCS_URL",
    "sandbox_front_url": "$PANEL_SANDBOX_FRONT_URL",
    "suport_url": "$PANEL_SUPPORT_URL",
    "color": "$PANEL_MAIN_COLOR",
    "color_dark": "$PANEL_DARK_COLOR",
    "theme_main": "$PANEL_MAIN_THEME",
    "theme_accent": "$PANEL_ACCENT_THEME",
  },
};
