<div class="group-col-left" style="margin-top: 10px;">
    <span class="small-text-2">{{label|translate}}</span>
    <div class="row">
        <div class="col-lg-12">
            <div class="file-selector">
                <img style="height: 100px; width: 100px;" src="{{file}}" alt="" class="user-image">
                <div class="overlay" (click)="openUpdateImage()">
                    <icon-btn icon="fa-camera"></icon-btn>
                </div>
            </div>
        </div>
    </div>
</div>