<div class="group-col-left" style="margin-top: 10px;">
    <strong class="small-text-2 marg-bottom-10">{{label|translate}}</strong>
    <div *ngIf="isAvatar else notAvatar" class="avatar-selector">
        <img style="height: 100px; width: 100px;" src="{{file}}" alt="" class="user-image">
        <div class="overlay" (click)="openUpdateImage()">
            <icon-btn icon="fa-camera"></icon-btn>
        </div>
    </div>

    <ng-template #notAvatar>
        <div class="file-selector">
            <img *ngIf="file != null" style="height: 100%; width: 100%;" src="{{file}}" alt="">
            
            <ng-template #noImage>
                <div class="container centered flex-row-left" style="height: 100%; width: 100%">
                    <mat-icon>camera_alt</mat-icon>
                </div>
            </ng-template>

            <div class="overlay" (click)="openUpdateImage()">
                <mat-icon style="color: #666">camera_alt</mat-icon>
            </div>
        </div>
    </ng-template>
</div>