<div class="group-col-left" style="margin-top: 10px;">
    <strong class="small-text-2 marg-bottom-10">{{label|translate}}</strong>
    <div *ngIf="isAvatar else notAvatar" class="avatar-selector">
        <img style="height: 100px; width: 100px;" src="{{file}}" alt="" class="user-image">
        <div class="overlay" (click)="openUpdateImage()">
            <icon-btn icon="fa-camera"></icon-btn>
        </div>
    </div>

    <ng-template #notAvatar>
        <div *ngIf="!isDefaultButton else Default">
        <div *ngIf="bigger" class="file-selector"
            style="width: 280px;  height: 160px;  overflow: hidden; display: flex; align-items: center;  justify-content: center; ">
            <img *ngIf="file != null" style="width: '350px'; border-radius: 6px;" src="{{file}}" alt="">
            <ng-template #noImage>
                <div class="container centered flex-row-left" style="height: 100%; width: 100%">
                    <mat-icon>camera_alt</mat-icon>
                </div>
            </ng-template>
            <div class="overlay" (click)="openUpdateImage()">
                <mat-icon style="color: #666">camera_alt</mat-icon>
            </div>
            </div>
            <div *ngIf="!bigger" class="file-selector"
            style="width: 170px;  height: 180px;  overflow: hidden; display: flex; align-items: center;  justify-content: center; ">
            <img *ngIf="file != null" style="width: 100%; overflow: hidden; border-radius: 6px; overflow: hidden;
             display: flex; align-items: center;  justify-content: center;" src="{{file}}" alt="">
            <ng-template #noImage>
                <div class="container centered flex-row-left" style="height: 100%; width: 100%">
                    <mat-icon>camera_alt</mat-icon>
                </div>
            </ng-template>
            <div class="overlay" (click)="openUpdateImage()">
                <mat-icon style="color: #666">camera_alt</mat-icon>
            </div>
            </div>
            <span *ngIf="infoFooter" style="color: rgb(92, 91, 91); font-size: 12px; font-weight: 200; margin-top: 10px;">*{{infoFooter | translate}}</span>
        </div>
            <ng-template #Default>
                <div class="file-selector background-color-primary"
                style="width: 140px;  height: 35px; overflow: hidden; display: flex; align-items: center; justify-content: center; cursor: pointer;"
                (click)="openUpdateImage()">
                    <i style="color: white; margin-right: 10px;" class="fa fa-file-upload"></i>
                    <p style="color: white; font-family: Roboto; font-size: 14px; font-weight: normal;">Subir archivo</p>
                </div>
            </ng-template>
    </ng-template>
</div>