<div class="col-lg-12 bg-white" style="min-height: 200px;padding: 0">
    <tl-header [title]="title" [query]="query" [options]="{ deepLinkQuery: true, input: true, refresh: true }"
        (onSearch)="search($event)">
        <button type="button" color="primary" mat-raised-button name="button" (click)="addItem()">
            <p class="text-small">
                <i class="fa fa-plus"></i> {{'DOCUMENTS'|translate}}
            </p>
        </button>
    </tl-header>
    <tl-subheader>
        <div style="width: auto;" class="center v" >
            <div style="padding: 10px" matTooltip="{{'Filter by document_kind' | translate}}">
                <document-kind-picker [needsNone]="true" [item]="productKindFilter" label="DOCUMENT_KIND"
                    (itemChanged)="selectDocKind($event)"></document-kind-picker>
            </div>
            <div style="padding: 10px;" matTooltip="{{'Filter by account' | translate}}" *ngIf="showAccountFilter">
                <account-picker [needsNone]="true" [item]="accountFilter" label="ACCOUNTS"
                    (itemChanged)="addAccountIdQuery($event)" style="margin: 0">
                </account-picker>
            </div>
            <div style="padding: 10px" matTooltip="{{'Filter by user' | translate}}" *ngIf="showUserFilter">
                <user-picker [needsNone]="true" (itemChanged)="addUserIdQuery($event)" style="margin: 0"
                    [item]="userFilter" label="USERS">
                </user-picker>
            </div>

            <div style="margin-left: 10px;" matTooltip="{{'Filter by status' | translate}}">
                <document-status-selector label="Status" [needsNone]="true" (itemChanged)="filterStatus($event)"></document-status-selector>
            </div>
        </div>
    </tl-subheader>
    <tl-table [loading]="loading" [sort]="true" (onSort)="sortData($event)" [headers]="headers" [data]="sortedData"
        [itemOptions]="itemOptions" noItemsMessage="There are no items yet" [options]="tableOptions" [limit]="limit"
        [total]="total" [pageIndex]="offset" (onChangePage)="changedPage($event)" showLoader="true">
    </tl-table>
</div>