<div class="modal-header bg-blue">
  <span>{{'Developer Options'|translate}}</span>

  <button type="button" md-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
    <span class="center h v">
      <i class="fa fa-times col-white"></i>
    </span>
  </button>
</div>

<div class="group-col-left padd-x20 modal-body">
  <h4>{{'WANT_TO_DEVELOP_WITH_CHIPCHAP'|translate}}</h4>
  <div style="padding: 10px 15px">
    <p class="small-text-2" [innerHTML]="'DEV_OPTS_CONTENT'|translate"></p>
    <div style="margin: 15px 10px">
      <div class="row">
        <div class="col-lg-6">
          <a href="{{Brand.sandbox_front_url}}" target="_blank" class="fill-size paneled hoverable" style="padding: 10px 15px; position: relative; display: block">
            <div style="padding-bottom: 10px!important; color: #666">
              <b>
                <i class="fa fa-code"></i>
                {{'Want to use sandbox'|translate}}?
              </b>

              <i class="fa fa-external-link abs-right-top small-text"></i>
            </div>
            <p class="small-text col-gray" [innerHTML]="'SANDBOX_DESC'|translate"></p>
          </a>
        </div>
        <div class="col-lg-6">
          <a href="{{Brand.api_docs_url}}" target="_blank" class="fill-size paneled hoverable" style="padding: 10px 15px; position: relative; display: block">
            <div style="padding-bottom: 10px!important; color: #666">
              <b>
                <i class="fa fa-book"></i>
                {{'API documentation'|translate}}?
              </b>

              <i class="fa fa-external-link abs-right-top small-text"></i>
            </div>
            <p class="small-text col-gray" [innerHTML]="'DOCS_DESC'|translate"></p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>