<div class="modal-header bg-blue" *ngIf="showHeader">
  <span>
    {{'MANAGE_CURRENCIES'|translate}}
  </span>

  <button type="button" md-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
    <span class="center h v">
      <i class="fa fa-times col-white"></i>
    </span>
  </button>
</div>

<div class="group-col-left padd-x20 modal-body" style="min-height: 0">
  <div class="group-col-left" style="width: 100%">
    <p class="small-text-2" style="margin-bottom: 10px!important">{{'Enable/Disable curencies for this company'|translate}}: </p>
    <div style="padding-left: 15px; width: 100%" class="group-col-left">
      <div class="row" style="width: 100%">
        <div class="fill-size center h v" *ngIf="!companyService.currencies.length">
          <mat-progress-spinner color="primary" style="width: 45px; height: 45px" mode="indeterminate"></mat-progress-spinner>
        </div>
        <div class="col-lg-3" *ngFor="let currency of companyService.currencies" style="margin-top: 15px">
          <div class="currency center space-between">
            <mat-checkbox color="primary" [checked]="currency.enabled" [disabled]="disabled" (click)="updateSetting(currency.name, !currency.enabled)">
              <p class="small-text-2">{{currency.name}}</p>
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>