:host .sidemenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  /* transition: 0.3s ease-in-out; */
  overflow: hidden;
  z-index: 999999999;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.3) !important;
}

.backdrop-mobile:not(.collapsed) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.sidemenu.collapsed {
  width: 65px;
}

.user-info {
  height: auto;
  padding: 15px;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.3) !important;
}

.collapse-menu {
  height: 47px;
  /* width: 200px; */
}

.menu {
  max-height: calc(100% - 120px);
  padding-bottom: 80px;
}
.menu-item.opened {
  background: rgba(255, 255, 255, 0.3) !important;
  color: #fff !important;
}

.content:not(.small) .dropdown .menu-item {
  padding-left: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.content-small {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.content:not(.small) .dropdown .menu-item.expanded {
  padding-left: 20px;
}

.dropdown {
  height: 0;
  overflow: hidden;
}

.dropdown.expanded {
  height: auto;
  padding-left: 15px;
}
.small .separate:first-child {
  display: none;
}
