<div class="sidemenu"
  [ngClass]="{'collapsed': !contrService.isToggled('sidemenu'), 'company': us.userData.group_data.type === 'COMPANY'}">
  <div class="collapse-menu center v h">
    <icon-btn (click)="contrService.toggle('sidemenu')"
      [icon]="(contrService.isToggled('sidemenu') ? 'fa-caret-left': 'fa-caret-right') + ' col-white'">
    </icon-btn>
    <a routerLink="/dashboard" class="col-white text-mid-small" *ngIf="contrService.isToggled('sidemenu')">
      {{brand.header_title}} <span class="small-text monospace">{{environment.version}}</span>
    </a>
  </div>
  <div class="content bg-white h-100" [ngClass]="{'small': !contrService.isToggled('sidemenu')}"
    style="position:relative">
    <div class="user-info bg-blue" *ngIf="contrService.isToggled('sidemenu')">
      <div class="user-data center-start">
        <div class="user-image center h column">
          <img src="{{us.userData.group_data.company_image || brand.profile_default_image}}" alt="">
        </div>
        <div class="user-company">
          <p *ngIf="us.userData.group_data.tier < 4" class="text-mid-small center v space-between" sandbox-test>
            {{'Account'|translate}}
          </p>
          <h4 title="{{us.userData.group_data.name}}" class="col-white text-medium"
            style="white-space: nowrap;margin-bottom: 0; padding-bottom: 0;">
            {{us.userData.group_data.name}}
          </h4>
        </div>
      </div>
    </div>
    <div class="menu scrollable">
      <ul class="ul-no-decoration no-padding">
        <ng-template ngFor let-item [ngForOf]="items">
          <!-- Separator -->
          <li class="menu-item separate" disabled *ngIf="item.type == 'separator'">
            <span *ngIf="contrService.isToggled('sidemenu')">
              {{item.name|translate}}
            </span>
          </li>

          <!-- Item -->
          <li class="menu-item" [ngClass]="{'center h': !contrService.isToggled('sidemenu')}" (click)="clickedItem()"
            *ngIf="item.type == 'item' || !item.type" [routerLink]="item.route" routerLinkActive="active">
            <i class="fa fa-lg fa-fw {{item.icon}}"></i>
            <span *ngIf="contrService.isToggled('sidemenu')">
              {{item.name|translate}}
            </span>
          </li>

          <!-- Drop down -->
          <li class="menu-item" *ngIf="item.type == 'dropdown' && contrService.isToggled('sidemenu')"
            (click)="contrService.toggle(item.name)">
            <i class="fa fa-lg fa-fw {{item.icon}}"></i>
            <span class="dropdown-text">
              {{item.name|translate}}
              <span class="fa fa-angle-right" *ngIf="!contrService.isToggled(item.name)"></span>
              <span class="fa fa-angle-down" *ngIf="contrService.isToggled(item.name)"></span>
            </span>
          </li>
          <ul *ngIf="item.type == 'dropdown' && contrService.isToggled('sidemenu')" class="dropdown"
            [ngClass]="{'expanded': contrService.isToggled(item.name)}">
            <li *ngFor="let child of item.children" class="menu-item" (click)="clickedItem()" [routerLink]="child.route"
              routerLinkActive="active">
              <i class="fa fa-lg fa-fw {{child.icon}}"></i>
              <span>
                {{child.name|translate}}
              </span>
            </li>
          </ul>

          <!-- Drop Down small -->
          <ng-template ngFor let-child [ngForOf]="item.children">
            <li class="menu-item" *ngIf="!contrService.isToggled('sidemenu')" (click)="clickedItem()"
              [routerLink]="child.route" routerLinkActive="active">
              <i class="fa fa-lg fa-fw {{child.icon}}"></i>
              <span *ngIf="contrService.isToggled('sidemenu')">
                {{child.name|translate}}
              </span>
            </li>
          </ng-template>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
<div class="backdrop-mobile" [ngClass]="{'collapsed': !contrService.isToggled('sidemenu')}" *ngIf="utils.isMobileDevice"
  (click)="contrService.toggle('sidemenu')"></div>