<div class="sidemenu" [ngClass]="{'collapsed': !toggled, 'company': us.userData.group_data.type === 'COMPANY'}">
  <div class="collapse-menu center v" [ngClass]="{'h': !toggled}">
    <button mat-icon-button (click)="controles.toggle('sidemenu')"
      [ngClass]="{'marg-l-10': toggled, 'center h': !toggled}">
      <div class="center v col-white">
        <i class="fa fa-caret-left" style="margin-right: 6px;" *ngIf="toggled"></i>
        <i class="navbar-icon fa fa-bars"></i>
        <i class="fa fa-caret-right" style="margin-left: 6px;" *ngIf="!toggled"></i>
      </div>
    </button>
    <a routerLink="/dashboard" class="col-white text-mid-small" style="width: 120px" *ngIf="toggled">
      {{brand.header_title}}
    </a>
  </div>
  <div class="content bg-white h-100" [ngClass]="{'small': !toggled}" style="position:relative">
    <div class="user-info bg-blue" *ngIf="toggled">
      <div class="user-data center-start">
        <div class="user-image center h column">
          <img src="{{us.userData.group_data.company_image || brand.profile_default_image}}" alt="">
        </div>
        <div class="user-company">
          <p *ngIf="us.userData.group_data.tier < 4" class="text-mid-small center v space-between" sandbox-test>
            {{'Account'|translate}}
          </p>
          <h4 title="{{us.userData.group_data.name}}" class="col-white text-medium"
            style="white-space: nowrap;margin-bottom: 0; padding-bottom: 0;">
            {{us.userData.group_data.name}}
          </h4>
        </div>
      </div>
    </div>
    <div class="menu scrollable">
      <ul class="ul-no-decoration no-padding">
        <ng-template ngFor let-item [ngForOf]="items">
          <!-- Separator -->
          <li class="menu-item separate" disabled *ngIf="item.type == 'separator'">
            <span *ngIf="toggled">
              {{item.name|translate}}
            </span>
          </li>

          <!-- Item -->
          <li class="menu-item" (click)="clickedItem()" *ngIf="item.type == 'item' || !item.type"
            [ngClass]="{'center h': !toggled}" [routerLink]="item.route" routerLinkActive="active">
            <i class="fa fa-lg fa-fw {{item.icon}}"></i>
            <span *ngIf="toggled">
              {{item.name|translate}}
            </span>
          </li>

          <!-- Drop down -->
          <li class="menu-item" *ngIf="item.type == 'dropdown' && toggled" (click)="controles.toggle(item.name)">
            <i class="fa fa-lg fa-fw {{item.icon}}"></i>
            <span class="dropdown-text">
              {{item.name|translate}}
              <span class="fa fa-angle-right" *ngIf="!toggled"></span>
              <span class="fa fa-angle-down" *ngIf="toggled"></span>
            </span>
          </li>
          <ul *ngIf="item.type == 'dropdown' && toggled" class="dropdown"
            [ngClass]="{'expanded': controles.isToggled(item.name)}">
            <li *ngFor="let child of item.children" class="menu-item" (click)="clickedItem()" [routerLink]="child.route"
              routerLinkActive="active">
              <i class="fa fa-lg fa-fw {{child.icon}}"></i>
              <span>
                {{child.name|translate}}
              </span>
            </li>
          </ul>

          <!-- Drop Down small -->
          <ng-template ngFor let-child [ngForOf]="item.children">
            <li class="menu-item" *ngIf="!toggled" (click)="clickedItem()" [ngClass]="{'center h': !toggled}"
              [routerLink]="child.route" routerLinkActive="active">
              <i class="fa fa-lg fa-fw {{child.icon}}"></i>
              <span *ngIf="toggled">
                {{child.name|translate}}
              </span>
            </li>
          </ng-template>
        </ng-template>
      </ul>
      <div style="padding-left: 15px">
        <p class="small-text">Version: <code>{{environment.version}}</code></p>
        <p class="small-text">API:  <code>{{apiVersion}}</code></p>
      </div>
    </div>
  </div>
</div>
<div class="backdrop-mobile" [ngClass]="{'collapsed': !toggled}" *ngIf="utils.isMobileDevice"
  (click)="controles.toggle('sidemenu')"></div>