:host {
  width: 100%;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
}
.content {
  margin-top: 15px;
}

.collapse-card {
  background: #fff;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  cursor: pointer;
}

.collapse-card .content {
  transition: all 0.3s ease-in-out;
  height: 0px;
  overflow: hidden;
  padding: 0 15px;
  opacity: 0;
}

.collapse-card .content.opened {
  height: auto;
  opacity: 1;
}

.collapse-card .image {
  height: 40px;
}
