<mat-form-field [formGroup]="formGroup"  [floatLabel]="'never'" style="width: 100%">
    <input matInput [formControlName]="formControlName" [disabled]="isDisable" matInput [value]="date" (dateChange)="setDate($event)" [placeholder]="label" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="formGroup.get('end').invalid"> {{'REQUIERED_END' | translate}}
    </mat-error>
</mat-form-field>

