<div style="height: 100%">
    <div class="row" style="margin: 0; padding: 20px;">
        <div class="col-lg-12 bg-white" style="min-height: 200px;padding: 0">
            <tl-header title="{{'AVAILABLE_PRODUCTS' | translate}}" [query]="query"
                [options]="{ deepLinkQuery: true, input: true, refresh: true }" (onSearch)="search($event)">
                <button type="button" class="background-color-primary" mat-raised-button name="button" (click)="addProduct()">
                    <p class="text-small">
                        <i class="fa fa-plus"></i> {{'PRODUCT'|translate}}
                    </p>
                </button>
            </tl-header>
            <tl-subheader>
                <div style="padding-left: 15px">
                    <mat-checkbox color="primary" [checked]="sortElementsToRevise"
                        (change)="showElementsAddQuery($event)">
                        <p class="small-text">{{'UNREVISED_FIRST'|translate}}</p>
                    </mat-checkbox>
                </div>

                <div style="padding: 10px">
                    <activity-picker [needsNone]="true" label="{{'FILTER_ACTIVITY'|translate}}" [item]="activityFilter"
                        (itemChanged)="selectActivityToFilter($event)" [parent]="'null'">
                    </activity-picker>
                </div>
            </tl-subheader>
            <translatable-list [hasStatus]="true" [(limit)]="limit" [total]="total" (onSort)="sortData($event)"
                (aprove)="aproveProduct($event)" (changedPage)="changedPage($event)" [loading]="loading"
                (edit)="editProducts($event)" (delete)="deleteProduct($event)" [(data)]="sortedData"
                [displayedColumns]="productsColumns">
            </translatable-list>
        </div>
    </div>
</div>