<div style="height: 100%">
    <div class="row" style="margin: 0; padding: 20px;">
        <div class="col-lg-12 bg-white" style="min-height: 200px;padding: 0">
            <tl-header title="AVAILABLE_PRODUCTS" [query]="query"
                [options]="{ deepLinkQuery: true, input: true, refresh: true }" (onSearch)="search($event)">
                <button type="button" color="primary" mat-raised-button name="button" (click)="addProduct()">
                    <p class="text-small">
                        <i class="fa fa-plus"></i> {{'PRODUCT'|translate}}
                    </p>
                </button>
            </tl-header>
            <tl-subheader>
                <div style="padding-left: 15px">
                    <mat-checkbox color="primary" [checked]="sortElementsToRevise"
                        (change)="showElementsAddQuery($event)">
                        <p class="small-text">{{'UNREVISED_FIRST'|translate}}</p>
                    </mat-checkbox>
                </div>

                <!-- Activity consumed -->
                <div style="padding: 10px">
                    <button [matMenuTriggerFor]="activityConsumedFilterMenu" type="button" mat-button
                        class="mat-button-menu"
                        style="text-align: left; margin: 0!important; width: auto; min-width: 1px;line-height: 28px!important; margin-right: 10px!important">
                        <span style="padding-right: 8px;">{{activityConsumedFilter ? (activityConsumedFilter | tolang) :
                            ('ACTIVITY_CONSUMED' | translate)}}</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>

                <mat-menu #activityConsumedFilterMenu="matMenu" y-position="below" overlapTrigger="false">
                    <button (click)="selectActivityConsumedToFilter(null)" mat-menu-item style="padding: 5px auto">
                        <span style="color: #666; font-size: 12px">{{'None'|translate}}</span>
                    </button>

                    <button (click)="selectActivityConsumedToFilter(act)" mat-menu-item *ngFor="let act of activities"
                        style="padding: 5px auto"
                        [ngClass]="{'bg-gray-light': activityConsumedFilter && act.id == activityConsumedFilter.id}">
                        <span style="color: #666; font-size: 12px">{{act | tolang}}</span>
                    </button>
                </mat-menu>

                <!-- Activity produced -->
                <div style="padding: 10px">
                    <button [matMenuTriggerFor]="activityProducedFilterMenu" type="button" mat-button
                        class="mat-button-menu"
                        style="text-align: left; margin: 0!important; width: auto; min-width: 1px;line-height: 28px!important; margin-right: 10px!important">
                        <span style="padding-right: 8px;">{{activityProducedFilter ? (activityProducedFilter | tolang) :
                            ('ACTIVITY_PRODUCED' | translate)}}</span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                </div>

                <mat-menu #activityProducedFilterMenu="matMenu" y-position="below" overlapTrigger="false">
                    <button (click)="selectActivityProducedToFilter(null)" mat-menu-item style="padding: 5px auto">
                        <span style="color: #666; font-size: 12px">{{'None'|translate}}</span>
                    </button>

                    <button (click)="selectActivityProducedToFilter(act)" mat-menu-item *ngFor="let act of activities"
                        style="padding: 5px auto"
                        [ngClass]="{'bg-gray-light': activityProducedFilter && act.id == activityProducedFilter.id}">
                        <span style="color: #666; font-size: 12px">{{act | tolang}}</span>
                    </button>
                </mat-menu>
            </tl-subheader>
            <translatable-list [hasStatus]="true" [(limit)]="limit" [total]="total" (onSort)="sortData($event)"
                (aprove)="aproveProduct($event)" (changedPage)="changedPage($event)" [loading]="loading"
                (edit)="editProducts($event)" (delete)="deleteProduct($event)" [(data)]="sortedData"
                [displayedColumns]="productsColumns">
            </translatable-list>
        </div>
    </div>
</div>