<mat-form-field>
  <mat-label>
    <span *ngIf="!isLoading">{{label | translate}}</span>
    <div style="display: flex; align-items: center" *ngIf="isLoading">
      <mat-spinner [diameter]="20" class="primary-spinner marg-right-10"></mat-spinner>
      <span class="small-text" style="margin-left: 10px">{{'LOADING'|translate}}</span>
    </div>
  </mat-label>

  <div *ngIf="showSelection">
    <mat-select [ngModel]="item" [disabled]="disabled" (ngModelChange)="selectItem($event)">
      <div *ngIf="hasSearch" class="padd-10 bordered-bottom sticky-top-center bg-white">
        <input #search color="primary" style="margin: 0 15px" class="search-input" [(ngModel)]="query"
          placeholder="{{'SEARCH'|translate}}">
      </div>
  
      <mat-option *ngFor="let item of items" [value]="item">
        <ng-template *ngIf="item" [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
        <span *ngIf="content != null && content != undefined && item!=null">
          {{item.name}}
        </span>
      </mat-option>
    </mat-select>
  </div>
  <div *ngIf="!showSelection">
    <mat-select [ngModel]="item" [disabled]="disabled" >
      <div *ngIf="hasSearch" class="padd-10 bordered-bottom sticky-top-center bg-white">
        <input #search color="primary" style="margin: 0 15px" class="search-input" [(ngModel)]="query"
          placeholder="{{'SEARCH'|translate}}">
      </div>
  
      <mat-option *ngFor="let item of items" [value]="" (click)="selectItem(item)">
        <ng-template *ngIf="item" [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
        <span *ngIf="content != null && content != undefined && item!=null">
          {{item.name}}
        </span>
      </mat-option>
    </mat-select>
  </div>

</mat-form-field>