<modal-header *ngIf="!isDefaultButton" title="{{title|translate}}" (click)="close(false)"></modal-header>
<modal-header *ngIf="isDefaultButton" title="{{'UPLOAD_FILE'|translate}}" (click)="close(false)"></modal-header>

<div *ngIf="!isDefaultButton" class="group-col-left padd-20">

  <div class="group-row-left" style="width: 100%;max-width: 30vw; align-items: flex-start">
    <div class="" style="height: 150px; width: 150px">
      <img *ngIf="isImage" src="{{selectedImage || brand[noImageName]}}" style="width: 150px; height: auto">
      <div *ngIf="!isImage" style="width: 150px;height: 150px; border-radius: 50%" class="bg-blue center h v">
        <h4 class="col-white">{{extension}}</h4>
      </div>
    </div>

    <div class="group-col-left" style="overflow: visible; height: auto;width: 100%;">
      <div>
        <label class="cta-btn hoverable background-color-primary" for="image" style="margin-left: 15px">
          <p class="small-text-2">{{'Select File'|translate}}</p>
        </label>
        <span class="small-text" style="margin-left: 10px">{{selectedImageName|translate}}</span>
        <input type="file" name="" value="" id="image" style="display: none" (change)="changedImage($event)">
      </div>
      <div style="width: 100%;">
        <button (click)="uploadFile()" [disabled]="!selectedImageName && !hasSelectedImage" type="button"
          mat-raised-button color="primary" name="button" style="margin-top: 15px; margin-left: 15px; width: 100%">
          {{'Upload'|translate}}
        </button>
        <p class="text-danger small-text" *ngIf="error">{{error|translate}}</p>
        <div class="group-row-left center v" style="margin-top: 15px; margin-left: 15px; width: 100%"
          *ngIf="progress > 0">
          <mat-progress-bar mode="determinate" color="primary" [value]="progress"></mat-progress-bar>
          <span class="small-text">
            <b>{{ progress }}</b>% </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isDefaultButton">
<div class="group-col-left padd-20" style="width: 400px;">
  <div class="group-col-left" style="overflow: visible; height: auto;">
    <div >
      <p class="small-text">{{'SELECT_UPLOAD' | translate}}</p>
    </div>

    <div style="width: 100%;">
      <label  for="image" class="background-color-primary" style="margin-left:36px; margin-top: 10px; width: 80%; vertical-align: middle; display: flex;
      cursor: pointer; padding: 10px 40px; border-radius: 5px; justify-content: center;">
        <mat-icon style="color: white ;margin-right: 10px!important;">upload_file</mat-icon>
        <p class="small-text-2" style="color: white ;font-size: 18px!important;">{{'UPLOAD_FILE'|translate}}</p>
      </label>
      <input type="file" name="" value="" id="image" style="display: none" (change)="changedImage($event)">
    </div>

    <span class="small-text" style="margin-left: 36px;font-size: 10px!important; margin-bottom: 20px;">{{selectedImageName|translate}}</span>

    <div class="group-row-left center v" style="margin-top: 15px; width: 100%" *ngIf="progress > 0">
      <mat-progress-bar mode="determinate" color="primary" [value]="progress"></mat-progress-bar>

      <span class="small-text">
        <b>{{ progress }}</b>%
      </span>
    </div>

    <div class=""  style="width: 100%;">
      <button (click)="uploadFile()" [disabled]="!hasSelectedImage" type="button" mat-raised-button color="primary" name="button"
        style="margin-top: 15px; width: 100%">
        {{'Upload' | translate}}
      </button>

      <p class="text-danger small-text" *ngIf="error">{{error|translate}}</p>
    </div>
  </div>
</div>