<div>
  <button [matMenuTriggerFor]="notifMenu" type="button" mat-icon-button style="margin-right: 20px">
    <span class="center h v" matBadge="{{ns.count}}" matBadgeOverlap="true" color="primary">
      <i *ngIf="ns.hasNotifications" class="fa fa-bell"></i>
      <i *ngIf="!ns.hasNotifications" class="fa fa-bell" style="opacity: 0.4"></i>
    </span>
    <!-- <span *ngIf="ns.hasNotifications" class="badge badge-pill badge-danger abs-top-right small-text">{{ns.count}}</span> -->
  </button>
  <mat-menu #notifMenu="matMenu" y-position="below" overlapTrigger="false">
    <div mat-menu-item disabled *ngIf="!ns.hasNotifications">
      <p>Nothing here! You are done! </p>
    </div>
    <ng-template ngFor let-notif [ngForOf]="ns.notifications">
      <div (click)="clicked(notif)" *ngIf="!notif.link" mat-menu-item style="height: auto; min-height: 50px">
        <div class="group-row-left">
          <div>
            <b><i class="fa fa-{{notif.icon || 'bell'}}"></i> {{notif.title}}</b>
            <p class="small-text">{{notif.description}}</p>
          </div>
        </div>
      </div>
      <a (click)="clicked(notif)" *ngIf="notif.link" routerLink="{{notif.link}}" mat-menu-item
        style="height: auto; min-height: 50px">
        <div class="group-row-left">
          <div>
            <b><i class="fa fa-{{notif.icon || 'bell'}}"></i> {{notif.title}}</b>
            <p class="small-text">{{notif.description}}</p>
          </div>
        </div>
      </a>
    </ng-template>
  </mat-menu>
</div>