<div style="height: 100%">
  <div class="row" style="margin: 0; padding: 20px;" *ngIf="!error">
    <div class="col-lg-3">
      <mat-card *ngIf="lwInfo" style="min-height: 200px;padding:0;">
        <div class="header bordered-bottom" style="padding: 14px 15px">
          <p class="no-margin no-padding small-text col-blue" style="margin: 0 !important">
            {{'INFO'|translate}}</p>
        </div>

        <div class="group-col-left padd-x20" style="width: 100%;">
          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>{{'Internal ID'|translate}} </b>
            <p>{{lwInfo.LWID}}</p>
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>{{'External ID'|translate}} </b>
            <p>{{lwInfo.ID}}</p>
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>{{'Wallet Status'|translate}} <a matTooltip="Open documentation" target="_blank"
                href="http://documentation.lemonway.fr/api-en/annex/status-and-types/wallet-status"><i
                  class="fa fa-exclamation-circle col-gray-light"></i></a></b>
            <p class="overflow-ellipsis">{{WALLET_STATUS_MAP[lwInfo.STATUS]}}</p>
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>{{'Amount'|translate}}</b>
            <p>{{lwInfo.BAL|number}} €</p>
          </div>


          <div class="group-col-left bordered-top small-text-2" style="margin-top: 8px; padding-top: 8px"
            *ngIf="lwInfo && lwInfo.IBANS">
            <b style="margin-bottom: 10px;">
              {{'IBAN Status'|translate}} <a matTooltip="Open documentation" target="_blank"
                href="http://documentation.lemonway.fr/api-en/annex/status-and-types/iban-status"><i
                  class="fa fa-exclamation-circle col-gray-light"></i></a>
            </b>
            <div class="group-row-left" *ngFor="let iban of lwInfo.IBANS">
              <i>({{iban.ID}})</i> <b style="margin-left: 8px;">{{iban.DATA | mask: 4}}</b> <code
                style="margin-left: 8px;">{{IBAN_STATUS_MAP[iban.S]}}</code>
            </div>
            <div class="group-row-left space-between" style="width: 100%" *ngIf="!lwInfo.IBANS.length">
              <p>{{'NO_IBANS'|translate}}</p> 
              <button style="margin-left: 8px;" mat-raised-button color="primary"
                (click)="newIBAN()">
                + {{'CREATE_IBAN'|translate}}
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-9">
      <mat-card style="min-height: 200px;padding:0; overflow: hidden;">
        <mat-tab-group [(selectedIndex)]="currentTab" (selectedIndexChange)="changeUrl($event)">
          <mat-tab label="{{'WITHDRAWALS'|translate}}">
            <lw-money-out-tab *ngIf="lwInfo" [lwInfo]="lwInfo" [id]="id"></lw-money-out-tab>
          </mat-tab>
          <mat-tab label="{{'WALLET_TO_WALLET'|translate}}">
            <lw-w2w-tab [id]="id"></lw-w2w-tab>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
  <div class="center v h" style="margin: 0; padding: 20px;width: 100%;" *ngIf="error">
    <mat-card class="col-error">
      <div class="group-row-left center v">
        <i class="fa fa-exclamation-circle marg-r-10"></i>
        <span><b>Error</b>: <p>{{error.message}}</p></span>
      </div>
    </mat-card>
  </div>
</div>