<div style="height: 100%">
  <div class="row" style="margin: 0; padding: 20px;" *ngIf="!error && !loading">
    <div class="col-lg-3">
      <mat-card style="min-height: 200px;padding:0;">
        <div class="header bordered-bottom" style="padding: 14px 15px">
          <p class="no-margin no-padding small-text col-blue" style="margin: 0 !important">
            {{'INFO'|translate}}</p>
        </div>

        <div class="group-col-left padd-x20" style="width: 100%;">
          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>Internal ID </b>
            <p>{{lwInfo.LWID}}</p>
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>External ID </b>
            <p>{{lwInfo.ID}}</p>
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>Wallet Status <a matTooltip="Open documentation" target="_blank"
                href="http://documentation.lemonway.fr/api-en/annex/status-and-types/wallet-status"><i
                  class="fa fa-exclamation-circle col-gray-light"></i></a></b>
            <p class="overflow-ellipsis">{{WALLET_STATUS_MAP[lwInfo.STATUS]}}</p>
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>IBAN Status <a matTooltip="Open documentation" target="_blank"
                href="http://documentation.lemonway.fr/api-en/annex/status-and-types/iban-status"><i
                  class="fa fa-exclamation-circle col-gray-light"></i></a></b>
            <!-- <p>{{lwInfo.IBAN ? IBAN_STATUS_MAP[lwInfo.IBAN.S]: 'not set'}}</p> -->
          </div>

          <div class="small-text-2 center v space-between" style="width: 100%;margin-bottom: 6px;">
            <b>Amount</b>
            <p>{{lwInfo.BAL|number}} €</p>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-9">
      <mat-card style="min-height: 200px;padding:0; overflow: hidden;">
        <mat-tab-group [(selectedIndex)]="currentTab" (selectedIndexChange)="changeUrl($event)">
          <mat-tab label="{{'WITHDRAWALS'|translate}}">
            <div class="header bordered-bottom" style="padding: 12px 15px">
              <p class="no-margin no-padding small-text col-blue" style="margin: 0 !important">
                {{'WITHDRAWALS'|translate}}</p>

              <div>
                <button mat-raised-button color="primary" (click)="newWithdrawal()">
                  + {{'CREATE_WITHDRAWAL'|translate}}
                </button>
                <button style="margin-right: 10px;" mat-icon-button color="primary" (click)="search()">
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
            </div>
            <div>
              <tl-table [loading]="loading" [sort]="true" (onSort)="sortData($event)" [headers]="headers"
                [data]="sortedData" noItemsMessage="There are no items yet" [options]="tableOptions" [limit]="limit"
                [total]="total" (onChangePage)="changedPage($event)" showLoader="true">
              </tl-table>
            </div>
          </mat-tab>
          <mat-tab label="{{'WALLET_TO_WALLET'|translate}}">
            <div class="header bordered-bottom" style="padding: 12px 15px">
              <p class="no-margin no-padding small-text col-blue" style="margin: 0 !important">
                {{'WALLET_TO_WALLET'|translate}}</p>

              <div>
                <button style="margin-right: 10px;" mat-raised-button color="primary" (click)="newWallet2WalletOut()">
                  + {{'CASH_OUT'|translate}}/{{'CASH_IN'|translate}}
                </button>

                <button style="margin-right: 10px;" mat-icon-button color="primary" (click)="search()">
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
            </div>
            <div>
              <tl-table [loading]="loading" [sort]="true" (onSort)="sortData($event)" [headers]="headersP2P"
                [data]="sortedDataP2P" noItemsMessage="There are no items yet" [options]="tableOptions" [limit]="limit"
                [total]="total" (onChangePage)="changedPage($event)" showLoader="true">
              </tl-table>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card>
    </div>
  </div>
  <div class="center v h" style="margin: 0; padding: 20px;width: 100%;" *ngIf="error && !loading">
    <mat-card class="col-error">
      <div class="group-row-left center v">
        <i class="fa fa-exclamation-circle marg-r-10"></i>
        <span><b>Error</b>: <p>{{error.message}}</p></span>
      </div>
    </mat-card>
  </div>

  <div class="center h v" *ngIf="loading" style="width: 100%">
    <mat-card class="col-error">
      <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
      </mat-progress-spinner>
    </mat-card>
  </div>
</div>