<mat-card>
  <icon-btn icon="fa-refresh" (click)="selectTimeframe(selectedTimeframe)" class="icon-btn-small abs-top-right"></icon-btn>

  <div class="row">
    <div class="{{timeframes && timeframes.length ? 'col-lg-10': 'col-lg-12'}}">
      <div id="{{id}}" class="chart-parent"></div>
    </div>
    <div class="col-lg-2" *ngIf="timeframes && timeframes.length">
      <div class="group-col-left center h v space-around" style="height: 100%">
        <button mat-raised-button (click)="selectTimeframe(timeframe)"
          color="{{timeframe === selectedTimeframe ? 'primary': ''}}" *ngFor="let timeframe of timeframes"
          style="width: 100%; margin-bottom: 10px">
          {{timeframe.name|translate}}
        </button>
      </div>
    </div>
  </div>
</mat-card>