<div style="height: 100%; padding: 20px">
  <mat-card style="padding: 20px">
    <div *ngIf="!loading && companyService.selectedCompany">

      <div class="group-col-left">
        <b>{{'Details'|translate}}</b>

        <div class="row" style="margin-top: 20px; padding: 0 15px">
          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">{{'Name'|translate}} </strong>
            <span class="small-text-2">{{companyService.selectedCompany.name || ('Not filled'|translate)}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">{{'Email'|translate}} </strong>
            <span class="small-text-2">{{companyService.selectedCompany.email || ('Not filled'|translate)}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">
              {{'REC Address'|translate}}
              <span class="col-success" matTooltip="REC Address is validated">
              </span>
            </strong>
            <span class="small-text-2">{{(companyService.selectedCompany.rec_address || 'Not filled'|translate)}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">
              {{'Phone'|translate}}
              <span class="col-success" matTooltip="Phone is validated">
                <i class="fa fa-check"></i>
              </span>
            </strong>
            <span class="small-text-2"
              *ngIf="companyService.selectedCompany.prefix || companyService.selectedCompany.phone">{{companyService.selectedCompany.prefix}}
              {{companyService.selectedCompany.phone}}</span>
            <span class="small-text-2"
              *ngIf="!companyService.selectedCompany.prefix || !companyService.selectedCompany.phone">
              {{'Not filled'|translate}}
            </span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">
              {{'Address'|translate}}
              <span class="col-success" matTooltip="Address is validated">
                <i class="fa fa-check"></i>
              </span>
            </strong>
            <span class="small-text-2">{{address || ('Not filled'|translate)}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-2 col-sm-6 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">
              {{'Type'|translate}}
              <span class="col-success" matTooltip="Type is validated">
              </span>
            </strong>
            <span class="small-text-2">{{(companyService.selectedCompany.type || 'Not filled'|translate)}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-2 col-sm-6 group-col-left">
            <strong class="small-text" style="margin-bottom: 6px;">
              {{'Subtype'|translate}}
              <span class="col-success" matTooltip="Subtype is validated">
              </span>
            </strong>
            <span class="small-text-2">{{(companyService.selectedCompany.subtype || 'Not filled'|translate)}}</span>
          </div>
        </div>
      </div>
      <div class="group-row-left" style="margin-top: 15px; border-top: 1px solid #ddd">
        <div class="group-col-left">
          <strong class="marg-top-20">{{'BALANCE'|translate}}</strong>

          <div class="group-row-left marg-top-10">
            <code class="small-text-2">
              {{(companyService.selectedCompany.getBalance('REC')|| 0) | number}} Ɍ
            </code>
            <code style="margin-left: 10px" class="small-text-2">
              {{(companyService.selectedCompany.lw_balance || 0) | number}} €
            </code>
          </div>
        </div>
      </div>
      <div *ngIf="companyService.selectedCompany.type == 'COMPANY'" class="group-row-left" style="margin-top: 15px; border-top: 1px solid #ddd">
        <div class="group-col-left">
          <strong class="marg-top-20">{{'Attributes'|translate}}</strong>
          <div class="group-row-left">
            <avatar-badges *ngFor="let badge of companyService.selectedCompany.badges"
            [badge]="badge" style="margin: 10px 10px;">
            </avatar-badges>
          </div>

          <!-- 
            NOTE: We check than badges is not null to hotfix: https://github.com/QbitArtifacts/rec-admin/issues/677
                  This is done because API still does not return badges, so it can be null for now. 
          -->
          <div *ngIf="!companyService.selectedCompany.badges || !companyService.selectedCompany.badges.length" class="group-row-left marg-top-10">
            <span class="small-text-2">{{'NO_ITEMS_YET' | translate}}</span>
          </div>
        </div>
      </div>
      <div class="group-row-left" style="margin-top: 15px; border-top: 1px solid #ddd">
        <div class="group-col-left" style="padding-top: 15px">
          <div>
            <button mat-button color="primary" [disabled]="loading" (click)="openEditAccount()">
              {{'Edit'|translate}}
            </button>
            <button mat-button color="primary" [disabled]="true">
              <span class="col-error">{{'Delete'|translate}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loading" class="center h v bg-white-opaque" style="width: 100%;">
      <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
      </mat-progress-spinner>
    </div>
  </mat-card>
</div>