<div style="height: 100%">
    <div class="row" style="margin: 0; padding: 20px;">
        <div class="col-lg-12 bg-white" style="min-height: 200px;padding: 0">
            <tl-header title="AVAILABLE_PRODUCTS" [(query)]="query" (onSearch)="search()">
                <button type="button" color="primary" mat-raised-button name="button" (click)="addProduct()">
                    <p class="text-small">
                        {{'NEW_PRODUCT'|translate}}
                    </p>
                </button>
            </tl-header>
            <translatable-list *ngIf="sortedData && sortedData.length" (edit)="editProducts($event)" (delete)="deleteProduct($event)" [data]="sortedData"
                [displayedColumns]="productsColumns"></translatable-list>
        </div>
    </div>
</div>