<button mat-raised-button class="mat-raised-button {{class}}" [color]="color" [routerLink]="routerLink"
    [matTooltip]="matTooltip" *ngIf="routerLink">
    <span class="center h v">
        <i *ngIf="icon" class="fa {{icon}} small-text-2"></i> <span *ngIf="text">{{text | translate}}</span>
    </span>
</button>

<button mat-raised-button class="mat-raised-button {{class}}" [color]="color" (click)="clicked()"
    [matTooltip]="matTooltip" *ngIf="!routerLink">
    <span class="center h v">
        <i *ngIf="icon" class="fa {{icon}} small-text-2"></i> <span *ngIf="text">{{text | translate}}</span>
    </span>
</button>