<modal-header title="{{'2FA_CONFIRM'|translate}}" (click)="close(false)"></modal-header>

<div class="group-col-left padd-x20" *ngIf="has2FAActivated">
  <div class="group-col-left center h v">
    <h4>{{'ENTER_2FA_CODE'|translate}}</h4>

    <div class="input-group" style="margin-bottom: 2px">
      <input [(ngModel)]="code" #twoFAInput [disabled]="disabled" name="two_fa{{date_timestamp}}" type="text" class="user-input small no-margin"
        placeholder="{{'2FA_opt'|translate}}" autocomplete="new-password">
    </div>
  </div>

  <div class="group-row-left" style="width: 100%; justify-content: flex-end; margin-top: 25px">
    <button type="button" mat-button name="button" (click)="close(false)" style="margin-right: 10px">
      {{'CANCEL'|translate}}
    </button>
    <button type="button" [disabled]="!code" mat-raised-button color="primary" name="button" (click)="close(true)">
      <b>{{'CONTINUE'|translate}}</b>
    </button>
  </div>
</div>

<div class="group-col-left padd-x20" *ngIf="!has2FAActivated">
  <div class="group-row-left center h v marg-b-10">
    <b class="small-text-3 marg-r-10">{{'SEND_OTP_TO_MAIL'|translate}}</b>
    <button mat-raised-button color="primary" (click)="sendOTP()" *ngIf="!sentOTP">{{'SEND_MAIL'|translate}}</button>
    <b class="small-text-2 col-success" *ngIf="sentOTP"><i class="fa fa-check"></i> {{'SENT_OTP_MAIL_OK'|translate}}</b>
  </div>

  <div class="group-col-left">
    <p class="small-text-2">{{'ENTER_ONE_TIME_PIN'|translate}}</p>

    <div class="input-group" style="margin-bottom: 2px">
      <input [(ngModel)]="code" type="tel" maxlength="6" #twoFAInput [disabled]="disabled" name="two_fa{{date_timestamp}}" type="text" class="user-input small no-margin"
        placeholder="{{'2FA_opt'|translate}}" autocomplete="new-password">
    </div>
  </div>

  <p class="col-error small-text-2">
    {{error}}
  </p>
  
  <div class="group-row-left" style="width: 100%; justify-content: flex-end; margin-top: 25px">
    <button type="button" mat-button name="button" (click)="close()" style="margin-right: 10px">
      {{'CANCEL'|translate}}
    </button>
    <button type="button" [disabled]="!code" mat-raised-button color="primary" name="button" (click)="close(code)">
      <b>{{'CONTINUE'|translate}}</b>
    </button>
  </div>
</div>