<modal-header title="{{'SEND_CONFIRMATION'|translate}}" (click)="close()"></modal-header>


<div [formGroup]="formGroup" class="group-col-left  " style="width: 529px!important; padding: 0!important">
  
    
    
    <div style="width: 500px;margin-left:15px; margin-top: 10px;">
        <account-picker formControlName="account" label="ACCOUNTS" [filters]="filter" [item]="account" (itemChanged)="setAccount($event);">
        </account-picker>   
    </div>
   
    <mat-form-field class="col-lg-6" *ngIf="this.account && !this.account.rezero_b2b_username" style="width: 500px;">
      <mat-label>{{'USERNAME' | translate}}</mat-label>
      <input formControlName="username" type="text" matInput placeholder="{{'Name'|translate}}" />
      <mat-error *ngIf="this.formGroup.get('username').invalid">{{'SUPPORTED_CHARACTERS_B2B_USERNAME' | translate}}</mat-error>
    </mat-form-field>

  <btn-loader [loading]="loading" text='ADD' type="button" style="margin-left: 300px!important;margin-top: 30px;margin-bottom: 15px!important; padding-right: 30px;width: 198px; margin-bottom: 14px; padding-right: 10px;  "
      color="primary" [disabled]="this.account && !this.account.rezero_b2b_username && !this.username && this.formGroup.invalid || !this.formGroup.dirty" mat-raised-button name="button" (click)="send()">
    </btn-loader>
  
 

</div>