<div style="height: 100%; padding: 20px">
  <mat-card style="padding: 20px">
    <div [formGroup]="formGroup" class="row" style="margin: 0; padding: 20px;">
      <div class="col-lg-12" style="height: auto">
        <b class="small-text-3" style="margin: 15px 0 8px 0!important">{{'MARKETING' | translate}}</b>
        <p class="small-text col-gray-light">
          {{'MARKETING_DESC'|translate}}
        </p>
      </div>

      <!-- Public image -->
      <div class="col-lg-12" style="margin-bottom: 15px!important; ">
        <file-selector label="Public Image" [(file)]="accountCopy.public_image"></file-selector>
      </div>

      <!-- Description -->
      <div class="col-lg-6" style="margin-bottom: 15px!important">
        <div class="group-col-left">
          <span class="small-text-2">{{'Description'|translate}}</span>
          <textarea type="text" class="user-input small" [(ngModel)]="accountCopy.description"
            placeholder="Description"></textarea>
        </div>
      </div>
      <div class="col-lg-6"></div>

      <div class="col-lg-6">
        <mat-form-field style="width: 100%; margin-bottom: 16px;" floatLabel="always">
          <mat-label>{{'WEB' | translate}}</mat-label>
          <input type="url" matInput formControlName="web_url" />
          <mat-error *ngIf="formGroup.get('web_url').invalid">{{'INVALID_URL' | translate}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Products -->
      <div class="col-lg-12 " style="margin-bottom: 15px!important">
        <div class="group-col-left">
          <span class="small-text-2">{{'Products'|translate}}</span>
          <textarea type="text" class="user-input small" [(ngModel)]="accountCopy.offered_products"
            placeholder="PRODUCTS_DESC"></textarea>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="group-row-left" style="margin-top: 20px; margin-bottom: 20px">
          <btn-loader (click)="update()" [disabled]="loading" [loading]="loading" text="{{'Update'|translate}}">
          </btn-loader>
          <p *ngIf="error">{{error}}</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>