<header-nav></header-nav>
<sidemenu></sidemenu>

<div class="page b2b-settings" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
    <mat-tab-group [(selectedIndex)]="currentTab" (selectedIndexChange)="changeUrl($event)">
        <mat-tab label="{{'ACTIVITIES'|translate}}">
            <tab-activities *ngIf="currentTab === 0"></tab-activities>
        </mat-tab>
        <mat-tab label="{{'PRODUCTS'|translate}}">
            <tab-products *ngIf="currentTab === 1"></tab-products>
        </mat-tab>
        <mat-tab label="{{'NEIGHBORHOODS'|translate}}">
            <tab-neighborhoods *ngIf="currentTab === 2"></tab-neighborhoods>
        </mat-tab>
        <mat-tab label="{{'DOCUMENT_KINDS'|translate}}">
            <tab-document-kinds *ngIf="currentTab === 3"></tab-document-kinds>
        </mat-tab>
        <mat-tab label="{{'DOCUMENTS'|translate}}">
            <div style="height: 100%; width: 100%">
                <div class="row" style="width: 100%;margin: 0; padding: 20px;">
                    <tab-documents *ngIf="currentTab === 4"></tab-documents>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="{{'TIERS'|translate}}">
            <tab-tiers *ngIf="currentTab === 5"></tab-tiers>
        </mat-tab>
    </mat-tab-group>
    <page-footer style="margin-top: 30px"></page-footer>
</div>