module.exports = {
  "production": false,
  "url": "https://api.rec.qbitartifacts.com",
  "pre_url": "https://api.rec.qbitartifacts.com",
  "test_url": "https://sandbox.chip-chap.com",
  "clientID": "1_23zebs1ciqsk088s4wckckgwkcogo8ws8os48osc40s0s8ss0k",
  "clientSecret": "2zspa4vc6ask0wk0kcso0sowg0w088k00k00gkcs8ggs0g400g",
  "pre_clientID": "2_2lp3pc9wv1esogs4k4sc8ko880sw4soswoo8wgsoc8kkw804o4",
  "pre_clientSecret": "4xoukdqzhbwgc4w4cgks8c4owwo8g88oowk4oo4gkg4wcgsggc",
  "test_clientID": "18_3ve25poy9nwgckss0sgs4w0wosc80o8s4kw8sckw4sowc4o4co",
  "test_clientSecret": "ws3g754va1c88cs04k8c8kkogggkk0sswws4w0sko44scwwo4",
  "captchaKey": "6LeWBBUTAAAAANgZXswR094tppChLE7rH-EheV5P",
  "test": false,
  "beta": false,
  "local": true,
  "build_tag": "jenkins-chipchap-beta-user-asdkañsldk",
  "git_desc": "__git_desc__",
  "testing": false
  
}