<div class="header bordered-bottom" style="padding: 10px 15px">
    <p class="no-margin no-padding small-text col-blue" style="width: auto; margin: 0 !important">
        {{title|translate}}</p>

    <input id="tl-header-search-bar" *ngIf="options.input" #search type="text" class="{{inputClass}}"
        style="max-width: 70%;margin: 0 15px" placeholder="{{searchPlaceholder|translate}}...">

    <div *ngIf="options.input && options.search">
        <raised-btn icon="fa-search" [text]="searchPlaceholder" (click)="search();"></raised-btn>
    </div>

    <div *ngIf="options.refresh">
        <icon-btn icon="fa-refresh" (click)="search()" matTooltip="Refresh data"></icon-btn>
    </div>

    <div *ngIf="options.newItem">
        <raised-btn icon="{{newItemIcon}}" [text]="newItemText" (click)="addItem();"></raised-btn>
    </div>

    <div *ngIf="options.showOptions">
        <icon-btn icon="fa-cog"></icon-btn>
    </div>
    <ng-content></ng-content>
</div>