<header-nav></header-nav>


<app-page class="new-delegate">
  <div class="new-delegate bg-white" style="margin-top: 0; position: relative;">

    <div class="fill-size center v space-between" style="padding: 10px 15px">

      <div class="group-col-left">
        <!-- izquierda -->
        <p class="small-text col-blue" style="margin-right: 15px!important;font-size: 16px">
          {{'massive_transactions'|translate}}
          <code> {{delegate.status}}</code>
        </p>
        <div class="center v">
          <input type="text" class="small-text user-input" [(ngModel)]="transactions_name" [disabled]="false"
            placeholder="transactions name" style="margin: 0; padding: 4px 6px; max-width: 500px;width: 130px;">

          <button mat-icon-button [disabled]="false" matTooltip="{{'EDIT'|translate}}">
            <i class="fa fa-edit"></i>
          </button>
        </div>

      </div>

      <div class="group-col-right ">
        <!-- derecha -->
        <button type="button" style="margin-left: 8px; padding-right: 30px;width: 100%; margin-bottom: 14px; "
          color="primary" mat-raised-button name="button" (click)="newImport()">
          <mat-icon>upload_file</mat-icon>
          {{'UPLOAD_FILE'|translate}}
        </button>

        <div class="group-row-right">
          <button mat-button color="primary" [disabled]="false" (click)="syncData()">
            <mat-icon>sync</mat-icon>
            {{'Sync'|translate}}
          </button>

          <button mat-button color="primary" [disabled]="false">
            <mat-icon>description</mat-icon>
            {{'Logs'|translate}}
          </button>
        </div>
      </div>
    </div>



    <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
      style="border-bottom: 1px solid #ddd!important; width: 100%" [validationName]="validationErrorName">
    </validation-errors>

    <div class="group-col-left bordered-top" style="width: 100%; position: relative;">
      <div class="group-row-left center h v" style="margin-top: 10px;margin-bottom: 10px; margin-left: 15px; ">
        <a class="label"> {{'TRANSACTIONS'|translate}}</a>
        <code>{{delegate && delegate.data && delegate.data.length}}</code>

        <a class="label"> {{'TOTAL_IMPORT'|translate}}</a>
        <code>{{totalImport}}</code>

        <a class="label"> {{'WARNINGS'|translate}}</a>
        <code> 0</code>

      </div>

    </div>

    <div class="group-col-left bordered-top bordered-bottom" style="width: 100%; position: relative;">
      <div class="group-row-left center h v"
        style="margin-top: 10px;margin-bottom: 10px; margin-left: 5px;margin-left: 15px ">
        <a class="label">
          {{'SEND_TOTAL_IMPORT'|translate}}</a>
        <code>0</code>

        <a class="label"> {{'TX_SENDED'|translate}}</a>
        <code>{{success_tx}}</code>

        <a class="label"> {{'TX_PENDENT'|translate}}</a>
        <code>{{issued_rec}}</code>

        <a class="label"> {{'TX_FAILED'|translate}}</a>
        <code> {{failed_tx}}</code>
      </div>
    </div>

    <div class="group-col-left" style="width: 100%; position: relative;">
      <table matSort (matSortChange)="sortData($event)" class="left-align">
        <thead class="stripped bordered-bottom">
          <tr>
            <th mat-sort-header="id">
              {{'#'|translate}}
            </th>
            <th mat-sort-header="sender">
              {{'SENDER'|translate}}
            </th>
            <th mat-sort-header="exchanger">
              {{'EXCHANGER'|translate}}
            </th>
            <th mat-sort-header="beneficiary">
              {{'BENEFICIARY'|translate}}
            </th>
            <th mat-sort-header="amount">
              {{'AMOUNT'|translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortedData; let i = index; trackBy: trackByFn">
            <td>{{data.id}}</td>
            <td>
              <span *ngIf="data.sender">
                {{data.sender.name}} (<a routerLink="/accounts/{{data.sender.id}}">{{data.sender.id}}</a>)
              </span>
            </td>
            <td>
              <span *ngIf="data.exchanger">
                {{data.exchanger.name}} (<a routerLink="/accounts/{{data.exchanger.id}}">{{data.exchanger.id}}</a>)
              </span>
            </td>
            <td>
              <span *ngIf="data.account">
                {{data.account.name}} (<a routerLink="/accounts/{{data.account.id}}">{{data.account.id}}</a>)
              </span>
            </td>
            <td><code>{{(data.amount/100) | number}} R</code></td>
          </tr>
        </tbody>
      </table>
      <div class="center h v" style="width: 100%; padding: 15px 0" *ngIf="!sortedData.length && !dataLoading">
        <p class="small-text-2">{{'NO_DATA_YET'|translate}}</p>
      </div>
      <div class="center h v bg-white-opaque" style="width: 100%;height: 100px" *ngIf="dataLoading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
      <mat-paginator [length]="total" style="width: 100%" [pageSize]="limit" (page)="changedPage($event)"
        [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>


  </div>
</app-page>