<header-nav></header-nav>


<app-page class="new-delegate">
  <div class="new-delegate bg-white" style="margin-top: 0; position: relative;">

    <tl-header [options]="{ input: false }"
      title="{{(isNew ? 'NEW_MASSIVE_TX': readonly ? 'VIEW_MASSIVE_TX' : 'EDIT_MASSIVE_TX')|translate}}">

      <button [disabled]="readonly" type="button" style="margin-right: 20px" color="primary"
        mat-button name="button" (click)="newImport()">
        <p class="text-small">
          <i class="fa fa-file"></i>
          {{'Import'|translate}}
        </p>
      </button>

      <btn-loader (clicked)="sendReport()" [disabled]="generatingReport" [loading]="generatingReport"
        text="CREATE_REPORT">
      </btn-loader>
    </tl-header>

    <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
      style="border-bottom: 1px solid #ddd!important; width: 100%" [validationName]="validationErrorName">
    </validation-errors>

    <div class="group-col-left" style="width: 100%; position: relative;">
      <table matSort (matSortChange)="sortData($event)" class="left-align">
        <thead class="stripped bordered-bottom">
          <tr>
            <th mat-sort-header="id">
              {{'#'|translate}}
            </th>
            <th mat-sort-header="sender">
              {{'SENDER'|translate}}
            </th>
            <th mat-sort-header="exchanger">
              {{'EXCHANGER'|translate}}
            </th>
            <th mat-sort-header="beneficiary">
              {{'BENEFICIARY'|translate}}
            </th>
            <th mat-sort-header="amount">
              {{'AMOUNT'|translate}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortedData; let i = index; trackBy: trackByFn">
            <td>{{data.id}}</td>
            <td>
              <span *ngIf="data.sender">
                {{data.sender.name}} (<a routerLink="/accounts/{{data.sender.id}}">{{data.sender.id}}</a>)
              </span>
            </td>
            <td>
              <span *ngIf="data.exchanger">
                {{data.exchanger.name}} (<a routerLink="/accounts/{{data.exchanger.id}}">{{data.exchanger.id}}</a>)
              </span>
            </td>
            <td>
              <span *ngIf="data.account">
                {{data.account.name}} (<a routerLink="/accounts/{{data.account.id}}">{{data.account.id}}</a>)
              </span>
            </td>
            <td><code>{{(data.amount/100) | number}} R</code></td>
          </tr>
        </tbody>
      </table>
      <div class="center h v" style="width: 100%; padding: 15px 0" *ngIf="!sortedData.length && !dataLoading">
        <p class="small-text-2">{{'NO_DATA_YET'|translate}}</p>
      </div>
      <div class="center h v bg-white-opaque" style="width: 100%;height: 100px" *ngIf="dataLoading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
      <mat-paginator [length]="total" style="width: 100%" [pageSize]="limit" (page)="changedPage($event)"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

    <div class="fill-size" style="padding: 10px 15px; border-top: 1px solid #ddd">
      <button type="button" style="margin-left: 8px; padding-right: 10px" color="primary" mat-raised-button
        name="button" (click)="activateChange()" [disabled]="readonly">
        <p class="text-small">
          {{'Activate'|translate}}
        </p>
      </button>
    </div>
  </div>
</app-page>