<header-nav></header-nav>
<app-page class="new-delegate">
  <div class="new-delegate bg-white" style="margin-top: 0; position: relative;">

    <div class="fill-size center v space-between" style="padding: 10px 15px">

      <div class="group-col-left">
        <!-- izquierda -->
        <p class="small-text col-blue" style="margin-right: 15px!important;font-size: 16px">
          {{type|translate}}
          <code> {{status}}</code>
        </p>
        <div [formGroup]="formGroup" class="center v">
          <input formControlName = "transactions_name"type="text" class="small-text user-input" [(ngModel)]="transactions_name" [disabled]="!isEditName"
            placeholder="transactions_name" style="margin: 0; padding: 4px 6px; max-width: 100%;width: 100%!important;"><br>
            <mat-error *ngIf="this.formGroup.get('transactions_name').invalid"><small>{{'CONCEPT_LENGTH' | translate: ({limit: this.limit})}}</small></mat-error>

          <div  *ngIf="delegate.status == 'draft' || delegate.status == 'pending_validation' || delegate.status == 'created' ">
            <button mat-icon-button [disabled]="loading || this.formGroup.invalid || this.edited == false" matTooltip="{{'SAVE'|translate}}" *ngIf="isEditName"
              (click)="saveEditConcept()">
              <i class="fa fa-save" *ngIf="!loading"></i>
              <div class="center h v">
                <mat-progress-spinner [diameter]="16" color="primary" mode="indeterminate" *ngIf="loading">
                </mat-progress-spinner>
              </div>
            </button>
            <button mat-icon-button [disabled]="loading" matTooltip="{{'CANCEL'|translate}}" *ngIf="isEditName"
              (click)="cancelEditName()">
              <i class="fa fa-times"></i>
            </button>
            <button mat-icon-button [disabled]="loading" matTooltip="{{'EDIT'|translate}}" *ngIf="!isEditName"
              (click)="changeIsEditName()">

              <i class="fa fa-edit"></i>
            </button>
          </div>

        </div>

      </div>

      <div class="group-col-right ">
        <!-- derecha -->
        <button *ngIf="canUploadFile()" type="button"
          style="margin-left: 8px; padding-right: 30px;width: 100%; margin-bottom: 14px; " color="primary"
          mat-raised-button name="button" (click)="newImport()">
          <mat-icon>upload_file</mat-icon>
          {{'UPLOAD_FILE'|translate}}
        </button>

        <div class="group-row-right">
          <button mat-button color="primary" [disabled]="false" (click)="syncData()">
            <mat-icon>sync</mat-icon>
            <span>{{'Sync'|translate}}</span>
          </button>

          <button mat-button color="primary" (click)="goToLog()" [disabled]="false">
            <mat-icon>description</mat-icon>
            <span>{{'Logs'|translate}}</span>
          </button>
        </div>
      </div>
    </div>



    <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
      style="border-bottom: 1px solid #ddd!important; width: 100%" [validationName]="validationErrorName">
    </validation-errors>

    <div class="group-col-left bordered-top" style="width: 100%; position: relative;">
      <div class="group-row-left center h v" style="margin-top: 10px;margin-bottom: 10px; margin-left: 15px; ">
        <a class="label"> {{'TRANSACTIONS'|translate}}</a>
        <code>{{delegate && delegate.data && delegate.data.length}}</code>

        <a class="label"> {{'TOTAL_IMPORT'|translate}}</a>
        <code>{{totalImport/100|number:'1.2':'es-ES'  }}</code>

        <a class="label"> {{'WARNINGS'|translate}}</a>
        <code>{{warnings}}</code>

      </div>

    </div>

    <div class="group-col-left bordered-top bordered-bottom" style="width: 100%; position: relative;">
      <div class="group-row-left center h v"
        style="margin-top: 10px;margin-bottom: 10px; margin-left: 5px;margin-left: 15px ">
        <a class="label">
          {{'SEND_TOTAL_IMPORT'|translate}}</a>
        <code>{{(totalImportSended/1e8) | number:'1.2':'es-ES'}}</code>

        <a class="label"> {{'TX_SENDED'|translate}}</a>
        <code>{{successTx}}</code>

        <a class="label"> {{'TX_PENDENT'|translate}}</a>
        <code>{{pendientTx}}</code>

        <a class="label"> {{'TX_FAILED'|translate}}</a>
        <code> {{failedTx}}</code>
      </div>
    </div>

    <div class="group-col-left" style="width: 100%; position: relative;">
      <table matSort (matSortChange)="sortData($event)" class="left-align">
        <thead class="stripped bordered-bottom">
          <tr>
            <th mat-sort-header="id">
              {{'#'|translate}}
            </th>
            <th mat-sort-header="sender">
              {{'SENDER'|translate}}
            </th>
            <th mat-sort-header="exchanger">
              {{'EXCHANGER'|translate}}
            </th>
            <th mat-sort-header="beneficiary">
              {{'BENEFICIARY'|translate}}
            </th>
            <th mat-sort-header="amount">
              {{'AMOUNT'|translate}}
            </th>
            <th mat-sort-header="status">
              {{'STATUS'|translate}}
            </th>
            <th mat-sort-header="txId">
              {{'Tx id'|translate}}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!dataLoading">
          <tr *ngFor="let data of sortedData; let i = index; trackBy: trackByFn">
            <td>{{data.id}}</td>
            <td>
              <span *ngIf="data.sender">
                {{data.sender.name}} (<a routerLink="/accounts/{{data.sender.id}}">{{data.sender.id}}</a>)
              </span>
            </td>
            <td>
              <span *ngIf="data.exchanger">
                {{data.exchanger.name}} (<a routerLink="/accounts/{{data.exchanger.id}}">{{data.exchanger.id}}</a>)
              </span>
            </td>
            <td>
              <span *ngIf="data.account">
                {{data.account.name}} (<a routerLink="/accounts/{{data.account.id}}">{{data.account.id}}</a>)
              </span>
            </td>
            <td><code>{{data.amount/100 | number:'1.2':'es-ES' }} R</code></td>
            <td>
              <span *ngIf="data.status">
                {{data.status}} (<a routerLink="/accounts/{{data.account.id}}">{{data.account.id}}</a>)
              </span>
            </td>
            <td><code>{{data.id}} </code></td>

          </tr>
        </tbody>
      </table>
      <div class="center h v" style="width: 100%; padding: 15px 0" *ngIf="!sortedData.length && !dataLoading">
        <p class="small-text-2">{{'NO_DATA_YET'|translate}}</p>
      </div>
      <div class="center h v bg-white-opaque" style="width: 100%;height: 100px" *ngIf="dataLoading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
      <mat-paginator [length]="total" style="width: 100%" [pageSize]="limit" (page)="changedPage($event)"
        [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>
    </div>
    <div *ngIf="delegate.status != 'created' && delegate.status != 'pending_validation' && delegate.status != 'invalid'"
      style="margin-top: 10px;margin-bottom: 40px; margin-left: 5px;" class="group-col-left">

      <div
        *ngIf="delegate.status == 'draft' || delegate.status == 'scheduled' || delegate.status == 'in_progress' || delegate.status == 'failed'"
        class="group-row-left center h v">
        <mat-checkbox style="margin-right: 15px;margin-left: 13px;" color="primary" [(ngModel)]="scheduleDelivery">
          <p>{{'SCHEDULE_DELIVERY' | translate}}</p>
        </mat-checkbox>
        <date-picker [isDisable]="delegate.status != 'draft'" [label]="scheduleAt" [item]="scheduleDeliveryDateCopy" (itemChanged)="changeDate($event)">
        </date-picker>
      </div>

      <div class="center h v bg-white-opaque" style="width: 100%;height: 100px" *ngIf="dataLoading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>

      <div *ngIf="!dataLoading">
        <button *ngIf="delegate.status == 'draft' " mat-button color="primary" [disabled]="false"
          style="margin-bottom: 60px!important;" (click)="openSendTxsModal()">
          <mat-icon>send</mat-icon>
          {{'SEND_TRANSACTIONS'|translate}}
        </button>

        <button *ngIf="delegate.status == 'scheduled' " mat-button color="#e05205" [disabled]="false"
          style="margin-bottom: 60px!important;color: #E05205;" (click)="sendCancel()">
          <mat-icon>schedule_send</mat-icon>
          {{'SEND_CANCEL'|translate}}
        </button>

        <button *ngIf="delegate.status == 'failed' " mat-button color="#e05205" [disabled]="false"
          style="margin-bottom: 60px!important;color: #E05205;" (click)="sendRetry()">
          <mat-icon>reload</mat-icon>
          {{'RETRY_SEND'|translate}}
        </button>

        <button *ngIf="delegate.status == 'failed' " mat-button color="red" [disabled]="false"
          style="margin-bottom: 60px!important;color: #FF0000;" (click)="sendReport()">
          <mat-icon>denied</mat-icon>
          {{'MARK_AS_INCOMPLETE'|translate}}
        </button>
      </div>

    </div>
  </div>
</app-page>