code {
  color: black !important;
  margin-right: 30px;
  background-color: lightgray;
  font-size: 12px;
}

mat-icon {
  font-size: 18px;
  line-height: 18px;
  width: 18px;
  height: 18px;
}

.label {
  color: #555!important;margin-right: 5px;font-size: 14px;
}