<div style="height: auto; overflow: hidden;">
    <mat-tab-group>
        <mat-tab label="{{'ADD_ACCOUNTS'|translate}}">
            <div class="padd-x15">
                <p class="small-text col-blue lh-small">
                    {{'DELIVERY_DESC'|translate}}
                </p>
                <div class="group-row-left center v space-between bordered-bottom" style="padding: 10px 0 10px 0">
                    <p class="small-text col-gray">{{'SELECTED_ACCOUNTS'|translate}}: <b>{{selectedAccounts.length}}</b>
                    </p>
                    <button [disabled]="disabled" (click)="openSelectAccounts()" color="primary" mat-raised-button>
                        <i class="fa fa-plus marg-r-10"></i> {{'ADD'|translate}}
                    </button>
                </div>
                <div style="width: 100%">
                    <div class="group-col-left" style="width: 100%; max-height: 300px; overflow-y: auto">
                        <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
                            style="border-bottom: 1px solid #ddd!important; width: 100%"
                            [validationName]="validationErrorName">
                        </validation-errors>
                        <delivery-entry [disabled]="disabled" [item]="item"
                            *ngFor="let item of selectedAccounts; let i = index" (remove)="removeAccount(i)">
                        </delivery-entry>
                    </div>
                    <p class="small-text marg-t-10" *ngIf="!selectedAccounts.length">
                        {{'NO_USERS_SELECTED'|translate}}
                    </p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="{{'IMPORT_CSV'|translate}}">
            <div class="padd-x15">
                <p class="small-text col-blue lh-small">
                    {{'IMPORT_CSV_ACCOUNTS_DESC'|translate}}
                </p>

                <p class="small-text col-gray-light" style="margin-top: 15px">
                    {{'MAILING_ID_IS'|translate}} <code>{{id}}</code>
                </p>

                <div class="group-row-left center v space-between bordered-bottom" style="padding: 10px 0 10px 0">
                    <p class="small-text col-gray">{{'SELECTED_ACCOUNTS'|translate}}: <b>{{selectedAccounts.length}}</b>
                    </p>
                    <button [disabled]="disabled" (click)="openUploadCsv()" color="primary" mat-raised-button>
                        <i class="fa fa-file marg-r-10"></i> {{'CSV'|translate}}
                    </button>
                </div>

                <div class="group-col-left" style="width: 100%; max-height: 300px; overflow-y: auto">
                    <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
                        style="border-bottom: 1px solid #ddd!important; width: 100%"
                        [validationName]="validationErrorName">
                    </validation-errors>
                    <delivery-entry [disabled]="disabled" [item]="item"
                        *ngFor="let item of selectedAccounts; let i = index" (remove)="removeAccount(i)">
                    </delivery-entry>
                </div>

                <p class="small-text marg-t-10" *ngIf="!selectedAccounts.length">
                    {{'NO_USERS_SELECTED'|translate}}
                </p>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>