<div class="modal-header bg-blue">
  <span *ngIf="!isRefund">{{'Send To Address'|translate}}</span>
  <span *ngIf="isRefund">{{'DO_REFUND'|translate}}</span>

  <button type="button" mat-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
    <span class="center h v">
      <i class="fa fa-times col-white"></i>
    </span>
  </button>
</div>

<div class="modal-body group-col-left padd-20" style="width: auto">
  <div class="row" style="width: 100%">
    <div class="col-lg-12" style="margin-bottom: 15px">
      <p>{{'Send RECs'|translate}}</p>
    </div>
    <div class="col-lg-12" *ngIf="validationErrors.length > 0">
      <validation-errors [errors]="validationErrors" style="border-bottom: 1px solid #ddd!important; width: 100%">
      </validation-errors>
    </div>
    <div class="col-lg-12">
      <div *ngIf="!isRefund" class="group-row-left center v space-between" style="margin-bottom: 15px;">
        <div style="width: 45%">
          <account-picker #sender label="ORIGIN_ACCOUNT"
            [disabled]="loading || isRefund" [item]="tx.sender" (itemChanged)="tx.sender = $event"></account-picker>
        </div>
        <div>
          <button mat-icon-button matTooltip="Change sides" (click)="switchSides()">
            <i class="fa fa-arrows-alt-h"></i>
          </button>
        </div>
        <div style="width: 45%">
          <account-picker #receiver label="TARGET_ACCOUNT"
            [item]="tx.receiver" [disabled]="loading || isRefund" (itemChanged)="tx.receiver = $event">
          </account-picker>
        </div>
      </div>

      <div *ngIf="isRefund" class="group-row-left center v space-between" style="margin-bottom: 15px;">
        <mat-form-field style="width: 45%;">
          <mat-label style="width: 45%;">{{'ORIGIN_ACCOUNT' | translate}}</mat-label>
          <input disabled="true" style="width: 100%;" matInput [value]="refundSender">
        </mat-form-field>
        <mat-form-field style="width: 45%;">
          <mat-label>{{'TARGET_ACCOUNT' | translate}}</mat-label>
          <input disabled="true" style="width: 100%;" matInput [value]="refundReceiver">
        </mat-form-field>
      </div>

      <div *ngIf="isRefund" class="group-row-left space-between marg-bottom-20">
        <div style="width: 70%;">
          <p class="small-text-2">{{'Amount'|translate}}</p>
          <input [disabled]="isMaxAmount" autocomplete="new-password" type="text" class="user-input small" [(ngModel)]="tx.amount" placeholder="{{'Amount to pay'|translate}}">
        </div>
        <div style="width: 25%; margin-left:10px">
          <p class="small-text-2">{{'MAX_IMPORT'|translate}}</p>
          <mat-slide-toggle color="primary" [(ngModel)]="isMaxAmount" (change)="getMaxAmount()"></mat-slide-toggle>
        </div>
      </div>

      <div *ngIf="!isRefund" class="group-row-left space-between marg-bottom-20">
        <div style="width: 100%;">
          <p class="small-text-2">{{'Amount'|translate}}</p>
          <input [disabled]="maxAmount" autocomplete="new-password" type="text" class="user-input small" [(ngModel)]="tx.amount" placeholder="{{'Amount to pay'|translate}}">
        </div>
      </div>

      <div class="group-col-left marg-bottom-20">
        <p class="small-text-2">{{'Concept'|translate}} </p>
        <input autocomplete="new-password" type="text" class="user-input small" [(ngModel)]="tx.concept"
          placeholder="{{'Concept for the payment'|translate}}">
      </div>

      <div class="group-col-left marg-bottom-20">
        <div class="group-col-left" style="margin-bottom: 5px;">
          <p class="small-text-2">{{'Hide'|translate}} </p>
        </div>
        <div class="col-lg-12">
          <div class="group-row-left center v space-between">
            <div class="row" style="width: 40%;">  
              <mat-slide-toggle style="margin-right: 5px;" color="primary" [(ngModel)]="tx.internal_in"></mat-slide-toggle>
              <p class="small-text-2">{{'VISIBLE_SENDER'|translate}}</p>
            </div>
            <div class="row" style="width: 40%;">
              <mat-slide-toggle style="margin-right: 5px;" color="primary" [(ngModel)]="tx.internal_out"></mat-slide-toggle>
              <p class="small-text-2">{{'VISIBLE_RECEIVER'|translate}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="group-col-left marg-bottom-20">
        <p class="small-text-2">{{'2FA Code'|translate}} </p>
        <input  autocomplete="new-password" type="text" class="user-input small" [(ngModel)]="tx.sms_code" style="margin-bottom: 0">
        <p class="small-text">
          * {{'A 2fa code generated from your auth application'|translate}}
        </p>
      </div>

      <div class="group-row-left center v" style="margin-top: 20px; justify-content: flex-end">
        <p class="col-error small-text" style="margin-right: 10px!important">{{error}}</p>
        <btn-loader *ngIf="!isRefund" (click)="makeTx()" [loading]="loading" [disabled]="loading || !tx.amount" [text]="'SEND'">
        </btn-loader>
        <button *ngIf="isRefund" [disabled]="loading" type="button" mat-raised-button color="warn" name="button" (click)="doRefund()">
          <div class="center h v">
            <mat-progress-spinner [diameter]="20" color="primary" mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
            <p style="font-weight: 500" class="small-text-2">
              <i class="fa fa-arrow-right fa-rotate-by" style="--fa-rotate-angle: -49deg; margin-right: 5px;"></i>
              {{'DO_REFUND'|translate}}
            </p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>