<div style="height: 100%">
    <div class="row" style="margin: 0; padding: 20px;">
        <div class="col-lg-12 bg-white" style="min-height: 200px;padding: 0">
            <tl-header title="AVAILABLE_TIERS" [(query)]="query" (onSearch)="search($event)">
                <button type="button" color="primary" mat-raised-button name="button" (click)="addItem()">
                    <p class="text-small">
                        <i class="fa fa-plus"></i> {{'TIERS'|translate}}
                    </p>
                </button>
            </tl-header>
            <tl-table [loading]="loading" [sort]="true" (onSort)="sortData($event)" [headers]="headers"
                [data]="sortedData" [itemOptions]="itemOptions" [options]="tableOptions"
                noItemsMessage="There are no items yet" [limit]="limit" [total]="total"
                (onChangePage)="changedPage($event)" showLoader="true">
            </tl-table>
        </div>
    </div>
</div>