<div class="page-header_" [ngClass]="{'collapsed': !controles.sidemenuVisible}">

  <div class="group-row">
    <button type="button" name="button" class="sidemenu-collapse-btn"
      *ngIf="!controles.sidemenuVisible && utils.isMobileDevice" (click)="controles.toggleSidemenu()">
      <p class="center h v">
        <i class="fa fa-bars"></i>
      </p>
    </button>

    <ng-content></ng-content>
  </div>

  <div class="group-row" style="overflow: visible">
    <app-notifications></app-notifications>
    <lang-selector></lang-selector>

    <button [md-menu-trigger-for]="profileMenu" type="button" md-button
      style="text-align: left; margin: 0!important; width: auto; min-width: 1px;line-height: 28px!important; margin-left: 10px!important; margin-right: 20px!important">
      <a class="user-image" id="profile-dropdown">
        <img src="{{us.userData.profile_image || brand.profile_default_image}}" alt="">
      </a>
      <span *ngIf="!utils.isMobileDevice">{{us.userData.name}}</span>
      <i class="fa fa-caret-down"></i>
    </button>
    <md-menu #profileMenu="mdMenu" overlapTrigger="false">
      <button md-menu-item (click)="logout()">
        <i class="fa fa-sign-out"></i> {{'Logout'|translate}}
      </button>
    </md-menu>
  </div>
</div>