:host .sidemenu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999999999;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.30) !important;
}

.backdrop-mobile:not(.collapsed) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.sidemenu.collapsed {
  width: 65px;
}

.collapse-menu {
  padding-left: 10px;
  height: 47px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.30) !important;
  display: flex;
  align-items: center;
}

.sidemenu-collapse-btn {
  background: none;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  outline: none !important;
}

.fa-caret-left {
  margin-right: 4px;
  font-size: 10px;
}

.fa-caret-right {
  margin-left: 4px;
  font-size: 10px;
}

.navbar-brand {
  text-transform: none;
  font-size: 14px;
  font-weight: 300;
  color: #fff !important;
  margin-left: 10px
}

.content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.content.small li {
  padding: 12px 10px 12px 18px;
}

.user-info {
  width: 100%;
  height: 130px;
  padding: 15px
}

.menu {
  height: 100%;
  width: 200px;
  background: #fff;
}

.menu-list,
.dropdown-developers,
.reseller-developers {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.menu-list .separator {
  height: 1px;
  border-bottom: 1px solid rgb(202, 202, 202);
  margin: 10px 0
}

.reseller-developers,
.dropdown-developers {
  height: 0;
  overflow: hidden;
}

.dropdown-developers.expanded {
  height: 70px;
}

.reseller-developers.expanded {
  height: auto;
}

/* .reseller-developers .item.active, .dropdown-developers .item.active, .menu-list .item.active {
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
  color: #2191EE;
} */

.small .reseller-developers .item,
.dropdown-developers .item,
.menu-list .item {
  padding: 8px 10px 8px 12px;
}

.reseller-developers .item,
.dropdown-developers .item,
.menu-list .item {
  background: transparent;
  transition: all 0.15s ease-in-out;
  color: #7e7e7e;
  font-size: 12px;
  padding: 8px 10px 8px 25px;
  cursor: pointer;
  max-height: 50%;
  overflow-y: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list .item.separate {
  border-bottom: 1px solid #ddd;
  padding-left: 12px;
  margin-top: 8px;
  cursor: default;
  /* margin-bottom: 8px; */
  /* padding-bottom: 8px; */
}


.item.opened {
  background: rgba(255, 255, 255, 0.3) !important;
  color: #fff !important;
}

.reseller-developers .item,
.dropdown-developers .item {
  /*background: #2C3B40;*/
  /* background: rgba(0, 0, 0, 0.1); */
  padding-left: 40px;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.reseller-developers .item.item.expanded,
.dropdown-developers .item.expanded {
  padding-left: 40px;
}

.small .reseller-developers .item.item.expanded,
.small .dropdown-developers .item.expanded {
  padding-left: 24px;
}

.menu-list .item:not(.separate):hover {
  background: #f7f7f7;
}

.dropdown-text .fa {
  position: absolute;
  right: 10px;
}

.reseller-developers .item:not(.active):hover,
.reseller-developers .item:not(.active):hover a,
.dropdown-developers .item:not(.active):hover,
.dropdown-developers .item:not(.active):hover a,
.menu-list .item:not(.active):hover {
  /* background: rgba(238, 238, 238, 0.3); */
  color: #6e6e6e;
}

.reseller-developers .item .fa,
.dropdown-developers .item .fa,
.menu-list .item .fa {
  margin-right: 10px
}

.user-info .user-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-image {
  width: 60px;
  height: 60px;
  overflow: hidden;
  /*background: #fff;
  border-radius: 50%;*/
}

.user-image img {
  min-width: 55px;
  min-height: 55px;
  max-width: 55px;
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.user-company {
  margin-left: 10px;
  color: #fff;
}

.user-company h4 {
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  white-space: nowrap;
}

.user-company p {
  font-size: 12px;
  margin: 0;
  margin-bottom: 6px
}

.quick_access {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px
}

.quick_access_btn {
  font-size: 12px;
  color: #4a4f53;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 0 10px;
}

.quick_access_btn:hover,
.quick_access_btn.active {
  background: rgba(255, 255, 255, 0.4);
}

.quick_access_btn:first-child {
  margin-right: 30px;
}

.dropdown-developers {
  height: 0;
  width: 100%;
}