<div class="sidemenu"
  [ngClass]="{'collapsed': !contrService.sidemenuVisible, 'company': us.userData.group_data.type === 'COMPANY'}">
  <div class="collapse-menu">
    <button type="button" name="button" class="sidemenu-collapse-btn" (click)="contrService.toggleSidemenu()">
      <div class="center v">
        <i class="fa fa-caret-left" *ngIf="contrService.sidemenuVisible"></i>
        <i class="navbar-icon fa fa-bars icon"></i>
        <i class="fa fa-caret-right" *ngIf="!contrService.sidemenuVisible"></i>
      </div>
    </button>
    <a routerLink="/dashboard" class="navbar-brand" *ngIf="contrService.sidemenuVisible">
      {{brand.header_title}}
    </a>
  </div>
  <div class="content" style="position:relative" *ngIf="contrService.sidemenuVisible">
    <div class="user-info">
      <div class="user-data">
        <div class="user-image center h column" routerLink="/account">
          <img src="{{us.userData.group_data.company_image || brand.profile_default_image}}" alt="">
        </div>
        <div class="user-company">
          <p *ngIf="us.userData.group_data.tier < 4" class="center v space-between" sandbox-test>
            {{'Account'|translate}}
          </p>
          <p *ngIf="us.userData.group_data.tier > 4" sandbox-test>{{'Corporate Account'|translate}}</p>
          <h4 title="{{us.userData.group_data.name}}" class="col-white"
            style="white-space: nowrap;margin-bottom: 0; padding-bottom: 0;">
            {{us.userData.group_data.name}}
          </h4>
        </div>
      </div>
    </div>
    <div class="menu">
      <ul class="menu-list">
        <li class="item separate" disabled>
          <span>
            {{'ADMIN'|translate}}
          </span>
        </li>
        <li class="item" (click)="clickedItem()" routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-lg fa-fw fa-tachometer"></i>
          <span>
            {{'Dashboard'|translate}}
          </span>
        </li>

        <li class="item" (click)="contrService.toggleManagement()">
          <i class="fa fa-lg fa-fw fa-users-cog"></i>
          <span class="dropdown-text">
            {{'UsersAndAccounts'|translate}}
            <span class="fa fa-angle-right" *ngIf="!contrService.managementExpanded"></span>
            <span class="fa fa-angle-down" *ngIf="contrService.managementExpanded"></span>
          </span>
        </li>
        <ul class="reseller-developers" [ngClass]="{'expanded': contrService.managementExpanded}" *ngIf="us.isReseller">
          <li class="item" (click)="clickedItem()" routerLink="/users" routerLinkActive="active">
            <i class="fa fa-lg fa-fw fa-user"></i>
            <span>
              {{'Users'|translate}}
            </span>
          </li>
          <li class="item" (click)="clickedItem()" routerLink="/accounts" routerLinkActive="active">
            <i class="fa fa-lg fa-fw fa-group"></i>
            <span>
              {{'Accounts'|translate}}
            </span>
          </li>
          <li class="item" (click)="clickedItem()" routerLink="/exchangers" routerLinkActive="active">
            <i class="fa fa-lg fa-fw fa-money"></i>
            <span>
              {{'EXCHANGERS'|translate}}
            </span>
          </li>
          <li class="item" (click)="clickedItem()" routerLink="/organizations" routerLinkActive="active">
            <i class="fa fa-lg fa-fw fa-building"></i>
            <span>
              {{'BUSSINESES'|translate}}
            </span>
          </li>
        </ul>

        
        <li class="item" (click)="clickedItem()" routerLink="/transactions" routerLinkActive="active">
          <i class="fa fa-lg fa-fw fa-exchange"></i>
          <span>
            {{'Transactions'|translate}}
          </span>
        </li>
        
        <li class="item" (click)="clickedItem()" routerLink="/b2b/settings" routerLinkActive="active">
          <i class="fa fa-lg fa-fw fa-cog"></i>
          <span>
            {{'REC_ENTITIES'|translate}}
          </span>
        </li>

        <li class="item separate" disabled>
          <span>
            {{'SPECIAL_ACTIONS'|translate}}
          </span>
        </li>
        <li class="item" (click)="clickedItem()" routerLink="/change_delegate" routerLinkActive="active">
          <i class="fa fa-lg fa-fw fa-calendar-alt"></i>
          <span>
            {{'CHANGE_DELEGATE'|translate}}
          </span>
        </li>
        <li class="item" (click)="clickedItem()" routerLink="/treasure_account" routerLinkActive="active">
          <i class="fa fa-lg fa-fw fa-cash-register"></i>
          <span>
            {{'CREATE_RECS'|translate}}
          </span>
        </li>
        <li class="item" (click)="clickedItem()" routerLink="/rec/mailing" routerLinkActive="active">
          <i class="fa fa-lg fa-fw fa-mail-bulk"></i>
          <span>
            {{'REC_MAILING'|translate}}
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="content small" *ngIf="!contrService.sidemenuVisible">
    <div class="menu">
      <ul class="menu-list">
        <li class="item" (click)="clickedItem()" routerLink="/dashboard" routerLinkActive="active"
          matTooltip="{{'Dashboard'|translate}}">
          <i class="fa fa-lg fa-fw fa-tachometer"></i>
        </li>

        <li class="item" (click)="contrService.toggleManagement()"
          [ngClass]="{'opened': contrService.managementExpanded}" *ngIf="us.isReseller"
          title="{{'UsersAndAccounts'|translate}}">
          <i class="fa fa-lg fa-fw fa-users-cog"></i>
          <span class="fa fa-angle-right" *ngIf="!contrService.managementExpanded"></span>
          <span class="fa fa-angle-down" *ngIf="contrService.managementExpanded"></span>
        </li>
        <ul class="reseller-developers" [ngClass]="{'expanded': contrService.managementExpanded}" *ngIf="us.isReseller">
          <li class="item" (click)="clickedItem()" routerLink="/users" routerLinkActive="active"
            matTooltip="{{'Users'|translate}}">
            <i class="fa fa-lg fa-fw fa-user"></i>
          </li>
          <li class="item" (click)="clickedItem()" routerLink="/accounts" routerLinkActive="active"
            matTooltip="{{'Accounts'|translate}}">
            <i class="fa fa-lg fa-fw fa-group"></i>
          </li>
          <li class="item" (click)="clickedItem()" routerLink="/organizations" routerLinkActive="active"
            matTooltip="{{'BUSSINESES'|translate}}">
            <i class="fa fa-lg fa-fw fa-building"></i>
          </li>
          <li class="item" (click)="clickedItem()" routerLink="/sellers" routerLinkActive="active"
            matTooltip="{{'EXCHANGERS'|translate}}">
            <i class="fa fa-lg fa-fw fa-money"></i>
          </li>
        </ul>
        <li class="item" (click)="clickedItem()" routerLink="/transactions" routerLinkActive="active"
          matTooltip="{{'Transactions'|translate}}">
          <i class="fa fa-lg fa-fw fa-exchange"></i>
        </li>
        
        <li class="item" (click)="clickedItem()" routerLink="/b2b/settings" routerLinkActive="active"
          matTooltip="{{'REC_ENTITIES'|translate}}">
          <i class="fa fa-lg fa-fw fa-cog"></i>
        </li>
        <li class="item separate"></li>
        <li class="item" (click)="clickedItem()" routerLink="/change_delegate" routerLinkActive="active"
          matTooltip="{{'CHANGE_DELEGATE'|translate}}">
          <i class="fa fa-lg fa-fw fa-calendar-alt"></i>
        </li>
        <li class="item" (click)="clickedItem()" routerLink="/treasure_account" routerLinkActive="active"
          matTooltip="{{'CREATE_RECS'|translate}}">
          <i class="fa fa-lg fa-cash-register"></i>
        </li>
        <li class="item" (click)="clickedItem()" routerLink="/rec/mailing" routerLinkActive="active"
          matTooltip="{{'REC_MAILING'|translate}}">
          <i class="fa fa-lg fa-mail-bulk"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="backdrop-mobile" [ngClass]="{'collapsed': !contrService.sidemenuVisible}" *ngIf="utils.isMobileDevice"
  (click)="contrService.toggleSidemenu()"></div>