<modal-header *ngIf="isEdit else areItem" title="{{'EDIT_OFFER'|translate}}" (click)="close()"></modal-header>
<ng-template #areItem>
    <modal-header title="{{'ADD_OFFER'|translate}}" (click)="close()"></modal-header>
</ng-template>

<div [formGroup]="formGroup" class="group-col-left modal-body" style="width: 100%; padding: 0!important">
    <div class="padd-20" style="width: 100%">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="group-col-left">
                    <b class="small-text-2">{{'TYPE_OFFER' |translate}}</b>
                    <mat-form-field style="width: 100%">
                        <mat-select formControlName="type" [disabled]="disabled">
                            <div class="padd-10 bordered-bottom sticky-top-center bg-white">
                                <input [ngModelOptions]="{standalone:true}" autocomplete="off" #search color="primary" style="margin: 0 10px" class="search-input"
                                [(ngModel)]="item.type" placeholder="{{'SEARCH'|translate}}">
                            </div>
                            <mat-option *ngFor="let type of types" [value]="type">
                                <span *ngIf=" type!=null">
                                    {{type}}
                                </span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('type').invalid">{{'REQUIERED_TYPE' | translate}}
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="group-col-left">
                    <strong class="small-text-2">{{'WHEN_FINISH' |translate}}</strong>
                    <date-picker formControlName="end" [item]="item.end" (itemChanged)="changeDate($event)"></date-picker>
                    <mat-error style="margin: 0;padding: 0;" *ngIf="formGroup.get('end').invalid && formGroup.get('end').touched"><small>{{'REQUIERED_END' | translate}}</small></mat-error>
                </div>
            </div>
        </div>
        <div *ngIf="this.formGroup.get('type').value =='percentage'" style="margin-top: 20px;margin-left: 2px;">
            <div class="group-col-left" style="margin-bottom: 15px">
                <mat-form-field style="width: 47%;">  
                    <input autocomplete="off" matInput type="number" formControlName="discount" style="max-width: 100%;" placeholder="{{'DISCOUNT_PERCENT'|translate}}"
                        [disabled]="loading">
                    <mat-error *ngIf="formGroup.get('discount').invalid"> {{'REQUIERED_DISCOUNT' | translate}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="this.formGroup.get('type').value =='classic'" style="margin-top: 20px;margin-left: 2px;">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field style="width: 100%;">                       
                        <input autocomplete="off" matInput type="number" formControlName="initial_price" style="max-width: 100%" placeholder="{{'INITIAL_PRICE'|translate}}"
                            [disabled]="loading">
                        <mat-error *ngIf="formGroup.get('initial_price').invalid"> {{'REQUIERED_INITIAL_PRICE' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <mat-form-field style="width: 100%;">                     
                        <input autocomplete="off" matInput formControlName="offer_price" type="number" style="max-width: 100%" placeholder="{{'OFFER_PRICE'|translate}}"
                            [disabled]="loading">
                        <mat-error *ngIf="formGroup.get('offer_price').invalid"> {{'REQUIERED_OFFER_PRICE' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="group-col-left form-group">
            <mat-form-field style="max-width: 100%;width: 100%;">              
                <input autocomplete="off" matInput type="text" formControlName="description"
                placeholder="{{'DESCRIPTION'|translate}}" [disabled]="loading">
                <mat-error *ngIf="formGroup.get('description').invalid"> {{'REQUIERED_DESCRIPTION' | translate}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-8 col-sm-12 col-md-8 marg-b-20">
                <file-selector label='IMAGE' formControlName="image" [(file)]="item.image" [isAvatar]="false"></file-selector>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-4" style="margin-bottom: 20px;">
                <div style="margin-top: 20px;">
                    <strong class="small-text-2 ">{{'ACTIVE_OFFER' | translate}}</strong>
                </div>
                <div style="margin-bottom: 15px;">
                    <mat-checkbox  color="primary" formControlName="active">{{'Active' | translate}}
                    </mat-checkbox>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div  class="group-row-left" style="margin-top: 20px;">
                    <btn-loader (click)="add()" [disabled]="disabled || loading || formGroup.invalid || !formGroup.dirty || !this.edited && this.isEdit" [loading]="loading"
                        text="{{'SAVE'|translate}}">
                    </btn-loader>
                    <p *ngIf="error" class="col-error small-text">{{error}}</p>
                    <p *ngIf="!edited && isEdit" class="small-text" style="margin-top: 10px!important; margin-left: 10px!important; color: rgba(0, 0, 0, 0.42);">{{'NO_UPDATE' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>