<div class="modal-header bg-blue">

    <button type="button" mat-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
        <span class="center h v">
            <i class="fa fa-times col-white"></i>
        </span>
    </button>

</div>
<div class="group-col-left modal-body" style="width: 100%; padding: 0!important">
    <div class="padd-20" style="width: 100%">
        <div class="col-lg-20">
            <div>
                <div >
                    <div class="row">
                        <div style="margin-right: 200px; margin-left: 20px;">
                            <div>
                                <label>{{'TYPE_OFFER' |translate}}</label>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-select [ngModel]="item.type" [disabled]="disabled"
                                        (ngModelChange)="selectedType($event)">
                                        <div class="padd-10 bordered-bottom sticky-top-center bg-white">
                                            <input #search color="primary" style="margin: 0 10px" class="search-input"
                                                [(ngModel)]="item.type" placeholder="{{'SEARCH'|translate}}">
                                        </div>
                                        <mat-option *ngFor="let type of types" [value]="type">
                                            <span *ngIf=" type!=null">
                                                {{type}}
                                            </span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                                <date-picker [dateFormat]="'yyyy-MM-ddThh:mm'" label="WHEN_FINISH" [item]="item.end" dateType='datetime-local' (itemChanged)="changeDate($event)">
                                </date-picker>
                        </div>
                        
                    </div>


    
                    <div *ngIf="item.type=='percentage'" style="margin-top: 20px;margin-left: 2px;">
                        <div class="group-col-left" style="width: 230px;margin-bottom: 15px">
                            <span class="small-text-2">{{'DISCOUNT_PERCENT'|translate}}</span>
                            <input type="number" class="user-input small" style="max-width: 100%"
                                [(ngModel)]="item.discount" placeholder="{{'DISCOUNT_PERCENT'|translate}}"
                                [disabled]="loading">
                        </div>
                    </div>
                    <div *ngIf="item.type =='classic'" style="margin-top: 20px;margin-left: 2px;">

                        <div class="row">
                            <div class="group-col-left" style="width: 230px;margin-bottom: 15px;margin-right: 160px; margin-left: 20px;">
                                <span class="small-text-2">{{'INITIAL_PRICE'|translate}}</span>
                                <input type="number" class="user-input small" style="max-width: 100%"
                                    [(ngModel)]="item.initial_price" placeholder="{{'INITIAL_PRICE'|translate}}"
                                    [disabled]="loading">
                            </div>
                            <div class="group-col-left" style="width: 230px;margin-bottom: 15px">
                                <span class="small-text-2">{{'OFFER_PRICE'|translate}}</span>
                                <input type="number" class="user-input small" style="max-width: 100%"
                                    [(ngModel)]="item.offer_price" placeholder="{{'OFFER_PRICE'|translate}}"
                                    [disabled]="loading">
                            </div>

                        </div>

                        
                    </div>


                    <div class="group-col-left" style="width: 86%;margin-left: 4px;">
                        <span class="small-text-2">{{'DESCRIPTION'|translate}}</span>
                        <input type="text" class="user-input small" style="max-width: 100%" [(ngModel)]="item.description"
                            placeholder="{{'DESCRIPTION'|translate}}" [disabled]="loading">
                    </div>

                    
                    
                   <div class="row" style="margin-top: 20px; margin-left: 5px; margin-bottom: 80px;">

                        <div  style="border-radius: 6px ;width: 300px;height: 150px;margin-right: 65px;">
                            <file-selector label='IMAGE' [(file)]="item.image" [isAvatar]="false"></file-selector>
                        </div>

                        <div>
                            <div class="col" >
                                <div >
                                    <label>{{'ACTIVE_OFFER' | translate}}</label>
                                </div>
                                <div class="row" style="margin-left: 3px;margin-bottom: 15px;">
                                    
                                    <div>
                                        <mat-checkbox color="primary" [(ngModel)]="item.active"></mat-checkbox>
                                    </div>
                                    <div style="margin-left: 10px;">
                                        <span>{{'ACTIVE' | translate}}</span>
                
                                    </div>
                
                                </div>


                                <div>
                
    
                                    <div class="col-lg-12">
                                        <div class="group-row-left" style="margin-top: 80px; margin-left: 80px;">
                                            <btn-loader (click)="add()" [disabled]="disabled || loading" [loading]="loading"
                                                text="{{'SAVE'|translate}}">
                                            </btn-loader>
                                            <p *ngIf="error" class="col-error small-text marg-left-10">{{error}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                   </div>
                  
                    
                   
                    
    
    
    
    
                </div>
            </div>
           
        </div>
    </div>

</div>
