<modal-header *ngIf="isEdit else areItem" title="{{'EDIT_OFFER'|translate}}" (click)="close()"></modal-header>
<ng-template #areItem>
    <modal-header title="{{'ADD_OFFER'|translate}}" (click)="close()"></modal-header>
</ng-template>

<div class="group-col-left modal-body" style="width: 100%; padding: 0!important">
    <div class="padd-20" style="width: 100%">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="group-col-left">
                    <b class="small-text-2">{{'TYPE_OFFER' |translate}}</b>
                    <mat-form-field style="width: 100%">
                        <mat-select [ngModel]="item.type" [disabled]="disabled" (ngModelChange)="selectedType($event)">
                            <div class="padd-10 bordered-bottom sticky-top-center bg-white">
                                <input #search color="primary" style="margin: 0 10px" class="search-input"
                                    [(ngModel)]="item.type" placeholder="{{'SEARCH'|translate}}">
                            </div>
                            <mat-option *ngFor="let type of types" [value]="type">
                                <span *ngIf=" type!=null">
                                    {{type}}
                                </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="group-col-left">
                    <strong class="small-text-2">{{'WHEN_FINISH' |translate}}</strong>
                    <date-picker [item]="item.end" (itemChanged)="changeDate($event)"></date-picker>
                </div>
            </div>
        </div>

        <div *ngIf="item.type=='percentage'" style="margin-top: 20px;margin-left: 2px;">
            <div class="group-col-left" style="width: 230px;margin-bottom: 15px">
                <strong class="small-text-2">{{'DISCOUNT_PERCENT'|translate}}</strong>

                <input type="number" class="user-input small" style="max-width: 100%" [(ngModel)]="item.discount"
                    placeholder="{{'DISCOUNT_PERCENT'|translate}}" [disabled]="loading">
            </div>
        </div>

        <div *ngIf="item.type =='classic'" style="margin-top: 20px;margin-left: 2px;">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <strong class="small-text-2">{{'INITIAL_PRICE'|translate}}</strong>

                    <input type="number" class="user-input small" style="max-width: 100%"
                        [(ngModel)]="item.initial_price" placeholder="{{'INITIAL_PRICE'|translate}}"
                        [disabled]="loading">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <strong class="small-text-2">{{'OFFER_PRICE'|translate}}</strong>

                    <input type="number" class="user-input small" style="max-width: 100%" [(ngModel)]="item.offer_price"
                        placeholder="{{'OFFER_PRICE'|translate}}" [disabled]="loading">
                </div>
            </div>
        </div>

        <div class="group-col-left">
            <strong class="small-text-2">{{'DESCRIPTION'|translate}}</strong>

            <input type="text" class="user-input small" style="max-width: 100%" [(ngModel)]="item.description"
                placeholder="{{'DESCRIPTION'|translate}}" [disabled]="loading">
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-6 col-sm-12 col-md-12 marg-b-20">
                <file-selector label='IMAGE' [(file)]="item.image" [isAvatar]="false"></file-selector>
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12" style="margin-bottom: 20px;">
                <div style="margin-top: 20px;">
                    <strong class="small-text-2 ">{{'ACTIVE_OFFER' | translate}}</strong>
                </div>
                <div style="margin-bottom: 15px;">
                    <mat-checkbox color="primary" [(ngModel)]="item.active">{{'Active' | translate}}
                    </mat-checkbox>
                </div>
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12">
                <div style="margin-top: 20px;">
                    <btn-loader (click)="add()" [disabled]="disabled || loading" [loading]="loading"
                        text="{{'SAVE'|translate}}">
                    </btn-loader>
                    <p *ngIf="error" class="col-error small-text">{{error}}</p>
                </div>
            </div>
        </div>
    </div>
</div>