<header-nav></header-nav>



<app-page class="change-delegate">
  <div class="wallet-transactions bg-white" style="margin-top: 0">

    <!-- Header -->
    <delegate-header (onNewChange)="newChange($event)" (onImport)="newImport($event)">
    </delegate-header>
    
    <validation-errors style="border-top: 1px solid #ddd" [errors]="validationErrors"
      *ngIf="validationErrors.length > 0"></validation-errors>

    <!-- List of changes -->
    <div class="group-col-left" style="width: 100%; position: relative;">
      <table matSort (matSortChange)="sortData($event)" class="left-align">
        <thead class="bordered stripped">
          <tr>
            <th mat-sort-header="id" style="color: #555!important">
              {{'ID'|translate}}
            </th>
            <th mat-sort-header="name" style="color: #555!important">
              {{'NAME'|translate}}
            </th>
            <th mat-sort-header="type" style="color: #555!important">
              {{'TYPE'|translate}}
            </th>
            <th mat-sort-header="import" style="color: #555!important">
              {{'IMPORT_TOTAL'|translate}}
            </th>
            <th mat-sort-header="recs_distributed" style="color: #555!important">
              {{'RECS_DISTRIBUTED'|translate}}
            </th>
            <th mat-sort-header="tx_success" style="color: #555!important">
              {{'TX_RATE'|translate}}
            </th>
            <!-- <th mat-sort-header="entries" style="color: #555!important">
              {{'ENTRIES'|translate}}
            </th> -->
            <th mat-sort-header="created" style="color: #555!important">
              {{'CREATED'|translate}}
            </th>
            <th mat-sort-header="scheduled_at" style="color: #555!important">
              {{'SCHEDULED_AT'|translate}}
            </th>
            <th mat-sort-header="status" style="color: #555!important">
              {{'Status'|translate}}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let change of sortedData; let i = index; trackBy: trackByFn">
            <td> {{change.id}} </td>
            <td> <b>{{change.name}}</b> </td>
            <td> <i>{{change.type | translate }}</i> </td>
            <td>
              <code>{{change.statistics.scheduled.rec_to_be_issued/1e8}} rec</code>
            </td>
            <td>
              {{change.statistics.result.issued_rec}}
            </td>
            <td>
              <span class="col-success">{{change.statistics.result.success_tx || 0}}</span>/<span
                class="col-error">{{change.statistics.result.error_tx|| 0}}</span>
            </td>
            <!-- <td>
              {{change.data ? change.data.length : 0}}
            </td> -->
            <td>
              <i>{{change.created | date: 'medium'}}</i>
            </td>
            <td>
              <i>{{change.scheduled_at | date: 'medium'}}</i>
            </td>
            <td>
              <span class="status-{{change.status}}" *ngIf="!utils.isMobileDevice">{{change.status}}</span>
              <span class="circle bg-{{change.status}}" *ngIf="utils.isMobileDevice"></span>
            </td>
            <td>
              <!-- If status === 'draft' -->
              <ng-container *ngIf="change.status == 'draft'">
                <button mat-icon-button [matMenuTriggerFor]="actions">
                  <span class="center h v">
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
                </button>
                <mat-menu #actions="matMenu">
                  <button mat-menu-item (click)="navigateToChange(change.id)">
                    <p class="small-text"><i class="fa fa-edit"></i> {{'View/Edit'|translate}}</p>
                  </button>
                  <button mat-menu-item (click)="activateChange(change)">
                    <p class="small-text"><i class="fa fa-file"></i> {{'Activate'|translate}}</p>
                  </button>
                  <hr>
                  <button mat-menu-item (click)="deleteChange(change)">
                    <p class="small-text col-error"><i class="fa fa-trash"></i> {{'DELETE'|translate}}</p>
                  </button>
                </mat-menu>
              </ng-container>

              <!-- If status === 'scheduled' -->
              <ng-container *ngIf="change.status == 'scheduled' || change.status == 'finished'">
                <button mat-icon-button [matMenuTriggerFor]="actions">
                  <span class="center h v">
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
                </button>
                <mat-menu #actions="matMenu">
                  <button mat-menu-item (click)="navigateToChange(change.id)">
                    <p class="small-text"><i class="fa fa-edit"></i> {{'View'|translate}}</p>
                  </button>
                  <button mat-menu-item (click)="cancelChange(change)" *ngIf="change.status != 'finished'">
                    <p class="small-text"><i class="fa fa-file"></i> {{'Deactivate'|translate}}</p>
                  </button>
                </mat-menu>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="center h v" style="width: 100%; padding: 15px 0" *ngIf="!sortedData.length && !loadingList">
        <p class="small-text-2">{{'NO_DELEGATE_CHANGES_YET'|translate}}</p>
      </div>
      <div class="center h v bg-white-opaque" style="width: 100%;height: 100px" *ngIf="loadingList">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
      <mat-paginator [length]="total" style="width: 100%" [pageSize]="limit" (page)="changedPage($event)"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</app-page>