<div style="height: 100%; padding: 20px">
  <mat-card>
    <div class="group-col-left" [ngClass]="{'alert-warning': !user.enabled && user.enabled!=null}">
      <div class="group-row-left center h v">
        <img src="{{user.profile_image || Brand.profile_default_image}}" alt=""
          style="margin-right: 10px; width: 40px; height: 40px; border-radius: 50%;">
        <div class="group-col-left">
          <b class="small-text-3">{{user.name}}</b>
          <i class="col-gray-light">{{user.email || user.dni}}</i>
        </div>
      </div>
      <p class="small-text" *ngIf="!user.enabled && user.enabled != null">
        {{'USER_DISABLED_DESC'|translate}}
      </p>
    </div>
    
    <div class="group-col-left" style="margin-top: 15px; border-top: 1px solid #ddd">
      <div class="group-col-left" style="padding-top: 15px">
        <b class="marg-bottom-20">{{'Details'|translate}}</b>

        <div class="row" style="padding: 0 15px">
          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <b class="small-text" style="margin-right: 8px; margin-bottom:6px">
              {{'Name'|translate}}
            </b>
            <span class="small-text-2">{{(user.name || 'Not filled')|translate}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <b class="small-text" style="margin-right: 8px; margin-bottom:6px">{{'Last Name'|translate}} </b>
            <span class="small-text-2">{{(user.kyc_validations && user.kyc_validations.last_name || 'Not filled')|translate}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <b class="small-text" style="margin-right: 8px; margin-bottom:6px">{{'Email'|translate}} </b>
            <span class="small-text-2">{{(user.email || 'Not filled')|translate}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <b class="small-text" style="margin-right: 8px; margin-bottom:6px">
              {{'Phone'|translate}}
              <span class="col-success" title="Phone is validated">
                <i class="fa fa-check"></i>
              </span>
            </b>
            <span class="small-text-2">+{{user.prefix}}
              {{(user.phone ? user.phone: 'Not filled')|translate}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
            <b class="small-text" style="margin-right: 8px; margin-bottom:6px">{{'Created'|translate}} </b>
            <span class="small-text-2">{{user.created | date}}</span>
          </div>

          <div style="margin-bottom: 15px" class="col-lg-4 col-sm-12 group-col-left">
                <active-group-selector (itemChanged)="getUser()" [user_id]="user_id" [items]="user.accounts" [item]="user.active_group"
                [label]="'Account'" ></active-group-selector>
          </div>
          
        </div>
      </div>
    </div>
   
    <div class="group-row-left" style="margin-top: 15px; border-top: 1px solid #ddd">
      <div class="group-col-left" style="padding-top: 15px">
        <div>
          <button mat-button color="primary" (click)="editRoles()">
            {{'Edit'|translate}}
          </button>
          <button mat-button color="primary" (click)="viewSMSCode()">
            {{'View SMS'|translate}}
          </button>
          <button mat-button color="primary" (click)="resendSMSCode()">
            {{'Resend SMS'|translate}}
          </button>
          <button mat-button color="primary" (click)="validatePhone()">
            {{'Validate Phone'|translate}}
          </button>
          <button mat-button (click)="disableUser()" *ngIf="user.enabled">
            <span class="col-error">{{'Disable'|translate}}</span>
          </button>
          <button mat-button color="primary" (click)="enableUser()" *ngIf="!user.enabled">
            <span class="col-blue">{{'ENABLE'|translate}}</span>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>