<div class="group-col-left marg-bottom-10">
    <span class="small-text-2 marg-bottom-5" *ngIf="label">
        {{label|translate}} {{subLabel}} <span class="small-text col-gray-light">{{getMinMaxLabel()}} </span>
        <i *ngIf="isRequired" style="font-size: 10px!important;" class="small-text fa fa-asterisk col-error"></i>
    </span>

    <p class="small-text col-gray-light" [ngClass]="{'col-error': hasError}" style="margin-top: 0"
        *ngIf="description || hasError">
        {{hasError ? error:  description}}
    </p>


    <input autocomplete="new-password" *ngIf="isNormalInput && ngModel" [required]="isRequired" #input [disabled]="disabled" [type]="type"
        class="user-input small" placeholder="{{placeholder|translate}}" [name]="name" [attr.minlength]="minlength"
        [attr.maxlength]="maxlength">

    <input autocomplete="new-password" *ngIf="isNormalInput && !ngModel && debounced" [required]="isRequired" #input ngModel [disabled]="disabled"
        [type]="type" class="user-input small" placeholder="{{placeholder|translate}}" [name]="name"
        [attr.minlength]="minlength" [attr.maxlength]="maxlength">

    <input autocomplete="new-password" *ngIf="isNormalInput && !ngModel && !debounced" [required]="isRequired" [disabled]="disabled" [type]="type"
        class="user-input small" [ngModel]="value" (ngModelChange)="changed($event)"
        placeholder="{{placeholder|translate}}" [name]="name" [attr.minlength]="minlength" [attr.maxlength]="maxlength">

    <mat-checkbox *ngIf="!isNormalInput && type === 'checkbox'" color="primary" [ngModel]="value"
        (ngModelChange)="changed($event)" [disabled]="disabled">
        <span class="small-text-2">{{placeholder|translate}}</span>
    </mat-checkbox>

    <mat-select class="mat-button-menu status-launched" [disabled]="disabled" style="margin-top: 10px;"
        *ngIf="!isNormalInput && type === 'select'" [ngModel]="value" (ngModelChange)="changed($event)"
        placeholder="{{placeholder|translate}}">
        <mat-option class="status-launched" [value]="opt.value || opt" *ngFor="let opt of options">{{(opt.name || opt) | translate}}
        </mat-option>
    </mat-select>
</div>

<div class="group-row-left" *ngIf="!isNormalInput && type === 'toggle'">
    <mat-slide-toggle [disabled]="disabled" color="primary" [ngModel]="value" (ngModelChange)="changed($event)">
    </mat-slide-toggle>
</div>