<div class="group-col-left">
    <span class="small-text-2" *ngIf="label">{{label|translate}}</span>
    <input *ngIf="isNormalInput" [disabled]="disabled" [type]="type" class="user-input small" [ngModel]="value"
        (ngModelChange)="valueChange.emit($event)" placeholder="{{placeholder}}" name="{{name}}">

    <mat-checkbox *ngIf="!isNormalInput && type === 'checkbox'" color="primary" [ngModel]="value"
        (ngModelChange)="valueChange.emit($event)">
        <span class="small-text-2">{{placeholder|translate}}</span>
    </mat-checkbox>

    <mat-select class="mat-button-menu" *ngIf="!isNormalInput && type === 'select'" [ngModel]="value"
        (ngModelChange)="valueChange.emit($event)" placeholder="{{placeholder}}">
        <mat-option [value]="opt.value || opt" *ngFor="let opt of options">{{(opt.name || opt)|translate}}</mat-option>
    </mat-select>


    <!-- <div *ngIf="!isNormalInput && type === 'menu'">
        <button mat-button [matMenuTriggerFor]="inMenu" class="mat-button-menu"
            style="width: 100%; margin-bottom: 10px">
            <span class="center space-between">
                <span class="small-text">value</span>
                <i class="fa fa-caret-right"></i>
            </span>
        </button>
        <mat-menu #inMenu="matMenu">
            <button mat-menu-item *ngFor="let type of ACCOUNT_TYPES" (click)="setType(type)">
                <p class="small-text">{{type}}</p>
            </button>
        </mat-menu>
    </div> -->

    <ng-content></ng-content>
</div>