@import 'node_modules/@angular/material/theming.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

a {
  color: __color__;
}

a:hover, a:focus, a:visited {
  color: rgb(25, 105, 180);
}

$main-color:      __color__;  // the color of your brand
$main-color-dark: __color_dark__;  // the dark color of your brand

$main-color-sbox:      #c9b400;  // the color of your brand
$main-color-dark-sbox: #a89600;  // the dark color of your brand

$sidemenu-color:      $main-color;  // the color of your brand
$sidemenu-color-dark: #222D31;  // the dark color of your brand

// .sandbox {
//   $main-color:      rgb(224, 238, 33);  // the color of your brand
//   $main-color-dark: rgb(206, 194, 25);  // the dark color of your brand
// }

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-__theme_main__);
$candy-app-accent:  mat-palette($mat-__theme_accent__, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.col-orange{
  color: #E05206
}

code {
  color: $main-color-dark
}

.validate-btn{
  width: auto;
  height: 30px;
  padding: 0 25px;
  border-radius: 15px;
  background: $main-color-dark;
  font-size: 13px;
  border: none
}

.validate-btn:disabled {
  background: rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

.company.selected .company-card{
  border-color: #E05206!important;
  .company-checked{
    background: #E05206!important;
  }
}

.sidemenu.company{
  background: #E05206!important;
}

.company-border {
  border: 2px solid #E05206;
}

.private-border {
  border: 2px solid $main-color;
}

.sidemenu.collapsed.company .collapse-menu{
  background: #E05206!important;
}
.sidemenu.collapsed .collapse-menu{
  background: $main-color!important;
}

.reseller-developers .item.active, .dropdown-developers .item.active, .menu-list .item.active {
  background: transparent!important;
  cursor: pointer!important;
  color: $main-color!important;
}

.warn-well{
  background: #fbf5e5;
  border-left: 3px solid #f4b04f ;
  padding: 10px 15px;
  margin: 20px 0 15px 0;
  width: 100%;
}

.info-well {
  background: #e5f4fb;
  border-left: 3px solid $main-color;
  padding: 10px 15px;
  margin: 20px 0 15px 0;
  width: 100%;
}

label .mat-button.mat-primary{
  background: #eaeaea!important;
}
.chat-window{
  background:  __color__;
  color: #fff;
}
.chat-window:hover{
  background: __color__
}

.company-checked{
  background: $main-color;
  color: #fff;
}
.alert-icon{
  border: 3px solid $main-color;
  color: $main-color;
}
.login-form .input-group input{
  border: none;
  border-bottom: 1px solid $main-color!important;
}
.sidemenu{
  background: $sidemenu-color;
}
.sidemenu.collapsed{
  background: $sidemenu-color-dark;
}

a{
  color: $main-color
}
.selected .company-card{
  border: 2px solid $main-color!important;
}
.user-input:active, .user-input:focus{
  border-color: $main-color
}
.search-input{
  border-bottom: 1px solid $main-color;
}

.loading_screen{
  color: $main-color
}

.col-warning, .col-expired {
  color: #f4b04f  !important;
}
.col-white{
  color: #fff!important
}
.col-info, .col-started {
  color: #1f52ce !important;
}

.col-def {
  color: #ededed !important;
}
.col-blue{
  color: $main-color;
}
.col-blue.hoverable:hover{
  color: __color__;
}
.col-blue-dark{
  color: __color__
}

.col-gray {
  color: #666;
}

.col-gray-light {
  color: #838282 !important;
}
.col-gray-lighter {
  color: #8a8a8a !important;
}

.status-launched, .status-created, .status-pending, .status-refunded, .status-draft, .amount {
  color: #1976D2 !important;
}
.col-success, .col-completed,
.status-success, .status-enabled, .status-verified {
  color: #66BB6A !important
}
.col-teal{
  color: #4DB6AC !important
}
.col-error, .col-cancelled,
.status-error, .status-failed, .status-stopped, .status-disabled, .status-cancelled {
  color: #EF5350 !important;
}
.bg-error{
  background: #EF5350 !important;
  color: #fff
}


.bg-blue,
.bg-sending,
.bg-created  {
  background: $main-color !important;
  color: #fff;
}
.bg-blue.hoverable:hover{
  background: $main-color-dark
}
.bg-blue.hoverable:disabled{
  background: #e9ecef!important;
  color: #787878;
  cursor: default!important;
}
.bg-blue-dark{
  background: $main-color-dark
}

.selected-wallet{
  /* border: 2px solid red; */
  border: 1px dashed lighten($main-color, 30%);
  background: rgba(lighten($main-color, 30%), 0.2);
}

.sandbox {
  .sidemenu.collapsed .collapse-menu,
  .chat-window,
  .company-checked{
    background: $main-color-sbox!important;
  }
  .reseller-developers .item.active, .dropdown-developers .item.active, .menu-list .item.active {
    color: $main-color-sbox!important;
  }
  .info-well {
    border-color: $main-color-sbox;
  }
  .loading_screen{
    color: $main-color-sbox;
  }
  .col-info, .col-started {
    color: $main-color-sbox !important;
  }
  .col-blue{
    color: $main-color-sbox;
  }
  .col-blue.hoverable:hover{
    color: $main-color-dark-sbox;
  }
  .col-blue-dark{
    color: $main-color-dark-sbox;
  }
  .bg-blue,
  .bg-sending,
  .bg-created  {
    background: $main-color-sbox !important;
    color: #fff;
  }
  .bg-blue.hoverable:hover{
    background: $main-color-dark-sbox
  }
  .bg-blue-dark{
    background: $main-color-dark-sbox
  }
  
  .selected-wallet{
    /* border: 2px solid red; */
    border: 1px dashed lighten($main-color-sbox, 30%);
    background: rgba(lighten($main-color-sbox, 30%), 0.2);
  }
  .sidemenu,
  .bg-blue{
    background: $main-color-sbox!important;
  }
}