<div class="modal-header bg-blue">
  <span>{{'ARE YOU THERE'|translate}}?</span>

  <button type="button" mat-icon-button class="icon-btn-small" name="button" (click)="close(false)" title="close">
    <span class="center h v">
      <i class="fa fa-times col-white"></i>
    </span>
  </button>
</div>

<div class="group-col-left padd-x20">
  <h4>{{'ARE YOU THERE'|translate}}? </h4>
  <p class="small-text-2">
    {{'Please click continue, to keep session active'|translate}}.
    <b>{{utils.seconds}}</b> {{'Seconds Left'|translate}}
  </p>

  <div class="group-row-left center v" style="margin-top: 15px; margin-left: 15px; width: 100%; justify-content: flex-end">
    <button type="button" mat-raised-button name="button" color="primary" (click)="resetCounter()">
      <span class="small-text"> {{'CONTINUE'|translate}} </span>
    </button>
  </div>
</div>