<modal-header title="{{isEdit ? 'EDIT_DOCUMENT_KIND': 'ADD_DOCUMENT_KIND'|translate}}" (click)="close(false)">
</modal-header>

<div class="padd-20 modal-body" style="min-height: 300px">
  <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
    style="border: 1px solid #ddd!important; width: 100%; margin-bottom: 15px;">
  </validation-errors>

  <div class="row">
    <div class="col-lg-12">
      <p style="padding-bottom: 15px">
        {{(!isEdit ? 'ADD_ITEM_DESC': 'EDIT_ITEM_DESC')|translate:({ type: itemType })}}
      </p>
    </div>
    <form [formGroup]="formGroup">
      <mat-form-field class="col-lg-12" style="width: 100%; padding: 5px 15px;">
          <mat-label>{{"Name" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="item.name" formControlName="description" style="max-width: 100%;"
          placeholder="{{'Catalan'|translate}}" [disabled]="loading" required>
          <mat-error *ngIf="formGroup.get('name').invalid">{{'FIELD_REQUIRED'| translate}}</mat-error>
      </mat-form-field>

      <mat-form-field  class="col-lg-12" style="width: 100%; padding: 5px 15px;">
          <mat-label>{{"Description" | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="item.description" formControlName="name" style="max-width: 100%"
          placeholder="{{'Español'|translate}}" [disabled]="loading" required>
          <mat-error *ngIf="formGroup.get('description').invalid">{{'FIELD_REQUIRED'| translate}}</mat-error>
      </mat-form-field>
    </form>
    <div class="col-lg-12" *ngIf="!isEdit">
      <mat-slide-toggle
          [(ngModel)]="isLemon"
          [checked]="isLemon"
          [disabled]="loading">
        <small>{{'Is lemonway doc type?' | translate}}</small>
      </mat-slide-toggle>
    </div>
      <mat-form-field  *ngIf="isLemon" class="col-lg-12" style="width: 100%;  padding: 10px 15px;">
        <mat-label>{{"Lemonway doc type" | translate}}</mat-label>
        <input matInput type="number" [formControl]="inputLength" [(ngModel)]="item.lemon_doctype" style="max-width: 100%;"
        placeholder="{{'Lemonway doc type'|translate}}" [disabled]="loading" required>
        <mat-error *ngIf="inputLength.invalid">Min: 0 - Max: 19</mat-error>
    </mat-form-field>
  </div>
  <div class="group-row-left center v" style="margin-top: 20px; justify-content: flex-end">
    <p class="col-error small-text" style="margin-right: 10px!important">{{error}}</p>
    <btn-loader [loading]="loading" [disabled]="disabled || loading || formGroup.invalid || inputLength.invalid && isLemon || !formGroup.dirty" [text]="isEdit ? 'EDIT': 'ADD'" (click)="proceed()"></btn-loader>
  </div>
</div>