.docs-list {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.docs-list ol {
  list-style-position: inside;
  list-style: decimal;
}

.docs-list-line {
  width: 100%;
}

.docs-list-line div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.docs-list-line .title {
  width: 100%;
  font-size: 12px;
}

.docs-list-line .actions {
  display: flex;
  align-items: center;
}

.md-title {
  margin-bottom: 15px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  background: rgba(255,255,255,0.4);
}