<div style="height: 100%; padding: 20px">
  <div class="row">

    <div class="col-lg-12" *ngIf="type === ''">
      <md-card style="padding: 20px; height: 420px; position: relative;" class="center h v">
        <md-progress-spinner color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </md-progress-spinner>
      </md-card>
    </div>

    <div class="col-lg-12" *ngIf="type !== '' && alreadyValidated">
      <md-card style="padding: 20px; height: auto; position: relative;" class="center h v">
        <div style="text-align: center">
          <h4>{{'USER_REGISTERED_LEMON'|translate}}</h4>
          <p [innerHTML]="'USER_REGISTERED_LEMON_DESC'|translate:({id: lemonId})"></p>
          <!-- <p>This user is already registered in LemonWay, with id <code>{{lemonId}}</code></p> -->
        </div>
      </md-card>
    </div>

    <div class="col-xlg-6 col-lg-12 col-md-12" style="margin-top: 15px" *ngIf="type !== ''">
      <md-card style="padding: 20px; height: 420px; position: relative;">
        <div class="col-lg-12">
          <h4 class="md-title">{{'EMPRESAS'|translate}}</h4>
          <i>{{'ACCEPTED_FILE_FORMATS'|translate}}: <b>pdf, png & jpeg</b></i>
        </div>

        <div class="docs-list">
          <ol>
            <!-- DNI delante detras -->
            <li class="docs-list-line" *ngFor="let doc of documents; let i = index">
              <div>
                <span class="title">{{doc.name|translate}}</span>
                <div class="actions">
                  <code class="small-text">{{doc.status}}</code>
                  <button md-icon-button *ngIf="doc.uploaded" (click)="removeDoc(doc, i)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <a md-icon-button *ngIf="doc.uploaded" target="_blank" href="{{doc.preview}}">
                    <i class="fa fa-eye"></i>
                  </a>
                  <button md-icon-button *ngIf="!doc.uploaded" (click)="selectDoc(doc, i)">
                    <i class="fa fa-upload"></i>
                  </button>
                </div>
              </div>
            </li>
          </ol>
          <button md-raised-button>
            {{'Add document'|translate}}
          </button>
          <button md-raised-button color="primary" (click)="validateDocs('company')">
            {{'Validate Data'|translate}}
          </button>
          <button md-raised-button color="primary" (click)="openAccount('company')">
            {{'Open Account'|translate}}
          </button>
        </div>
      </md-card>
    </div>

    <div class="col-xlg-6 col-lg-12 col-md-12" style="margin-top: 15px" *ngIf="type !== ''">
      <md-card style="padding: 20px; height: 420px">
        <div class="col-lg-12">
          <h4 class="md-title">{{'AUTONOMOS'|translate}}</h4>
          <i>{{'ACCEPTED_FILE_FORMATS'|translate}}: <b>pdf, png & jpeg</b></i>
        </div>

        <div class="docs-list">
          <ol>
            <!-- DNI delante detras -->
            <li class="docs-list-line" *ngFor="let doc of documentsAutomono">
              <div>
                <span class="title">{{doc.name|translate}}</span>
                <div class="actions">
                  <code class="small-text">{{doc.status}}</code>
                  <button md-icon-button *ngIf="doc.uploaded" (click)="removeDoc(doc, i)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <a md-icon-button *ngIf="doc.uploaded" target="_blank" href="{{doc.preview}}">
                    <i class="fa fa-eye"></i>
                  </a>
                  <button md-icon-button *ngIf="!doc.uploaded" (click)="selectDoc(doc, i)">
                    <i class="fa fa-upload"></i>
                  </button>
                </div>
              </div>
            </li>
          </ol>
          <button md-raised-button>
            {{'Add document'|translate}}
          </button>
          <button md-raised-button color="primary" (click)="validateDocs('autonomo')">
            {{'Validate Data'|translate}}
          </button>
          <button md-raised-button color="primary" (click)="openAccount('autonomo')">
            {{'Open Account'|translate}}
          </button>
        </div>
      </md-card>
    </div>
  </div>
</div>