<div class="modal-header bg-blue">
    <span>{{(!isEdit ? 'ADD': 'EDIT') | translate}} {{itemType|translate}}</span>

    <button type="button" mat-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
        <span class="center h v">
            <i class="fa fa-times col-white"></i>
        </span>
    </button>
</div>

<div class="group-col-left modal-body" style="width: auto; padding: 0!important">
    <div class="padd-20" style="width: 100%">
        <p style="padding-bottom: 15px">
            {{(!isEdit ? 'ADD_ITEM_DESC': 'EDIT_ITEM_DESC')|translate:({ type: itemType })}}
        </p>

        <div class="row" style="width: 100%">
            <div class="col-lg-4" [class.col-lg-12]="!isProduct">
                <form [formGroup]="formGroup">
                    <mat-form-field style="width: 100%; padding: 10px;">
                        <mat-label>{{"Catalan" | translate}}</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="name_ca"
                            style="max-width: 100%;" placeholder="{{'Catalan'|translate}}" [disabled]="loading"
                            (blur)="check()" required>
                        <mat-error *ngIf="formGroup.get('name_ca').invalid">{{'FIELD_REQUIRED'| translate}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="group-col-left" style="width: 100%; padding: 10px;">
                        <mat-label>{{"Spanish" | translate}}</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="name_es" style="max-width: 100%"
                            placeholder="{{'Español'|translate}}" [disabled]="loading" (blur)="check()" required>
                        <mat-error *ngIf="formGroup.get('name_es').invalid">{{'FIELD_REQUIRED'| translate}}</mat-error>
                    </mat-form-field>


                    <mat-form-field class="group-col-left" style="width: 100%; padding: 10px;">
                        <mat-label>{{"English" | translate}}</mat-label>
                        <input autocomplete="off" matInput type="text" formControlName="name" style="max-width: 100%"
                            placeholder="{{'English'|translate}}" [disabled]="loading" (blur)="check()" required>
                        <mat-error *ngIf="formGroup.get('name').invalid">{{'FIELD_REQUIRED'| translate}}</mat-error>
                    </mat-form-field>

                    <div *ngIf="!isProduct" style="width: 100%; padding: 10px;">
                        <activity-picker label="PARENT_ACTIVITY" formControlName="parent" [item]="secondary_activity"
                            [parent]="'null'" (itemChanged)="selectActivity($event)">
                        </activity-picker>
                    </div>
                </form>

            </div>

            <div class="col-lg-8" *ngIf="isProduct && isEdit">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="small-text-2">{{'ACTIVITIES_CONSUMED'|translate}}</p>
                        <div class="activity-box-list">
                            <ul *ngIf="item.default_consuming_by && item.default_consuming_by.length"
                                style="list-style: none; margin: 0; padding: 0">
                                <li class="activity-list-item small-text"
                                    *ngFor="let cons of item.default_consuming_by; let i = index">
                                    {{cons | tolang}}
                                    <span class="icon fa fa-trash col-error" (click)="deleteConsumed(i)"></span>
                                </li>
                            </ul>
                            <p class="small-text col-gray padd-10"
                                *ngIf="item.default_consuming_by && !item.default_consuming_by.length">
                                {{'NO_ITEMS'|translate}}
                            </p>
                        </div>

                        <activity-picker label="ACTIVITY" [showSelection]="false" (itemChanged)="addConsumed($event)">
                        </activity-picker>

                    </div>
                    <div class="col-lg-6">
                        <p class="small-text-2">{{'ACTIVITIES_PRODUCED'|translate}}</p>
                        <div class="activity-box-list">
                            <ul *ngIf="item.default_producing_by && item.default_producing_by.length"
                                style="list-style: none; margin: 0; padding: 0">
                                <li class="activity-list-item small-text"
                                    *ngFor="let prod of item.default_producing_by; let i = index">
                                    {{prod | tolang}}
                                    <span class="icon fa fa-trash small-text col-error"
                                        (click)="deleteProduced(i)"></span>
                                </li>
                            </ul>
                            <p class="small-text col-gray padd-10"
                                *ngIf="item.default_producing_by && !item.default_producing_by.length">
                                {{'NO_ITEMS'|translate}}
                            </p>
                        </div>

                        <activity-picker [showSelection]="false" label="ACTIVITY" (itemChanged)="addProduced($event)">
                        </activity-picker>

                    </div>
                </div>
            </div>

            <div class="col-lg-8" *ngIf="isProduct && !isEdit">
                <div class="alert alert-primary">
                    <p class="small-text-2 text-primary">
                        <i class="fa fa-info-circle" style="margin-right: 8px"></i>
                        {{'ACTIVITY_AFTER_CREATE'|translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="group-row-left" style="margin-top: 20px; margin-bottom: 20px">
                <btn-loader (click)="add()"
                    [disabled]="disabled || loading || formGroup.invalid || !this.formGroup.dirty || this.edited == false"
                    [loading]="loading" text="{{'SAVE'|translate}}">
                </btn-loader>
                <p *ngIf="error" class="col-error small-text marg-left-10">{{error}}</p>
                <p *ngIf="!edited && isEdit" class="small-text"
                    style="margin-left: 10px!important; color: rgba(0, 0, 0, 0.42);">{{'NO_UPDATE' | translate}}</p>
            </div>
        </div>
    </div>
</div>