<mat-card>
  <h4 style="font-size: 20px; font-weight: 200; margin-bottom: 15px;text-align: center;text-transform: uppercase;">{{title | translate}}</h4>
  <div class="row">
    <div class="col-lg-12">
      <div class="group-row-left center h v">
        <div *ngFor="let label of labels; let i = index" style="margin-right: 10px;">
          <i class="fa fa-square" [style.color]="colors[i]"></i> {{label}}
        </div>
      </div>
    </div>
    <div class="{{timeframes && timeframes.length ? 'col-lg-10': 'col-lg-12'}}">
      <div id="{{id}}" class="chart-parent"></div>
    </div>
    <div class="col-lg-2" *ngIf="timeframes && timeframes.length">
      <div class="group-col-left center h v space-around" style="height: 100%">
        <button mat-raised-button (click)="selectTimeframe(timeframe)" color="{{timeframe === selectedTimeframe ? 'primary': ''}}" *ngFor="let timeframe of timeframes"
          style="width: 100%; margin-bottom: 10px">
          {{timeframe.name}}
        </button>
      </div>
    </div>
  </div>
</mat-card>