<header-nav>
  <icon-btn icon="fa-angle-left" (click)="goBack()" class="icon-btn-small"></icon-btn>
  
  <div class="group-row-left center v" *ngIf="companyService.selectedCompany && companyService.selectedCompany.id">
    <avatar [account]="companyService.selectedCompany" [size]="30"></avatar>

    <code class="small-text" style="margin-right: 10px;">
      {{companyService.selectedCompany.getBalance('REC') | number}} Ɍ
    </code>
    <code class="small-text">
      {{companyService.selectedCompany.getBalance('EUR') | number}} €
    </code>
  </div>
</header-nav>
<sidemenu></sidemenu>

<div class="page account" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
  <mat-tab-group [(selectedIndex)]="currentTab" (selectedIndexChange)="changeUrl($event)"
    *ngIf="companyService.selectedCompany">
    <mat-tab label="{{'DETAILS'|translate}}">
      <account-details-tab></account-details-tab>
    </mat-tab>
    <mat-tab label="{{'USERS'|translate}}">
      <account-users-tab></account-users-tab>
    </mat-tab>
    <mat-tab label="{{'MOVEMENTS'|translate}}">
      <movements-tab></movements-tab>
    </mat-tab>
    <mat-tab label="{{'DOCUMENTS'|translate}}">
      <documents-tab></documents-tab>
    </mat-tab>
    <mat-tab label="{{'B2B_MODULE'|translate}}">
      <b2b-module [id]="account_id" [account]="companyService.selectedCompany"></b2b-module>
    </mat-tab>
    <mat-tab *ngIf="companyService.selectedCompany && companyService.selectedCompany.isCompany()"
      label="{{'LEMONWAY_INFO'|translate}}">
      <lemonway-tab  *ngIf="currentTab === 5" [id]="account_id"></lemonway-tab>
    </mat-tab>
  </mat-tab-group>
  <div class="center h v" *ngIf="!companyService.selectedCompany" style="width: 100%">
    <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
    </mat-progress-spinner>
  </div>
  <page-footer style="margin-top: 30px"></page-footer>
</div>