<div style="position: relative">
    <table class="left-align" matSort [matSortDirection]="sortDir" [matSortActive]="sortId"
        (matSortChange)="sortData($event)">
        <tr class="bordered-bottom">
            <ng-template ngFor let-header [ngForOf]="headers">
                <th *ngIf="options.sortEnabled && (header.sortable === undefined  || header.sortable)"
                    mat-sort-header="{{header.sort}}">
                    {{header.title|translate}}</th>
                <th *ngIf="!options.sortEnabled || (header.sortable !== undefined && !header.sortable)"
                    style="text-transform: capitalize">
                    {{header.title|translate}}</th>
            </ng-template>
            <th *ngIf="itemOptions"></th>
        </tr>
        <tr *ngFor="let entry of data; let i = index; trackBy: trackByFn" (click)="onClickedRow(entry)"
            class="{{getRowClass(entry)}}" [ngClass]="{'item-hoverable': !!options.onClick}">
            <td *ngFor="let header of headers; trackBy: trackByFn">
                <mat-checkbox *ngIf="header.type === 'checkbox'" color="primary" [ngModel]="getEntry(entry, header)"
                    disabled></mat-checkbox>

                <span *ngIf="header.type === 'status'"
                    [ngClass]="header.statusClass ? header.statusClass(getEntry(entry, header, false)): ''">{{getEntry(entry,
                    header)}}</span>

                <div *ngIf="header.type === 'status-campaigns-details'"
                    [ngClass]="header.statusClass ? header.statusClass(getEntry(entry, header, false)): ''">
                    <status-campaigns-details [status]="getHeaderData(entry, header, 0)"
                    [bonusEnabled]="getHeaderData(entry, header, 1)"
                    [endingAlert]="getHeaderData(entry, header, 2)"></status-campaigns-details>
                </div>    

                <span *ngIf="header.type === 'user-code' && getEntry(entry, header)">
                    <user-code [user]="getEntry(entry, header)"></user-code></span>

                <div style="cursor: pointer;" *ngIf="header.type === 'account_id' && getEntry(entry, header)!= null "
                    [matTooltip]="header.tooltip && header.tooltip(entry)"
                    [ngClass]="header.statusClass ? header.statusClass(getEntry(entry, header, false)): ''">
                    <account-id style="cursor: pointer;" [link]="true" [account_id]="getEntry(entry, header)"></account-id>
                </div>   
                
                <div *ngIf="header.type === 'status-with-time' && getEntry(entry, header)!= null "
                    [matTooltip]="header.tooltip && header.tooltip(entry)"
                    [ngClass]="header.statusClass ? header.statusClass(getEntry(entry, header, false)): ''">
                    <status-with-time activeColor="#53A808" finishedColor="#BDBDBD" createdColor="#828282"
                    [status]="getHeaderData(entry, header, 0)"></status-with-time>
                </div>    

                <code *ngIf="header.type === 'code' && getEntry(entry, header)!= null "
                    (click)="header.title == 'USER' ? onClickedItemUser(entry) : onClickedItemAccount(entry)" [matTooltip]="header.tooltip && header.tooltip(entry)"
                    [ngClass]="header.statusClass ? header.statusClass(getEntry(entry, header, false)): ''">{{getEntry(entry, header)}}</code>

                <a *ngIf="header.type === 'link'" href="javascript:;"
                    (click)="navigateTo(header.link ? header.link(entry): {})"
                    [matTooltip]="header.tooltip && header.tooltip(entry)">{{getEntry(entry, header)}}</a>

                <code *ngIf="header.type === 'number'" [matTooltip]="header.tooltip && header.tooltip(entry)"
                    [ngClass]="header.statusClass ? header.statusClass(getEntry(entry, header, false)): ''">{{header.prefix}} {{(getEntry(entry, header) || 0) | number}} {{header.suffix}}</code>

                <i *ngIf="header.type === 'date'"
                    [matTooltip]="header.tooltip ? header.tooltip(entry): getEntry(entry, header) | date: 'medium'">{{getEntry(entry,
                    header) | date}}</i>

                <button *ngIf="header.type === 'button'" mat-icon-button (click)="header.buttonAction(entry)"
                    [matTooltip]="header.tooltip && header.tooltip(entry)">
                    <img *ngIf="header.buttonImg" src="{{header.buttonImg}}" alt=""
                        style="height: 25px;margin-right: 10px">
                    <span *ngIf="header.icon" class="fa fa-{{header.icon}}"></span>
                </button>

                <div (click)="$event.stopPropagation()">
                    <mat-slide-toggle *ngIf="header.type === 'slidetoggle'" color="primary"
                        [(ngModel)]="entry[header.sort]" (change)=" header.slideAction(entry, $event)"
                        [matTooltip]="header.tooltip && header.tooltip(entry)">
                    </mat-slide-toggle>
                </div>
                <div *ngIf="header.type === 'avatar' && getEntry(entry, header).id != null"
                    (click)="onClickedItemAccount(entry)">
                    <avatar style="cursor: pointer;" [link]="true" [account]="getEntry(entry, header)"
                        [imageAccessor]="getEntry(entry, header).company_image ? 'company_image': 'profile_image'"
                        [matTooltip]="header.tooltip && header.tooltip(entry)">
                    </avatar>
                </div>
                <div *ngIf="header.type === 'avatar-user' && getEntry(entry, header).id != null"
                    (click)="onClickedItemUser(entry)">
                    <avatar-user style="cursor: pointer;" [link]="true" [user]="getEntry(entry, header)"
                        [imageAccessor]="getEntry(entry, header).company_image ? 'company_image': 'profile_image'"
                        [matTooltip]="header.tooltip && header.tooltip(entry)">
                    </avatar-user>
                </div>
                <div *ngIf="header.type === 'avatar-badges' && getEntry(entry, header).id != null">
                <avatar-badges [badge]="getEntry(entry, header)"
                    [matTooltip]="header.tooltip && header.tooltip(entry)">
                </avatar-badges>
            </div>

                <div *ngIf="header.type === 'image'" [matTooltip]="header.tooltip && header.tooltip(entry)">
                    <img src="{{getEntry(entry, header.image) || '../../../assets/resources/img/User-default.png'}}"
                        alt="" style="width: 25px; height: 25px; border-radius: 50%;margin-right: 10px">
                    <span>{{getEntry(entry, header)}}</span>
                </div>

                <span *ngIf="!header.type" [matTooltip]="header.tooltip && header.tooltip(entry)">{{getEntry(entry,
                    header)}} <span *ngIf="header.suffix">{{header.suffix}}</span></span>
                <span *ngIf="header.type === 'text'" [matTooltip]="header.tooltip && header.tooltip(entry)">{{getEntry(entry,
                    header) | translate}}</span>    
                
            </td>
            <td *ngIf="itemOptions && itemOptions.length && options && options.optionsType === 'menu'"
                (click)="$event.stopPropagation()">
                <button mat-icon-button [matMenuTriggerFor]="optsMenu" *ngIf="" class="icon-btn-small"
                    style="min-width: 0" (click)="$event.stopPropagation()">
                    <span class="center h v">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                </button>
                <icon-btn [matMenuTriggerFor]="optsMenu" icon="fa-ellipsis-v"></icon-btn>

                <mat-menu #optsMenu="matMenu">
                    <ng-template ngFor let-option [ngForOf]="itemOptions" [ngForTrackBy]="trackByFn">
                        <button mat-menu-item [disabled]="isOptionDisabled(option, entry)"
                            *ngIf="isEnabled(option, entry)" (click)="option.callback(entry)">
                            <p class="small-text {{option.class}}"> <i *ngIf="option.icon"
                                    class="fa {{option.icon}}"></i>
                                {{getOptionText(option)|translate}}</p>
                        </button>
                    </ng-template>
                </mat-menu>
            </td>
            <td *ngIf="itemOptions && itemOptions.length && options.optionsType === 'buttons'"
                (click)="$event.stopPropagation()">
                <ng-template ngFor let-option [ngForOf]="itemOptions" [ngForTrackBy]="trackByFn">
                    <icon-btn *ngIf="option.icon && isEnabled(option, entry)"
                        [disabled]="isOptionDisabled(option, entry)"
                        (click)="$event.stopPropagation(); option.callback(entry)" [icon]="option.icon"
                        class="btn-icon-sm {{option.class}}" matTooltip="{{getOptionText(option)|translate}}">
                    </icon-btn>

                    <button *ngIf="!option.icon && isEnabled(option, entry)" mat-button color="primary"
                        [disabled]="isOptionDisabled(option, entry)"
                        (click)="$event.stopPropagation(); option.callback(entry)" class="mat-button {{option.class}}"
                        style="min-width: 0; margin-right: 8px">
                        <p class="small-text {{option.class}}"> <i *ngIf="option.icon" class="fa {{option.icon}}"></i>
                            {{getOptionText(option)|translate}}</p>
                    </button>
                </ng-template>
            </td>

        </tr>
    </table>
    <div *ngIf="showLoader && loading" class="abs-center center h v bg-white-opaque" style="width: 100%;">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
    </div>

    <div class="center h" style="width: 100%; padding: 15px 0" *ngIf="!loading && data.length <= 0">
        <p class="small-text-2" style="text-align: center;">{{noItemsMessage|translate}}</p>
    </div>
    <mat-paginator *ngIf="showPaginator && data.length" [length]="total" [pageSize]="limit"
        [pageIndex]="pageIndex/limit" (page)="changedPage($event)" [pageSizeOptions]="[10, 25, 100]"
        showFirstLastButtons>
    </mat-paginator>
</div>