<header-nav></header-nav>
<sidemenu></sidemenu>

<error-report-btn *ngIf="environment.beta"></error-report-btn>
<div class="page padd-x20" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
  <div class="header" style="border: none; height: auto">
    <div class="center v h column" style="width: 100%; padding: 15px 0">
      <h4>
        {{'Manage you refered accounts' | translate}}
      </h4>
      <p class="small-text-2">{{'MANAGE_ACCOUNTS_DESC' | translate}}.</p>

      <div class="group-col-left center h v" style="margin-top: 20px; width: 100%">
        <p class="small-text-2">
          {{'Share this link, and people that register using it will become refered by you, you will receive a fee from their movements'|translate}}
        </p>
        <input type="text" class="input no-margin" [value]="refered_url" style="margin-left: 10px!important; width: 300px">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="fill-space bg-white">
        <div class="header padd-x20 center v space-between" style="width: 100%; margin-bottom: 0">
          <p class="small-text">
            {{'Referred Accounts'|translate}}
          </p>
          <p class="small-text">
            {{'Reseller Percentage'|translate}}:
            <b>{{us.userData.group_data.reseller_percentage}}%</b>
          </p>
        </div>
        <div class="">
          <table>
            <tr>
              <th style="color: #555!important">ID</th>
              <th style="color: #555!important">{{'NAME' | translate}}</th>
              <th></th>
            </tr>

            <tr *ngFor="let acc of accountList; let i = index">
              <td>{{acc.id}}</td>
              <td>
                <b>{{acc.name}}</b>
              </td>
              <td>
                <button md-icon-button [matMenuTriggerFor]="options" class="icon-btn-small">
                  <p class="small-text center v h">
                    <i class="fa fa-ellipsis-v"></i>
                  </p>
                </button>
                <md-menu #options="mdMenu">
                  <button md-menu-item (click)="showConfirmDelete(acc, i)">
                    <p class="small-text text-danger">
                      {{'Delete'|translate}}
                    </p>
                  </button>
                </md-menu>
              </td>
            </tr>
            <div class="abs-center center h v bg-white-opaque" style="width: 100%;" *ngIf="loading">
              <md-progress-spinner color="primary" mode="indeterminate" style="width: 40px; height: 40px">
              </md-progress-spinner>
            </div>
          </table>
          <div class="center h" style="width: 100%; padding: 15px 0" *ngIf="(!loading && totalAccounts <= 0) || accountList.length <= 0">
            <p class="small-text-2">{{'NO_ACC_YET'|translate}}.</p>
          </div>
          <md-paginator [length]="totalAccounts" [pageSize]="10" (page)="changedPage($event)" [pageSizeOptions]="[5, 10, 25, 100]">
          </md-paginator>
        </div>
      </div>
    </div>
  </div>
  <page-footer></page-footer>
</div>