<div style="height: 100%" *ngIf="!kycFormOpen">
  <div class="row" style="margin: 0; padding: 20px">
    <div class="col-lg-12" style="margin-bottom: 15px;">
      <div class="fill-size bg-white" style="padding: 10px 15px;">
        <div class="center v space-between" style="border-bottom: 1px solid #ddd;padding-bottom: 10px">
          <p class="small-text-2 col-blue">
            {{'CURRENT TIER'|translate}}:
            <b>{{us.userData.group_data.tier}}</b>
            <br>
            <span class="col-gray-light">{{currentTier.description|translate}}</span>
          </p>
          <!-- <button type="button" md-raised-button name="button" *ngIf="(us.userData.group_data.tier) < 3 && tiers[us.userData.group_data.tier].canValidate"
            color="primary" (click)="openTierValidation(us.userData.group_data.tier+1)">
            {{'Upgrade to'|translate}}: {{'TIER'|translate}} {{us.userData.group_data.tier + 1}}
          </button> -->
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-lg-6 col-xs-12 col-sm-12">
            <b class="small-text-2">
              {{'Daily Limits'|translate}}
            </b>
            <div class="group-col-left" style="padding: 0 10px">
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.daily.deposit.fiat | number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.daily.deposit.crypto == 'No Limit' ? 'No Limit': (currentTier.daily.deposit.crypto | number)}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.daily.withdraw.fiat | number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.daily.withdraw.crypto | number}}€</b>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 col-sm-12">
            <b class="small-text-2">
              {{'Monthly Limits'|translate}}
            </b>
            <div class="group-col-left" style="padding: 0 10px">
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.monthly.deposit.fiat|number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.monthly.deposit.crypto == 'No Limit' ? 'No Limit': (currentTier.monthly.deposit.crypto|number)}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.monthly.withdraw.fiat|number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{currentTier.monthly.withdraw.crypto|number}}€</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" style="margin-bottom: 10px;">
      <p class="small-text-2">{{'KYC TIERS'|translate}}</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 15px;" *ngFor="let tier of tiers">
      <div class="fill-size bg-white" style="padding: 10px 15px;">
        <div style="border-bottom: 1px solid #ddd;padding-bottom: 10px">
          <div class="center v space-between">
            <b class="small-text-2  col-blue" style="margin-right: 10px">
              {{'TIER'|translate}} {{tier.level}}
            </b>
            <span class="col-orange small-text" *ngIf="us.userData.group_data.tier >= tier.level">
              <i class="fa fa-check"></i> {{'Verified'|translate}}
            </span>

          </div>
          <p class="small-text-2 col-gray-light">{{tier.description|translate}}</p>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-lg-6 col-xs-12 col-sm-12">
            <b class="small-text-2">
              {{'Daily Limits'|translate}}
            </b>
            <div class="group-col-left" style="padding: 0 10px">
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.daily.deposit.fiat|number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.daily.deposit.crypto == 'No Limit' ? 'No Limit': (tier.daily.deposit.crypto | number)}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.daily.withdraw.fiat|number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.daily.withdraw.crypto|number}}€</b>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12 col-sm-12">
            <b class="small-text-2">
              {{'Monthly Limits'|translate}}
            </b>
            <div class="group-col-left" style="padding: 0 10px">
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.monthly.deposit.fiat|number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Deposit crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.monthly.deposit.crypto == 'No Limit' ? 'No Limit': (tier.monthly.deposit.crypto | number)}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw fiat' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.monthly.withdraw.fiat|number}}€</b>
              </div>
              <div class="tier-info-line">
                <p class="small-text" style="width: 120px;margin-right: 8px">{{'Withdraw crypto' | translate}}: </p>
                <b class="small-text" style="font-family: monospace">{{tier.monthly.withdraw.crypto|number}}€</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-lg-12 col-xs-12 col-sm-12">
            <b class="small-text-2">
              {{'Requirements'|translate}}
            </b>
            <p class="small-text-2 col-gray" style="margin-left: 8px !important" *ngIf="!tier.canValidate && tier.level == us.userData.group_data.tier+1">
              * {{'Please fill in all of the fields listed below, before you can request a tier upgrade from'|translate}}
              <a routerLink="/user" [queryParams]="{tab: 'profile'}" class="col-blue">{{'here'|translate}}</a>.
              <br> * {{'Once filled you will be able to upload your Identity Document to finish the validation'|translate}}
            </p>
            <p class="small-text-2 col-success" *ngIf="tier.canValidate && tier.level == us.userData.group_data.tier+1">
              * {{'You are ready to verify next TIER'|translate}}
            </p>
            <div class="group-col-left" style="padding: 0 10px">
              <ul style="list-style: default">
                <li *ngFor="let requirement of tier.requirements.items">
                  <p class="small-text">
                    <i class="small-text fa fa-check col-success marg-r-10" *ngIf="tier.requirements.filled_props && tier.requirements.filled_props[requirement]"></i>
                    <i class="small-text fa fa-check col-gray-light marg-r-10" *ngIf="tier.requirements.filled_props && !tier.requirements.filled_props[requirement]"></i>
                    {{requirement|translate}}
                  </p>
                </li>
              </ul>
              <div class="group-row-left center v">
                <button class="marg-r-10 validate-btn" (click)="openTierValidation(tier.level)" [disabled]="tier.level != us.userData.group_data.tier+1 || !tier.canValidate"
                  *ngIf="us.userData.group_data.tier < tier.level">
                  {{((tierPendingSince && tier.level == us.userData.group_data.tier+1)? 'Check Status': 'Verify')|translate}}
                </button>
                <i class="small-text-2" *ngIf="tierPendingSince && tier.level == us.userData.group_data.tier+1 && tierStatus !== 'denied'">{{'Waiting validation since'|translate}}:
                  <b>{{tierPendingSince | date: 'medium'}}</b>
                </i>
              </div>
              <div *ngIf="tier.level == us.userData.group_data.tier+1 && tierStatus == 'denied'">
                <p class="small-text-2">
                  {{'Tier validation has been denied please check all documens are correct and try again.'|translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <page-footer></page-footer>
</div>

<kyc-tier-validation [parent]="this" [tier]="1" *ngIf="kycFormOpen && kycLevel == 1">
  <p class="small-text-2">
    <span [innerHTML]="'PLEASE_UPLOAD_A_IDCARD' | translate: { tier: 1 }"></span>
    <span>{{'LIMITS_WILL_INCREASE'|translate}}</span>
  </p>
  <p class="small-text-2" style="margin-top: 15px!important">
    <span>{{'DOCUMENTS_MUST_SATISFY'|translate}}</span>
  </p>
</kyc-tier-validation>

<kyc-tier-validation [parent]="this" [tier]="2" *ngIf="kycFormOpen && kycLevel == 2">
  <p class="small-text-2">
    <span [innerHTML]="'PLEASE_UPLOAD_A_PORC' | translate: { tier: 2 }"></span>
    <span>{{'LIMITS_WILL_INCREASE'|translate}}</span>
  </p>
  <p class="small-text-2" style="margin-top: 15px!important">
    <span>{{'DOCUMENTS_MUST_SATISFY'|translate}}</span>
  </p>
</kyc-tier-validation>

<kyc-tier-validation [parent]="this" [tier]="3" [uploadButtons]="false" [showRequirementsList]="false" *ngIf="kycFormOpen && kycLevel == 3">
  <p class="small-text-2" [innerHTML]="'KYC_3_DESC' | translate">
    <!-- In order to achieve <b>KYC level 3</b> please write us to <a href="mailto:info@chip-chap.com">info@chip-chap.com</a> and we will arrange an skype meeting. -->
  </p>
</kyc-tier-validation>