<modal-header title="{{'BUSSINES_DETAILS'|translate}}" (click)="close(false)"></modal-header>

<div class="modal-body no-padd" style="min-height: 300px; padding: 0!important">
  <div class="bussiness-details">
    <div class="bussiness-bg">
      <div class="overlay"></div>
      <img
        src="{{bussiness.public_image || 'https://www.oxforduniversityimages.com/images/rotate/Image_Spring_17_4.gif'}}"
        alt="">
    </div>
    <div class="bussiness-info">
      <img src="{{Brand.profile_default_image}}" alt=""
        style="margin-right: 10px; width: 60px; height: 60px; border-radius: 50%;background: #666">
      <div>
        <h2 class="name">{{bussiness.name}}</h2>
        <p class="address">{{address}}</p>
      </div>
    </div>
  </div>
  <div class="group-col-left padd-x20">
    <p>{{bussiness.description || 'NO_DESCRIPTION'}}</p>

    <b style="margin-top: 15px">{{'SCHEDULE'|translate}}</b>
    <div *ngIf="bussiness.schedule" style="width: 100%;">
      <table>
        <tr>
          <th style="color: #555!important">{{'Day'|translate}}</th>
          <th style="color: #555!important">{{'Open'|translate}}</th>
          <th style="color: #555!important">{{'Morning'|translate}}</th>
          <th style="color: #555!important">{{'Evening'|translate}}</th>
        </tr>

        <tr *ngFor="let day of schedule">
          <td>
            {{day.name|translate}}
          </td>
          <td>
            <mat-checkbox disabled color="primary" [checked]="day.open"></mat-checkbox>
          </td>
          <td>
            <b>{{day.morning.open}}</b>-<b>{{day.morning.close}}</b>
          </td>
          <td>
            <b>{{day.evening.open}}</b>-<b>{{day.evening.close}}</b>
          </td>
        </tr>
      </table>
    </div>

    <div *ngIf="!bussiness.schedule" style="width: 100%; margin-top: 15px">
      <i>{{'NO_SCHEDULE'|translate}}</i>
    </div>

    <b style="margin-top: 15px">{{'OFFERS'|translate}}</b>
    <div *ngIf="bussiness.offers.length" style="width: 100%">
      <div *ngFor="let offer of bussiness.offers">

      </div>
    </div>

    <div *ngIf="!bussiness.offers.length" style="width: 100%; margin-top: 15px">
      <i>{{'NO_OFFERS'|translate}}</i>
    </div>
  </div>
</div>