<modal-header title="{{'EDIT_USER'|translate}}" (click)="close(false)"></modal-header>

<div class="group-col-left modal-body" style="width: auto; padding: 0!important">
  <mat-tab-group class="profile-tabs">
    <mat-tab label="{{'BASIC_INFO'|translate}}">

      <div class="row padd-20">
        <div class="col-lg-12 marg-bottom-20">
          <b class="small-text-3" style="margin: 15px 0 10px 0">{{'BASIC_INFO'|translate}}</b>
          <p class="small-text col-gray-light">{{'BASIC_INFO_DESC'|translate}}</p>
        </div>

        <div class="col-lg-6">
          <input-field [(value)]="userCopy.name" label="Name" [disabled]="loading"></input-field>
        </div>

        <div class="col-lg-6">
          <input-field  [(value)]="userCopy.kyc_validations.last_name" label="{{'Last Name' | translate}}" [disabled]="loading">
          </input-field>
        </div>

        <div class="col-lg-6">
          <input-field [(value)]="userCopy.username" label="Username" [disabled]="loading">
          </input-field>
        </div>

        <div class="col-lg-6">
          <input-field type="email" [(value)]="userCopy.email" label="Email" [disabled]="loading">
          </input-field>
        </div>

        <div class="col-lg-6">
          <div class="group-col-left">
            <div class="group-row-left space-between" style="width :100%">
              <span class="small-text-2">{{'Phone'|translate}}</span>
              <mat-checkbox color="primary" [(ngModel)]="userCopy.public_phone">
                <span class="small-text-2">{{'PUBLIC'|translate}}</span>
              </mat-checkbox>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <input type="tel" [formControl]="prefix" class="user-input small" style="max-width: 300px" [(ngModel)]="userCopy.prefix"
                  placeholder="Phone prefix">
                  <mat-error *ngIf="prefix.invalid"><small>{{'PHONE_PREFIX_INVALID' | translate}}</small></mat-error>
              </div>
              <div class="col-lg-8">
                <input type="tel" [formControl]="phone" class="user-input small" style="max-width: 300px" [(ngModel)]="userCopy.phone"
                  placeholder="Phone number">
                  <mat-error *ngIf="phone.invalid"><small>{{'PHONE_NUMBER_INVALID' | translate}}</small></mat-error>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <input-field type="date" [(value)]="userCopy.kyc_validations.date_birth" label="Birth Date"
            [disabled]="loading">
          </input-field>
        </div>
        <div class="col-lg-6">
          <input-field type="text" [(value)]="userCopy.username" label="Identity Document" [disabled]="loading">
          </input-field>
        </div>
        <div class="col-lg-3">
          <input-field type="select" [options]="genders" [(value)]="userCopy.kyc_validations.gender" label="Gender"
            [disabled]="loading">
          </input-field>
        </div>

        <div class="col-lg-3">
          <div class="group-col-left">
            <span class="small-text-2 marg-bottom-10">{{'Language'|translate}}</span>
            <lang-selector mode="event" (changed)="setLanguage($event)" [lang]="userCopy.locale">
            </lang-selector>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="group-col-left">
            <b class="small-text-3" style="margin: 15px 0 10px 0">{{'Address'|translate}}</b>
            <div class="row">
              <div class="col-lg-3">
                <div class="group-col-left">
                  <span class="small-text-2 marg-bottom-10">{{'Country'|translate}}</span>
                  <country-selector [(value)]="userCopy.kyc_validations.country"></country-selector>
                </div>
              </div>
              <div class="col-lg-3">
                <input-field type="text" [(value)]="userCopy.kyc_validations.street_name" label="Street"
                  [disabled]="loading">
                </input-field>
              </div>
              <div class="col-lg-3">
                <input-field type="number" [(value)]="userCopy.kyc_validations.street_number" label="Street Number"
                  [disabled]="loading">
                </input-field>
              </div>
              <div class="col-lg-3">
                <div class="group-col-left">
                  <span class="small-text-2  marg-bottom-10">{{'Street Type'|translate}}</span>
                  <street-type-selector (itemChanged)="userCopy.kyc_validations.street_type = $event" [item]="userCopy.kyc_validations.street_type"></street-type-selector>
                </div>
              </div>
              <div class="col-lg-6">
                <input-field type="text" [(value)]="userCopy.kyc_validations.neighborhood" label="Street Number"
                  [disabled]="loading">
                </input-field>
              </div>
              <div class="col-lg-6">
                <div class="group-col-left">
                  <span class="small-text-2  marg-bottom-10">{{'NATIONALITY'|translate}}</span>
                  <country-selector [(value)]="userCopy.kyc_validations.nationality"></country-selector>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="group-row-left" style="margin-top: 20px; margin-bottom: 20px">
            <btn-loader (click)="update()" [disabled]="loading || prefix.invalid || phone.invalid" [loading]="loading" text="{{'Update'|translate}}">
            </btn-loader>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="{{'PROFILE_APEARANCE'|translate}}">
      <div class="row padd-20">
        <div class="col-lg-12" style="height: auto">
          <b class="small-text-3" style="margin: 15px 0 8px 0!important">{{'PROFILE_APEARANCE' | translate}}</b>
          <p class="small-text col-gray-light">
            {{'PROFILE_APEARANCE_DESC'|translate}}
          </p>
        </div>
        <div class="col-lg-4">
          <file-selector label="Profile Image" [isAvatar]="true" [(file)]="userCopy.profile_image"></file-selector>
        </div>

        <div class="col-lg-4">
          <file-selector label="Document Front" [(file)]="userCopy.kyc_validations.document_front"></file-selector>
        </div>

        <div class="col-lg-4">
          <file-selector label="Document Rear" [(file)]="userCopy.kyc_validations.document_rear"></file-selector>
        </div>

        <div class="col-lg-12">
          <div class="group-row-left" style="margin-top: 20px; margin-bottom: 20px">
            <btn-loader (click)="update()" [loading]="loading" [disabled]="loading || prefix.invalid || phone.invalid" text="{{'Update'|translate}}">
            </btn-loader>
            <p *ngIf="error">{{error}}</p>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>