<header-nav></header-nav>
<sidemenu></sidemenu>

<div class="page wallet" [ngClass]="{'collapsed': !controles.sidemenuVisible}">
  <div class="wallet-transactions bg-white" style="margin-top: 0">
    <div class="group-col-left" style="margin: 0">
      <div class="fill-size center v space-between" style="padding: 10px 15px">
        <p class="small-text col-blue" style="margin-right: 15px!important">{{'TRANSACTIONS'|translate}}</p>
        <input type="text" class="input border-radius-2" style="width: 75%"
          placeholder="{{'Search by id i.e: 5c1929ea5a5c980c8a3ded33'|translate}}..." [(ngModel)]="filter.search"
          (keyup.enter)="search();" (keyup)="filter.filterModified = true;">
        <button mat-icon-button style="margin-left: 8px" (click)="getTransactions()">
          <span class="center h v">
            <i class="fa fa-search small-text-2"></i>
          </span>
        </button>
        <button mat-icon-button style="margin-left: 8px; padding-right: 6px;" (click)="exportCSV()"
          matTooltip="{{'EXPORT_TXS_AS_CSV'|translate}}">
          <span class="center h v">
            <i class="fa fa-download small-text-2"></i>
          </span>
        </button>
        <button mat-icon-button style="margin-left: 8px" title="Clear filters" (click)="filter.clearFilter()"
          *ngIf="filter.filterModified">
          <span class="center h v">
            <i class="fa fa-times col-error small-text-2"></i>
          </span>
        </button>
        <button type="button" style="margin-left: 8px; padding-right: 10px; width: auto" color="primary" mat-raised-button
          (click)="sendRecs()" name="button">
          <p class="text-small" style="width: auto">
            <i class="fa fa-plus"></i>
            {{'NEW_TX'|translate}}
          </p>
        </button>
      </div>
      <tx-filters style="border-top: 1px solid #e6e6e6;" [filter]="this.filter" [dateFrom]="dateFrom"
        (dateFromChanged)="dateFrom = $event" [dateTo]="dateTo" (dateToChanged)="dateTo = $event"></tx-filters>
    </div>
    <div class="group-col-left" style="width: 100%;">
      <table mdSort (mdSortChange)="sortData($event)" class="left-align">
        <thead class="bordered stripped">
          <tr>
            <th md-sort-header="sender_id" style="color: #555!important">
              {{'Sender Id'|translate}}
            </th>
            <th md-sort-header="sender_type" style="color: #555!important">
              {{'Sender type'|translate}}
            </th>

            <th md-sort-header="receiver_id" style="color: #555!important">
              {{'Receiver Id'|translate}}
            </th>
            <th md-sort-header="receiver_type" style="color: #555!important">
              {{'Receiver type'|translate}}
            </th>

            <th style="color: #555!important">
              {{'Amount'|translate}}
            </th>
            <th md-sort-header="method" style="color: #555!important">
              {{'Service'|translate}}
            </th>
            <th md-sort-header="internal" style="color: #555!important">
              {{'Internal'|translate}}
            </th>
            <th md-sort-header="created" style="color: #555!important">
              {{'Date'|translate}}
            </th>
            <th md-sort-header="status" style="color: #555!important">
              {{'Status'|translate}}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tx of sortedData; let i = index; trackBy: trackByFn">
            <td>
              {{tx.sender_id}}
            </td>
            <td>
              <span
                [ngClass]="{'col-blue': tx.sender_type === 'PRIVATE', 'col-orange': tx.sender_type === 'COMPANY'}">{{tx.sender_type}}</span>
            </td>
            <td>
              {{tx.receiver_id}}
            </td>
            <td>
              <span
                [ngClass]="{'col-blue': tx.receiver_type === 'PRIVATE', 'col-orange': tx.receiver_type === 'COMPANY'}">{{tx.receiver_type}}</span>
            </td>
            <td>
              <code>{{tx.amount|number}} Ɍ</code>
            </td>
            <td>
              <span class="badge bg-gray small-text" style="text-transform: capitalize; min-width: 100px">
                {{tx.service}}
              </span>
            </td>
            <td>
              <span class="fas fa-check col-success" *ngIf="tx.internal"></span>
              <span class="fas fa-times col-gray-light" *ngIf="!tx.internal"></span>
              <!-- {{tx.internal ? 'Internal': 'Not Internal'}} -->
            </td>
            <td>
              <i>
                <span>{{tx.date | date:'medium'}}</span>
              </i>
            </td>
            <td>
              <span class="status-{{tx.status}}" *ngIf="!utils.isMobileDevice">{{tx.status}}</span>
              <span class="circle bg-{{tx.status}}" *ngIf="utils.isMobileDevice"></span>
            </td>
            <td>
              <button mat-button [matMenuTriggerFor]="actions" class="icon-btn-small" mat-icon-button>
                <span class="center h v">
                  <i class="fa fa-ellipsis-v"></i>
                </span>
              </button>
              <mat-menu #actions="matMenu">
                <button mat-menu-item (click)="openTxDetails(tx.id)">
                  <p class="small-text">{{'View Details'|translate}}</p>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
        <div class="abs-center center h v bg-white-opaque" style="width: 100%;" *ngIf="loading">
          <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
          </mat-progress-spinner>
        </div>
      </table>
      <div class="center h v" style="width: 100%; padding: 15px 0" *ngIf="!sortedData.length && !loading">
        <p class="small-text-2">{{'NO_TRANSACTIONS_YET'|translate}}</p>
      </div>
      <mat-paginator [length]="totalWalletTransactions" style="width: 100%" [pageSize]="limit"
        (page)="changedPage($event)" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>