<div class="modal-header bg-blue">
    {{(isEdit ? 'EDIT_NEIGBORHOOD': 'NEW_NEIGBORHOOD')|translate}}

    <button type="button" mat-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
        <span class="center h v">
            <i class="fa fa-times col-white"></i>
        </span>
    </button>
</div>

<div class="group-col-left modal-body" style="width: auto; padding: 0!important">
    <div class="padd-20" style="width: 100%">
        <p style="padding-bottom: 15px">
            {{(!isEdit ? 'ADD_ITEM_DESC': 'EDIT_ITEM_DESC')|translate:({ type: 'NEIGBORHOOD' })}}
        </p>

        <div class="row" style="width: 100%">
            <div class="col-lg-12">
                <div class="group-col-left" style="width: 100%">
                    <span class="small-text-2">{{'Name'|translate}}</span>
                    <input type="text" class="user-input small" (blur)="check()" style="max-width: 100%"
                        [(ngModel)]="item.name" placeholder="{{'Name'|translate}}" (keyup.enter)="add()">
                </div>
                <div class="group-col-left" style="width: 100%">
                    <span class="small-text-2">{{'Description'|translate}}</span>
                    <input type="text" class="user-input small" (blur)="check()" style="max-width: 100%"
                        [(ngModel)]="item.description" placeholder="{{'Description'|translate}}" (keyup.enter)="add()">
                </div>
                <div class="group-col-left" style="width: 100%">
                    <span class="small-text-2">{{'TOWNHALL_CODE'|translate}}</span>
                    <input type="text" class="user-input small" (blur)="check()" style="max-width: 100%"
                        [(ngModel)]="item.townhall_code" placeholder="{{'TOWNHALL_CODE'|translate}}"
                        (keyup.enter)="add()">
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="group-row-left" style="margin-top: 20px; margin-bottom: 20px">
                <btn-loader (click)="add()" [disabled]="disabled || loading" [loading]="loading"
                    text="{{'SAVE'|translate}}">
                </btn-loader>
                <p *ngIf="error" class="col-error small-text marg-left-10">{{error}}</p>
            </div>
        </div>
    </div>
</div>