<div style="height: 100%" *ngIf="!kycFormOpen">
  <div class="row" style="margin: 0; padding: 10px 20px 20px 20px">
    <div class="col-lg-12 bg-white padd-x20" style="min-height: 200px;">
      <div class="header" style="margin-top: 10px; margin-bottom: 8px; justify-content: flex-start; padding-bottom: 10px">
        <button type="button" title="Return" (click)="returnBack()" mat-icon-button class="icon-btn-small" name="button">
          <span class="center v h">
            <i class="fa fa-arrow-left"></i>
          </span>
        </button>
        <h4 class="no-margin no-padding" style="margin: 0 !important; margin-left: 15px!important">KYC
          <b>{{'TIER'|translate}} {{tier}}</b> {{'verification'|translate}}</h4>
      </div>
      <div class="group-col-left" style="margin-left: 40px!important">
        <!-- Anything in the component tag will apear here -->
        <ng-content></ng-content>

        <div class="" *ngIf="showRequirementsList">
          <ul>
            <li>
              <p class="small-text">{{'High resolution and color'|translate}}</p>
            </li>
            <li>
              <p class="small-text">{{'Allowed formats'|translate}}:
                <b>jpeg, jpg, png and pdf</b>
              </p>
            </li>
            <li>
              <p class="small-text">{{'Max weight'|translate}}:
                <b>3mb</b>
              </p>
            </li>
            <li>
              <p class="small-text">{{'Min size'|translate}}:
                <b>300px x 300px</b>
              </p>
            </li>
            <li>
              <p class="small-text">{{'Max size'|translate}}:
                <b>1000px x 1000px</b>
              </p>
            </li>
            <li *ngIf="tier > 1">
              <p class="small-text">{{'VERIFIED_PORC'|translate}}</p>
            </li>
            <li>
              <p class="small-text">{{'FOR_NON_LATIN_LANGS'|translate}}</p>
            </li>
          </ul>
        </div>


        <div class="" *ngIf="tier == 1">
          <b class="small-text-2">{{'For TIER 1 you will need to provide an Identity Document'|translate}}</b>
          <ul>
            <li>
              <span class="small-text">{{'You should upload both parts of the Identity Document'|translate}} </span>
            </li>
            <li>
              <span class="small-text">{{'And ID should be:'|translate}} </span>
            </li>
            <li>
              <span class="small-text">{{'Color Scan'|translate}} </span>
            </li>
            <li>
              <span class="small-text">{{'Has expiration date'|translate}} </span>
            </li>
            <li>
              <span class="small-text">{{'Government issued ID'|translate}} </span>
            </li>
            <li>
              <span class="small-text">{{'Shows your date of birth'|translate}}</span>
            </li>
          </ul>
        </div>
        <div class="" *ngIf="tier == 2">
          <b>{{'For TIER 2 you will need to provide a Proof Of Residence Document'|translate}}</b>
          <ul>
            <li>
              <span class="small-text">{{'For TIER 2 you will need to provide a Proof Of Residence Document'|translate}}</span>
            </li>
            <li>
              <span class="small-text">{{'Proof Of Residence Document should be:'|translate}}</span>
            </li>
            <li>
              <span class="small-text">{{'Dated less than 3 months old'|translate}}</span>
            </li>
            <li>
              <span class="small-text">{{'Same address as given in Tier 1'|translate}}</span>
            </li>
            <li>
              <span class="small-text">{{'Your full name'|translate}}</span>
            </li>
            <li>
              <span class="small-text">{{'Utility bill, bank statement, credit card statement, etc.'|translate}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="uploadButtons" class="group-row-left center v" style="margin-top: 20px; margin-left: 40px!important; width: 100%">
        <button type="button" mat-raised-button color="primary" name="button" (click)="uploadDocument()">
          <i class="fa fa-upload"></i> {{'Upload Document'|translate}}
        </button>

        <button [disabled]="tierStatus && tierStatus !== 'denied'" style="margin-left: 30px" type="button" mat-raised-button color="primary"
          name="button" (click)="requestKycValidation()">
          <i class="fa fa-upload"></i>
          <span [innerHTML]="'REQUEST_TIER'|translate: { tier:  tier}"></span>
        </button>
        <!-- {{tier1Status}} -->
        <p *ngIf="tierPendingSince && tierStatus !== 'denied'" class="small-text-2" style="margin-left: 15px!important">
          <i>{{'Waiting validation since'|translate}}:
            <b>{{tierPendingSince | date: 'medium'}}</b>
          </i>
        </p>
        <p class="small-text-2" *ngIf="tierStatus == 'denied'">
          {{'Tier validation has been denied please check all documens are correct and try again.'|translate}}
        </p>
      </div>
    </div>
    <div class="col-lg-12 bg-white padd-x20" style="min-height: 200px;margin-top: 25px">
      <div class="header" style="margin-top: 15px; margin-bottom: 8px">
        <p class="small-text-2">{{'Uploaded KYC Files'|translate}}</p>
      </div>
      <table>
        <tr>
          <th style="color: #555!important">ID</th>
          <th style="color: #555!important">{{'CREATED'|translate}}</th>
          <th style="color: #555!important">{{'Preview'|translate}}</th>
          <th style="color: #555!important">{{'Extension'|translate}}</th>
          <th style="color: #555!important">{{'DESC'|translate}}</th>
          <th style="color: #555!important">{{'Status'|translate}}</th>
          <th></th>
        </tr>

        <tr *ngFor="let upload of kycUploads">
          <td>
            <b>{{upload.id}}</b>
          </td>
          <td>
            <i>{{upload.created | date: 'medium'}}</i>
          </td>
          <td>
            <img src="{{upload.url}}" alt="" style="height: 35px">
          </td>
          <td>{{upload.extension}}</td>
          <td>{{upload.description}}</td>
          <td class="status-{{upload.status}}">
            <div class="center v h">
              <span style="margin-left: 15px">{{upload.status}}</span>
            </div>
          </td>
        </tr>
      </table>
      <div class="center h v" style="width: 100%; padding: 15px 0" *ngIf="loading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
      <div class="center h" style="width: 100%; padding: 15px 0" *ngIf="!loading && kycUploads.length <= 0">
        <p class="small-text-2">{{'There are no uploads yet'|translate}}.</p>
      </div>
      <mat-paginator [length]="totalKycUploads" [pageSize]="10" (page)="changedPage($event)" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

  </div>
  <page-footer></page-footer>
</div>