<div style="position: relative">
    <table class="left-align" matSort [matSortDirection]="sortDir" [matSortActive]="sortId"
        (matSortChange)="sortData($event)">
        <tr class="bordered-bottom">
            <ng-template ngFor let-header [ngForOf]="headers">
                <th *ngIf="header.sortable === undefined  || header.sortable" mat-sort-header="{{header.sort}}">
                    {{header.title|translate}}</th>
                <th *ngIf="header.sortable !== undefined && !header.sortable" style="text-transform: capitalize">
                    {{header.title|translate}}</th>
            </ng-template>
            <th *ngIf="itemOptions"></th>
        </tr>
        <tr *ngFor="let entry of data; let i = index; trackBy: trackByFn">
            <td *ngFor="let header of headers">
                <mat-checkbox *ngIf="header.type === 'checkbox'" color="primary" [ngModel]="getEntry(entry, header)"
                    disabled></mat-checkbox>

                <span *ngIf="header.type === 'status'"
                    [ngClass]="header.statusClass(getEntry(entry, header))">{{getEntry(entry, header)}}</span>

                <code *ngIf="header.type === 'code'">{{getEntry(entry, header)}}</code>

                <i *ngIf="header.type === 'date'">{{getEntry(entry, header) | date}}</i>

                <button *ngIf="header.type === 'button'" mat-icon-button (click)="header.buttonAction(entry)">
                    <img *ngIf="header.buttonImg" src="{{header.buttonImg}}" alt=""
                        style="height: 25px;margin-right: 10px">
                    <span *ngIf="header.icon" class="fa fa-{{header.icon}}"></span>
                </button>

                <mat-slide-toggle *ngIf="header.type === 'slidetoggle'" color="primary" [(ngModel)]="entry[header.sort]"
                    (change)="header.slideAction(entry, $event)"></mat-slide-toggle>

                <div *ngIf="header.type === 'avatar'">
                    <img src="{{getEntry(entry, header.avatar) || Brand.account_default_image}}" alt=""
                        style="width: 25px; height: 25px; border-radius: 50%;margin-right: 10px">
                    <span>{{getEntry(entry, header)}}</span>
                </div>
                <span *ngIf="!header.type">{{getEntry(entry, header)}}</span>
            </td>
            <td *ngIf="itemOptions && itemOptions.length && options.optionsType === 'menu'">
                <button mat-icon-button [matMenuTriggerFor]="optsMenu" class="icon-btn-small" style="min-width: 0">
                    <span class="center h v">
                        <i class="fa fa-ellipsis-v"></i>
                    </span>
                </button>
                <mat-menu #optsMenu="matMenu">
                    <button mat-menu-item [disabled]="isOptionDisabled(option, entry)"
                        *ngFor="let option of itemOptions" (click)="option.callback(entry)">
                        <p class="small-text {{option.class}}"> <i *ngIf="option.icon" class="fa {{option.icon}}"></i>
                            {{getOptionText(option)|translate}}</p>
                    </button>
                </mat-menu>
            </td>
            <td *ngIf="itemOptions && itemOptions.length && options.optionsType === 'buttons'">
                <ng-template ngFor let-option [ngForOf]="itemOptions">
                    <button *ngIf="option.icon" mat-icon-button color="primary"
                        [disabled]="isOptionDisabled(option, entry)" (click)="option.callback(entry)"
                        class="{{option.class}}" matTooltip="{{getOptionText(option)|translate}}"
                        style="min-width: 0; margin-right: 8px">
                        <span class="center h v">
                            <i class="fa {{option.icon}}"></i>
                        </span>
                    </button>

                    <button *ngIf="!option.icon" mat-button color="primary" [disabled]="isOptionDisabled(option, entry)"
                        (click)="option.callback(entry)" class="{{option.class}}"
                        style="min-width: 0; margin-right: 8px">
                        <p class="small-text {{option.class}}"> <i *ngIf="option.icon" class="fa {{option.icon}}"></i>
                            {{getOptionText(option)|translate}}</p>
                    </button>
                </ng-template>
            </td>
        </tr>
    </table>
    <div *ngIf="showLoader && loading" class="abs-center center h v bg-white-opaque" style="width: 100%;">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
    </div>

    <div class="center h" style="width: 100%; padding: 15px 0" *ngIf="!loading && data.length <= 0">
        <p class="small-text-2">{{noItemsMessage|translate}}</p>
    </div>
    <mat-paginator *ngIf="showPaginator && data.length" [length]="total" [(pageSize)]="limit"
        (page)="changedPage($event)" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>