(function(window) {
    window.__env = {
        ...(window.__env || {}),
        ...{
            beta: false,
            captchaKey: '$PANEL_CAPTCHA_KEY',
            clientID: '$PANEL_CLIENT_ID',
            clientSecret: '$PANEL_CLIENT_SECRET',
            production: true,
            error_500_details: '$PANEL_DETAILED_ERROR_500',
            url: '$PANEL_API_URL',
            test: false,
            novactId: '$NOVACT_ID',
            adminId: '$ADMIN_ROOT_GROUP',
            poeditorUrl: '$POEDITOR_URL',
            poeditorProjectId: '$POEDITOR_PROJECT_ID',
            poeditorToken: '$POEDITOR_TOKEN',
            crypto_currency: '$CRYPTO_CURRENCY',
            sentry: {
                dsn: '$SENTRY_DSN',
                active: true,
            },
            Brand: {
                title: 'PANEL_TITLE',
                name: '$PANEL_ORGANIZATION_NAME',
                no_image_image: '../assets/resources/img/no-image.png',
                web_url: '$PANEL_WEB_URL',
                logo_url: 'LOGO_URL',
                logo: '$LOGO_URL',
                loading_logo_url: '$LOADING_LOGO_URL',
                account_default_image: '../assets/resources/img/User-default.png',
                favicon: '$PANEL_FAVICON_URL',
                terms_of_service_url: '$PANEL_TOS_URL',
                copyright_year: '$PANEL_COPYRIGHT_YEAR',
                api_docs_url: '$PANEL_API_DOCS_URL',
                sandbox_front_url: '$PANEL_SANDBOX_FRONT_URL',
                suport_url: '$PANEL_SUPPORT_URL',
                color: '$PANEL_MAIN_COLOR',
                color_dark: '$PANEL_DARK_COLOR',
                theme_main: '$PANEL_MAIN_THEME',
                theme_accent: '$PANEL_ACCENT_THEME',
            },
        },
    };
}(this));


