/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-spinner svg {
  width: 40px !important;
  height: 40px !important;
}
.activity-box-list {
  width: auto;
  height: 150px;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 2px;
  border: 1px solid #ddd;
  background: #f4f4f4;
  padding: 0;
}

.activity-list-item {
  cursor: pointer;
  padding: 6px 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    opacity: 0;
    transition: all ease-in-out 0.4s;
    font-size: 12px;
    line-height: 12px;
  }

  &:hover {
    background: rgba(rgb(242, 114, 35), 0.2);
    .icon {
      opacity: 1;
    }
  }
}

agm-map {
  height: 300px;
}


.report {
  width: 100%;
  display: flex;
  align-items: flex-start!important;

  .report-list {
    width: 45%;
    li {
      margin-top: 10px;
    }
  }

  .list-title {
    font-size: 18px;
    text-decoration: underline;
  }

  .list-item {
    font-size: 16px;
    text-decoration: underline;
  }
}

.text-medium {
  font-size: 22px;
}

.text-big {
  font-size: 28px;
}
