<div #self *ngIf="!hidden && validationErrors && validationErrors.length" class="bg-warn fill-size"
    style="padding: 10px 15px; position: relative;">
    <div class="abs-right-top">
        <button mat-button (click)="closeErrors()">
            <p class="small-text"><span class="fa fa-times"></span> Close</p>
        </button>
        <button mat-icon-button (click)="hideErrors()">
            <span class="fa fa-eye-slash"></span>
        </button>
    </div>

    <p class="small-text col-error"><i class="fa fa-warning"></i> Validation Errors <b>({{validationName}})</b>
    </p>
    <ol>
        <li class="small-text col-error" *ngFor="let error of validationErrors">
            <b>Error in property: {{error.property}}</b>
            <p>{{error.message}}</p>
        </li>
    </ol>

</div>
<div *ngIf="hidden && validationErrors && validationErrors.length" class="bg-warn fill-size"
    style="padding: 10px 15px; position: relative;">
    <p class="small-text col-error"><i class="fa fa-warning"></i> Validation Errors <b>({{validationErrors.length}})</b>
    </p>
    <button mat-icon-button class="abs-right-center" (click)="showErrors()">
        <span class="fa fa-eye"></span>
    </button>
</div>