<header-nav></header-nav>


<app-page class="new-delegate">
  <div class="new-delegate bg-white" style="margin-top: 0; position: relative;">

    <!-- Header -->
    <tl-header [options]="{ input: false }"
      title="{{(isNew ? 'NEW_CHANGE_DELEGATE': readonly ? 'VIEW_CHANGE_DELEGATE' : 'EDIT_CHANGE_DELEGATE')|translate}}">
      <div class="group-row-left center v" style="padding: 0 15px; position: relative;">
        <p class="small-text" style="margin-right: 10px!important">{{'SCHEDULED_FOR'|translate}}:</p>
        <b class="small-text" *ngIf="!changeScheduled">{{dataPassed ? 'Immediate': delegate.scheduled_at | date}}</b>
        <div *ngIf="changeScheduled" class="group-row-left center v">
          <input class="input radius-2" type="date" [(ngModel)]="dateScheduled">
          <input class="input radius-2" type="time" [(ngModel)]="timeScheduled">
          <button mat-icon-button (click)="saveScheduled()">
            <span class="fa fa-save"></span>
          </button>
        </div>
        <button [disabled]="readonly" *ngIf="!changeScheduled" mat-icon-button (click)="editScheduledAt()">
          <span class="fa fa-edit"></span>
        </button>
        <button [disabled]="readonly" *ngIf="changeScheduled" mat-icon-button (click)="closeScheduledAt()">
          <span class="fa fa-times"></span>
        </button>

        <span class="small-text status-{{delegate.status}}">{{delegate.status}}</span>
      </div>
    </tl-header>

    <tl-subheader>
      <div class="group-row-left center v" style="padding: 10px 15px!important;">
        <p class="small-text">
          <b>{{sortedData.length}}</b> {{'SELECTED_ACCOUNTS_COUNT'|translate}}
        </p>
        <button [disabled]="readonly" type="button" style="margin-left: 8px; padding-right: 10px" color="primary"
          mat-button name="button" (click)="openSelectAccounts()">
          <p class="text-small">
            <i class="fa fa-plus"></i>
            {{'ADD_ACCOUNTS'|translate}}
          </p>
        </button>

        <button [disabled]="readonly" type="button" style="margin-left: 8px; padding-right: 10px" color="primary"
          mat-button name="button" (click)="newImport()">
          <p class="text-small">
            <i class="fa fa-file"></i>
            {{'Import'|translate}}
          </p>
        </button>

        <button [disabled]="readonly" type="button" [disabled]="getSelected().length <= 0"
          style="margin-right: 10px; padding-right: 10px" color="primary" mat-button name="button"
          (click)="openEditSelected()">
          <p class="text-small">
            <i class="fa fa-edit"></i>
            {{'EDIT_ACCOUNTS'|translate}}
          </p>
        </button>
      </div>
    </tl-subheader>

    <validation-errors [errors]="validationErrors" *ngIf="validationErrors.length > 0"
      style="border-bottom: 1px solid #ddd!important; width: 100%" [validationName]="validationErrorName">
    </validation-errors>

    <!-- Table -->
    <div *ngIf="!readonly" class="fill-size"
      style="max-height: 350px; overflow-y: auto; position: relative;border-bottom: 1px solid #ddd!important">
      <table *ngIf="!loading && notSavedItems.length" class="left-align" style="min-height: 100px">
        <thead class="bordered stripped">
          <tr>
            <th>
              <mat-checkbox color="primary" [(ngModel)]="allSelected" (ngModelChange)="selectAll()"></mat-checkbox>
            </th>
            <th style="color: #555!important">
              {{'#'|translate}}
            </th>
            <th style="color: #555!important">
              {{'Account'|translate}}
            </th>
            <th style="color: #555!important">
              {{'Exchanger'|translate}}
            </th>
            <th style="color: #555!important">
              {{'Amount'|translate}}
            </th>
            <th style="color: #555!important">
              {{'Card Info'|translate}}
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of notSavedItems; let i = index; trackBy: trackByFn">
            <td>
              <mat-checkbox color="primary" [(ngModel)]="data.selected" (ngModelChange)="changed()"></mat-checkbox>
            </td>
            <td>{{data.id}}</td>
            <td>{{data.account.id}} <i>({{data.account.name}})</i></td>
            <td>{{data.exchanger.id}}</td>
            <td><code>{{data.amount}} €</code></td>
            <td>
              <b *ngIf="data.pan">{{data.pan}}</b>
              <b *ngIf="data.expiry_date">{{data.expiry_date}}</b>
              <b *ngIf="data.cvv2">{{data.cvv2}}</b>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="actions" [disabled]="readonly">
                <span class="center h v">
                  <i class="fa fa-ellipsis-v"></i>
                </span>
              </button>
              <mat-menu #actions="matMenu">
                <button mat-menu-item (click)="openEditAccount(data, i)">
                  <p class="small-text"><i class="fa fa-edit"></i> {{'Edit'|translate}}</p>
                </button>
                <hr>
                <button mat-menu-item (click)="deleteData(data, i)">
                  <p class="small-text col-error"><i class="fa fa-trash"></i> {{'DELETE'|translate}}</p>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="group-col-left center h v" style="width: 100%; padding: 15px 0;"
        *ngIf="!loading && !notSavedItems.length">
        <b class="small-text-2">{{'NO_ACCOUNTS_SELECTED'|translate}}</b>
        <p class="small-text">{{'SELECT_ACCOUNTS'|translate}}!</p>
        <button [disabled]="readonly" type="button" style="margin-left: 8px; padding-right: 10px" color="primary"
          mat-raised-button name="button" (click)="openSelectAccounts()">
          <p class="text-small">
            <i class="fa fa-plus"></i>
            {{'ADD_ACCOUNTS'|translate}}
          </p>
        </button>
      </div>

      <div class="abs-center center h v bg-white-opaque" style="width: 100%;" *ngIf="loading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
    </div>

    <tl-header [options]="{ input: false }" title="Saved items"></tl-header>

    <!-- Selected Items -->
    <div class="fill-size" style="max-height: 350px; overflow-y: auto; position: relative;">
      <table mdSort (mdSortChange)="sortData($event)" class="left-align" style="min-height: 100px">
        <thead class="bordered stripped">
          <tr>
            <th>
              <mat-checkbox color="primary" [(ngModel)]="allSelectedSaved" (ngModelChange)="selectAllSaved()">
              </mat-checkbox>
            </th>
            <th md-sort-header="id" style="color: #555!important">
              {{'#'|translate}}
            </th>
            <th style="color: #555!important">
              {{'CARD_INFO'|translate}}
            </th>
            <th style="color: #555!important">
              {{'CARD_USER'|translate}}
            </th>
            <th md-sort-header="exchanger_id" style="color: #555!important">
              {{'EXCHANGER_ACCOUNT'|translate}}
            </th>
            <th md-sort-header="account_id" style="color: #555!important">
              {{'BENEFICIARY_ACCOUNT'|translate}}
            </th>
            <th md-sort-header="amount" style="color: #555!important">
              {{'Amount'|translate}}
            </th>
            <!-- <th style="color: #555!important">
              {{'Card Info'|translate}}
            </th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of savedItems; let i = index; trackBy: trackByFn">
            <td>
              <mat-checkbox color="primary" [(ngModel)]="data.selected" (ngModelChange)="changed()"></mat-checkbox>
            </td>
            <td>{{data.id}}</td>
            <td>
              <b *ngIf="data.pan">{{data.pan}}</b>
              <b *ngIf="data.expiry_date">{{data.expiry_date}}</b>
              <b *ngIf="data.cvv2">{{data.cvv2}}</b>
            </td>
            <td></td>
            <td>{{data.exchanger.name}} (<a class="col-blue" routerLink="/accounts/{{data.exchanger.id}}">{{data.exchanger.id}}</a>)</td>
            <td>{{data.account.name}} (<a class="col-blue" routerLink="/accounts/{{data.account.id}}">{{data.account.id}}</a>)</td>
            <td><code>{{data.amount}} €</code></td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="actions" [disabled]="readonly">
                <span class="center h v">
                  <i class="fa fa-ellipsis-v"></i>
                </span>
              </button>
              <mat-menu #actions="matMenu">
                <button mat-menu-item (click)="openEditAccount(data, i, true)">
                  <p class="small-text"><i class="fa fa-edit"></i> {{'Edit'|translate}}</p>
                </button>
                <hr>
                <button mat-menu-item (click)="deleteData(data, i, true)">
                  <p class="small-text col-error"><i class="fa fa-trash"></i> {{'DELETE'|translate}}</p>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="group-col-left center h v" style="width: 100%; padding: 15px 0;"
        *ngIf="!loading && !savedItems.length">
        <b class="small-text-2">{{'NO_ENTRIES'|translate}}</b>
      </div>

      <div class="abs-center center h v bg-white-opaque" style="width: 100%;" *ngIf="loading">
        <mat-progress-spinner [diameter]="40" color="primary" mode="indeterminate" style="width: 40px; height: 40px">
        </mat-progress-spinner>
      </div>
    </div>

    <!-- Paginator -->
    <div class="fill-size">
      <mat-paginator [length]="totalSaved" style="width: 100%" [pageSize]="limitSaved" (page)="changedPageSaved($event)"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

    <!-- Footer -->
    <div class="fill-size" style="padding: 10px 15px; border-top: 1px solid #ddd">
      <button type="button" style="margin-left: 8px; padding-right: 10px" color="primary"
        [disabled]="saved && !notSavedItems.length || readonly" mat-button name="button" (click)="saveEntries()">
        <p class="text-small">
          {{'SAVE'|translate}}
        </p>
      </button>
      <button type="button" style="margin-left: 8px; padding-right: 10px" color="primary" mat-raised-button
        name="button" (click)="activateChange()" [disabled]="readonly">
        <p class="text-small">
          {{'Activate'|translate}}
        </p>
      </button>
    </div>

    <!-- Loader -->
    <div class="overlay group-col-left center h v" *ngIf="savingEntries">
      <mat-progress-spinner [diameter]="40" color="primary" mode="determinate" [value]="percentageSent"
        style="width: 40px; height: 40px"></mat-progress-spinner>
      <p class="small-text-1">
        Sending: <b>{{objectsSent}} of {{objectsToSend}}</b>
      </p>
    </div>
  </div>
</app-page>