<mat-card>
  <button class="abs-top-right" color="primary" mat-icon-button (click)="selectTimeframe(selectedTimeframe)">
    <i class="fa fa-refresh"></i>
  </button>

  <div class="row">
    <div class="{{timeframes && timeframes.length ? 'col-lg-10': 'col-lg-12'}}">
      <div id="{{id}}" class="chart-parent"></div>
    </div>
    <div class="col-lg-2" *ngIf="timeframes && timeframes.length">
      <div class="group-col-left center h v space-around" style="height: 100%">
        <button mat-raised-button (click)="selectTimeframe(timeframe)"
          color="{{timeframe === selectedTimeframe ? 'primary': ''}}" *ngFor="let timeframe of timeframes"
          style="width: 100%; margin-bottom: 10px; padding: 0 6px!important;">
          {{timeframe.name|translate}}
        </button>
      </div>
    </div>
  </div>
</mat-card>