<div class="group-col-left" style="margin: 0">
    <div class="fill-size center v space-between" style="padding: 10px 15px">
        <p class="small-text col-blue" style="margin-right: 15px!important">{{'TRANSACTION_BLOCK'|translate}}</p>
        <button type="button" style="margin-left: 8px; padding-right: 10px; "
            color="primary" mat-raised-button name="button" (click)="showNewChange()">
            <p class="text-small">
                <i class="fa fa-plus" style="margin-right: 5px;"></i>
                {{'NEW_CHANGE'|translate}}
            </p>
        </button>
    </div>
</div>