<div class="modal-header bg-blue">
  <span>TX DETAILS</span>
  <button type="button" md-icon-button class="icon-btn-small" name="button" (click)="close()" title="close">
    <span class="center h v">
      <i class="fa fa-times col-white"></i>
    </span>
  </button>
</div>
<div class="row" style="margin:0; max-height: 80vh; overflow-y: auto; overflow-x: hidden">
  <div class="col-lg-12 padd-x20" style="margin: 0!important">
    <div class="center v space-between bord-bottom">
      <p class="small-text-2">
        <b>ID: </b> {{transaction.id}}
      </p>
      <p class="small-text-2 badge bg-{{transaction.status}}">{{transaction.status}}</p>
    </div>

    <div class="group-col-left padd-x20">
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Created'|translate}}: </b>
        <i>{{transaction.created | date: 'medium'}}</i>
      </div>
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Service'|translate}}: </b>
        <span class="monospace">{{transaction.service}} · {{transaction.type}}</span>
      </div>
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Amount'|translate}}: </b>
        <span class="monospace col-blue">{{scaleNum(transaction.amount, transaction.scale)}} {{transaction.currency}}</span>
      </div>
      <div class="small-text-2 marg-b-10" *ngIf="transaction.ip">
        <b class="minw-100">IP: </b>
        <span class="monospace">{{transaction.ip}}</span>
      </div>
    </div>

    <div class="center v space-between bord-bottom" *ngIf="transaction.pay_in_info">
      <p class="small-text-2">{{'Received Data'|translate}} IN</p>
    </div>

    <div class="group-col-left padd-x20" *ngIf="transaction.pay_in_info">
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Amount'|translate}}: </b>
        <span class="monospace">{{transaction.unitsScaled}} {{transaction.currency}}</span>
      </div>
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Price'|translate}}: </b>
        <span class="monospace">1 {{transaction.currency}} = {{transaction.actual_price}} {{transaction.scales.from}}</span>
      </div>
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Total'|translate}}: </b>
        <span class="monospace">{{transaction.unitsScaled}} {{transaction.currency}} = {{(transaction.actual_price * transaction.unitsScaled)|number:'1.0-8'}}
          {{transaction.scales.from}}
        </span>
      </div>
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Concept'|translate}}: </b>
        <span>{{transaction.concept || 'No concept'}}</span>
      </div>
      <div *ngIf="transaction.pay_in_info.address" class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Address'|translate}}: </b>
        <span>{{transaction.pay_in_info.address}}</span>
      </div>
      <div *ngIf="transaction.pay_in_info.received" class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Total Received'|translate}}: </b>
        <span>{{scaleNum(transaction.pay_in_info.received, transaction.pay_in_info.scale)}} {{transaction.pay_in_info.currency}}</span>
      </div>
    </div>

    <div class="center v space-between bord-bottom" *ngIf="transaction.pay_out_info">
      <p class="small-text-2">{{'Received Data'|translate}} OUT</p>
    </div>
    <div class="group-col-left padd-x20" *ngIf="transaction.pay_out_info">
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Amount'|translate}}: </b>
        <span class="monospace">{{transaction.unitsScaled}} {{transaction.currency}}</span>
      </div>
      <div class="small-text-2 marg-b-10" *ngIf="transaction.actual_price && transaction.data_in">
        <b class="minw-100">Price: </b>
        <span class="monospace">1 {{transaction.currency}} = {{transaction.actual_price}} {{transaction.scales.from}}</span>
      </div>
      <div class="small-text-2 marg-b-10" *ngIf="transaction.actual_price && transaction.data_in">
        <b class="minw-100">{{'Total'|translate}}: </b>
        <span class="monospace">{{transaction.unitsScaled}} {{transaction.currency}} = {{(transaction.actual_price * transaction.unitsScaled)|number:'1.0-8'}}
          {{transaction.scales.from}}
        </span>
      </div>
      <div class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Concept'|translate}}: </b>
        <span>{{transaction.concept || 'No concept'}}</span>
      </div>
      <div *ngIf="transaction.pay_out_info.address" class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Address'|translate}}: </b>
        <span>{{transaction.pay_out_info.address}}</span>
      </div>
      <div *ngIf="transaction.pay_out_info.received" class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Total Received'|translate}}: </b>
        <span class="monospace">{{scaleNum(transaction.pay_out_info.received, transaction.pay_out_info.scale)}} {{transaction.pay_out_info.currency}}</span>
      </div>
      <div *ngIf="transaction.pay_out_info.find_token" class="small-text-2 marg-b-10">
        <b class="minw-100">{{'Find Token'|translate}}: </b>
        <span>{{transaction.pay_out_info.find_token}}</span>
      </div>
    </div>

    <div class="center v space-between bord-bottom" *ngIf="transaction.comment && transaction.comment.length">
      <p class="small-text-2">{{'Comments'|translate}}</p>
      <div class="group-col-left">
        <div class="paneled" *ngFor="let comment of transaction.comment">
          {{comment}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="group-row-left padd-x20" style="justify-content: flex-end">
      <button *ngIf="showRefund" type="button" (click)="doRefund()" md-raised-button name="button" style="margin-right: 10px" title="Refund the transaction">Refund</button>
      <button type="button" md-raised-button color="primary" name="button" (click)="close()">
        <p class="small-text-2">{{'Close'|translate}}</p>
      </button>
    </div>
  </div>