<modal-header [status]="status" title="{{title|translate: data}}" (click)="close(false)">
  <i *ngIf="headerIcon" class="fa fa-{{headerIcon}}" style="margin-right: 10px"></i>
</modal-header>

<div class="group-col-left padd-20" style="max-width: 50vw">

  <div class="group-row-left">
    <p [innerHTML]="message | translate : data"></p>
    <p class="marg-left-10" *ngIf="trailing">{{trailing|translate}}</p>
  </div>

  <div class="group-row-left" style="width: 100%; justify-content: flex-end; margin-top: 25px">
    <button type="button" mat-button name="button" (click)="close(false)" style="margin-right: 10px">
      {{btnCancelText|translate}}
    </button>
    <button type="button" mat-button color="primary" name="button" (click)="opts.customBtnClick()"
      *ngIf="opts.customBtn" style="margin-right: 10px">
      <b>{{opts.customBtnText|translate}}</b>
    </button>
    <button type="button" mat-raised-button *ngIf="confirmBtnShown" color="{{status == 'error' ? 'warn': 'primary'}}" name="button"
      (click)="close(true)">
      <b>{{btnConfirmText|translate}}</b>
    </button>
  </div>
</div>